<template>
    <div class="col-md-4 col-sm-6 item">
        <div class="box"><img class="img-circle" src="../assets/img/1.jpg" />
            <h3 class="name"><a href="/leader/worker-profile.html">Ben Johnson </a><i class="fa fa-thermometer-empty" style="color:rgb(242,22,8);"></i></h3>
            <p class="title">Software Developer</p>
            <ul class="list-group">
                <li class="list-group-item"><span>Talents </span><i class="fa fa-remove" style="color:rgb(242,22,8);"></i><i class="fa fa-remove" style="color:rgb(242,22,8);"></i><i class="icon ion-ios-checkmark" style="color:rgb(6,231,55);"></i></li>
                <li class="list-group-item"><span>Motivators: </span><i class="fa fa-remove" style="color:rgb(242,22,8);"></i></li>
                <li class="list-group-item"><span>De-Motivators: </span><i class="fa fa-remove" style="color:rgb(242,22,8);"></i><i class="fa fa-remove" style="color:rgb(242,22,8);"></i><i class="fa fa-remove" style="color:rgb(242,22,8);"></i></li>
                <li class="list-group-item"><span>Position Qualifications Requirements: </span><i class="icon ion-ios-checkmark" style="color:rgb(6,231,55);"></i><i class="icon ion-ios-checkmark" style="color:rgb(6,231,55);"></i></li>
                <li class="list-group-item"><span>Experience Requirements </span><i class="icon ion-ios-checkmark" style="color:rgb(6,231,55);"></i></li>
            </ul>
        </div>
    </div>
</template>
