<template>
   <span>
      <q-card>
         <q-card-title>
            Why is it Important?
         </q-card-title>
         <q-card-main v-if='type==="ABILITY"'>
            <p class="caption">Cognitive ability refers to capabilities related to the acquisition and
               application of knowledge in problem solving. Cognitive abilities are very relevant in the
               jobs most of you will be involved with—that is, work involving the use of information
               to make decisions and solve problems
            </p>
            <p class="bold" style='font-style:italic'>  In fact, of all the variables, none has a
               stronger correlation with task performance than general cognitive ability.
            </p>
            <p class="caption medium italic">
               Thousands of organizations, many of which are quite well known, assess
               cognitive ability in efforts to select the best candidates available for
               specific jobs. The use of cognitive ability tests for this purpose appears
               to be quite reasonable, given that scores on such tests have a strong positive
               correlation with measures of performance across different types of jobs
            </p>
            <a :href='host+"/leader/Ability"' target='_blank'>More on Abilities</a>
         </q-card-main>
         <q-card-main v-if='type==="MOTIVATOR" || type==="DEMOTIVATOR"'>
            <p class="caption">
               Money is great, but few organizations can continually (and legally) offer the kind of money that really makes a difference. What they can offer is all the other stuff that gets and keeps people engaged - feeling excited and motivated.
            </p>
            <p class="caption">
               What the person wants — and what doesn't want - is as unique and individual
               as is what you want — and don’t want
            </p>
            <p class="caption"> There’s only one approach that reliably and dynamically identifies
               what your people want and what they don’t want: the two factors that will inspire
               them to give—and keep on giving—Hundred Percenter effort. You must engage
               them in a one-to-one conversation and ask them outright.
            </p>
            <p v-if='type==="DEMOTIVATOR"' class="caption"> You need to find out what frustrates folks enough to potentially shove them out the door, it won’t matter what you lay at their feet to try and tug them to stay; it won’t mean a thing, and it may even backfire on you. Before you can inspire folks to give more, you’ve got to wipe away, or at least neutralize, the things that make them give less.
            </p>
            <h6> How?</h6>
            <p v-if="type==='MOTIVATOR'" class="caption">Ask a question: "Tell me about a time in the past month or two when you felt motivated (or excited, etc)?"</p>
            <p v-if="type==='DEMOTIVATOR'" class="caption"> How: Ask a question: "Tell me about a time in the past month or two when you felt demotivated (or frustrated, or emotionally burned out)?"</p>

            <a :href='host+"/leader/Motivation"'  target='_blank'>More on Motivation and Demotivation</a>
         </q-card-main>
         <q-card-main v-if='type==="SKILL" || type==="KNOWLEDGE"'>
            <p class="caption">
               Skills and knowledge are important part of overall competence.
            </p>
         </q-card-main>
         <q-card-main v-if='type==="STRENGTH" || type==="WEAKNESS"' >
            <p class="caption"> Strength is a combination of ability and interests.
               It takes time and effort to gain a full appreciation of an employee’s strengths and weaknesses. The great manager spends a good deal of time outside the office walking around, watching each person’s reactions to events, listening, and taking mental notes about what each individual is drawn to and what each person struggles with.
            </p>
            <h6>How?</h6>
            <p style='font-style:italic' class="caption">
               There’s no substitute for this kind of observation, but you can obtain a lot of information about a person by asking a few simple, open-ended questions and listening carefully to the answers.
            </p>
            <p class="caption" v-if="type==='STRENGTH'"> To identify strengths, ask “What was the best day at work you’ve had in the past three months?”
            </p>
            <p v-if="type==='WEAKNESS'">To identify weaknesses, invert the question: “What was the worst day you’ve had at work in the past three months</p>
            <p v-if='type==="STRENGTH"' class="caption">
               Find out what the person was doing and why he enjoyed it so much. Remember: A strength is not merely something you are good at. In fact, it might be something you aren’t good at yet. It might be just a predilection, something you find so intrinsically satisfying that you look forward to doing it again and again and getting better at it over time. This question will prompt your employee to start thinking about his interests and abilities from this perspective
            </p>
            <p v-if='type==="WEAKNESS"' class="caption">
               Probe for details about what he was doing and why it grated on him so much. As with a strength, a weakness is not merely something you are bad at (in fact, you might be quite competent at it). It is something that drains you of energy, an activity that you never look forward to doing and that when you are doing it, all you can think about is stopping.
            </p>

            <!-- <p class="caption">Technical skills enable skilled work while soft skills enable easy interaction with others.
               As such Technical skills act as a qualifying barrier for entry for many tasks and assignments.</p>

               <p class="caption">Technical skills comprise the knowledge and capabilities to perform specialized tasks related
               to a specific field. For IT, computer programming is a technical skill and it may include aspects
               like knowledge of computer languages, knowledge of advanced algorithms, or knowledge of assembly
                languages related to the basic functions of a computer.</p>
               -->
         </q-card-main>
         <q-card-main v-if='type==="GOAL"' >
            <p class="caption">
              To motivate employees to give 100%  effort have a challenging (HARD) goal. A <b>H</b>eartfelt <b>A</b>nimated <b>R</b>equired <b>D</b>ifficult goal.
            </p>
            <p class="caption">
              Here is why:
            </p>
            <p class="caption">
              <b>First</b>, HARD goals instill confidence... This is a way of the boss saying, “I believe in you; I trust you; you’re the right person for this job.”
            </p>
            <p class="caption">
              <b>Second</b>, HARD goals convey that work is important. Nobody would spend the time or energy to create HARD goals for work that was non-value-added (aka dumb, wasteful, etc.).
            </p>
             <!-- <p class="caption">
            There are many reasons why people don't get excited about their goals (not challenging, meaningful, or vital to our survival), <b>but one critical reason is that our goals are sterile - not inspirational</b>. They will not going to make us jump up and say, "Wow, I am going to sacrifice whatever is asked of me in order to achieve that! I will drop blood, sweat, and tears until I have given every ounce of strength to this cause"
          </p> -->
          <p class="caption">
            <b>HARD goals are aspirational.</b> They force us to push through our self-imposed limitations, to focus on something bigger than our own immediate wants, and to solve challenges of vital necessity
          </p>
          <p class="caption">
            <b>HARD goals are also <u>inspirational.</u></b> You may not naturally use the vivid imagery of a Martin Luther King, Jr., but there are specific tools that will help animate Objectives and improve their inspirational quotient. If you help people to really experience your goal, if you invite them to share in your dream, you too will inspire those people to sacrifice, achieve, and experience a deeper fulfillment than they would have otherwise imagined possible.
          </p>
          <p style='font-style:italic'>
              ... Our study shows that bosses who push employees harder than the employees would push themselves—who assign goals that require extra effort and skills development to succeed—have employees who like the boss and the company and who feel better about themselves and the work they do.
            </p>
           <p class="caption" style="font-style:italic">
            Source: Murphy, Mark. Hundred Percenters:  Challenge Your Employees to Give It Their All, and They'll Give You Even More (Kindle Locations 651-653, 656-662, 723-728). McGraw-Hill Education. Kindle Edition.
          </p>

         </q-card-main>
      </q-card>
   </span>
</template>
<script>
import {
  QCard,
  QCardTitle,
  QCardMain
} from 'quasar'

import { mapGetters, mapActions } from 'vuex'
import store from 'src/store/index'
// import MotivatorsList from 'src/constants/Motivators'
export default {
  store,
  props: ['member', 'type'],
  components: {
    QCard,
    QCardTitle,
    QCardMain
  },
  data () {
    var host = 'http://localhost'
    var model
    return {
      host,
      model
    }
  },
  computed: {
    ...mapGetters([
      'charsByMemberIdAndType'
    ])
  },
  filters: {
  },
  methods: {
    ...mapActions([
      'editMember'
    ])
  }
}
</script>
