<template>
  <div>
    <p class="caption">Select level of {{name}}</p>
    <q-select v-model='selected' :options="getLevels(code)" />
  </div>
</template>

<script>
import abilityLevels from 'src/constants/AbilityLevels.json'

export default {
  props: ['code', 'name', 'selectedLevel'],
  data () {
    return {
      selected: this.selectedLevel,
      levels: abilityLevels
    }
  },
  methods: {
    getFillersMap: function () {
      var map = new Map()
      map.set(1, 'level 1 - minimal')
      map.set(2, 'level 2 - between 1 and 3')
      map.set(3, 'level 3 - between 2 and 4')
      map.set(4, 'level 4 - between 3 and 5')
      map.set(5, 'level 5 - between 4 and 6')
      map.set(6, 'level 6 - between 5 and 7')
      map.set(7, 'level 7 - highest')
      return map
    },
    getLevels: function (id) {
      var levels = this.levels.filter(function (i) {
        return i.element_id === id
      })
      var map = this.getFillersMap()

      levels.forEach(function (k) {
        k.label = 'level ' + k.anchor_value + ' - ' + k.anchor_description
        k.value = k.anchor_value
        map.set(k.value, k.label)
      })
      var finalLevels = []
      map.forEach(function (value, key) {
        finalLevels.push({
          value: key,
          label: value
        })
      })
      return finalLevels
    }
  }
}
</script>
