<template>
  <q-list no-border>
    <q-list-header>
      <p v-if='member.personality_type'>
        {{member.personality_type}} Personality Filter :
        <q-toggle v-model='personalityFilterOn'> </q-toggle>
      </p>
    </q-list-header>
    <q-item :key='i' v-for="(item, i) in filteredChars">
      <q-item-side>
        <q-toggle v-model="item.selected" />
      </q-item-side>
      <q-item-main>
        <span>{{item.name}}</span>
      </q-item-main>
    </q-item>
  </q-list>
</template>

<script>
import { mapGetters } from 'vuex'
import store from 'src/store/index'

export default {
  store,
  props: ['member', 'type', 'chars', 'availChars'],
  data () {
    return {
      personalityFilterOn: true
    }
  },
  computed: {
    ...mapGetters([
      'charsByMemberIdAndType'
    ]),
    filteredChars () {
      var filtered = this.availChars.filter(i => i.type === this.type)
      if (this.personalityFilterOn && this.member.personality_type) {
        filtered = filtered.filter(x => x.personality_type === this.member.personality_type)
      }
      return filtered
    }
  }
}
</script>
