<template>
  <span>
    <q-card>
      <q-card-title>
        Why is it Important?
      </q-card-title>
      <q-card-main>
        <p class="caption">
          Knowing a personality type will help better predict what may motivate or demotivate a person. It will also
          help avoid putting clashing personalities together.</p>

        <p class="caption">
          There are hundreds of theories on personality types, but when it comes to workplace behavior,
          we’ve found there are seven driving needs that influence who people are and what they like and dislike:
            Achievement, Power, Affiliation, Security, Reward, Adventure, and Actualization.</p>

          <p class="caption">
            The section below will help you find the best personality type match for {{member.first_name}} and
            provide actionable guide on how to handle this personality types. </p>

        <a :href='host+"/leader/personality"' target='_blank'>More on Personality Types</a>
      </q-card-main>
    </q-card>
  </span>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'
import store from 'src/store/index'
// import MotivatorsList from 'src/constants/Motivators'
export default {
  store,
  props: ['member', 'type'],
  data () {
    var host = 'http://localhost'
    var model
    return {
      host,
      model
    }
  },
  computed: {
    ...mapGetters([
      'charsByMemberIdAndType'
    ])
  },
  filters: {
  },
  methods: {
    ...mapActions([
      'editMember'
    ])
  }
}
</script>
