<template>
<q-card>
      <q-card-title>
        <p> {{q.header}} </p>
      </q-card-title>
      <q-card-main>
        <p class="quote">
          <i>{{q.details}}</i>
        </p>
        <!-- <p>Provided answers:<q-btn icon='info' flat color='primary'> <q-tooltip  anchor="center middle" self="bottom right">
          Use this field to quickly capture the answers before analyzing them</q-tooltip></q-btn></p> -->
          <q-chips-input v-model="answer" />
      </q-card-main>
    </q-card>
</template>

<script>
import {
  QChipsInput,
  QCard,
  QCardTitle
} from 'quasar'

import questions from '../char/questions.json'

export default {
  props: ['code', 'answer'],
  components: {
    QChipsInput,
    QCard,
    QCardTitle
  },
  data () {
    var q = questions.find(x => x.code === this.code)
    return {
      q
    }
  },
  computed: {
  },
  methods: {
  },
  created () {
  }
}
</script>
