<template>
  <span>
    <q-toolbar>
      <q-btn icon='keyboard_arrow_left' flat @click="done" />
      <q-toolbar-title>Focusing on the {{title}} </q-toolbar-title>
    </q-toolbar>

    <q-list>
      <q-collapsible icon="explore" label="Goal: Identify Strengths">
        <char-selection-info :type='type' :member='member' />
      </q-collapsible>
    </q-list>

     <q-list no-border>
        <div style="margin:1em;">
          <q-input
            v-model="newStrength"
            float-label="Enter a strength"
            @keyup.enter="addStrength"
          />
        </div>

        <q-item v-for="(strength, i) in chars" :key='i' >
          <q-item-main>
            <span>{{strength.name}}</span>
          </q-item-main>
          <q-item-side>
            <q-btn
              icon='delete'
              @click='deleteStrength(strength)'
              flat
              color='red'
            />
          </q-item-side>
        </q-item>
      </q-list>
  </span>
</template>

<script>
import CharSelectionInfo from 'components/char/charSelectionInfo'

export default {
  props: ['member', 'title', 'chars', 'type'],
  components: {
    CharSelectionInfo
  },
  data () {
    return {
      newStrength: ''
    }
  },
  computed: {
    strengthsSummary () {
      return this.chars.map(char => {
        return char.name
      }).join('_')
    }
  },
  methods: {
    done () {
      this.updateStrengthsSummary()
      this.$emit('action', 'DONE')
    },
    cancel () {
      this.done()
    },
    strengthExists (code) {
      return this.chars.some(function (k) {
        return k.code === code
      })
    },
    deleteStrength (strength) {
      this.$store.dispatch('deleteStrength', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        strengthId: strength.id
      })
    },
    addStrength () {
      if (this.newStrength !== '' && !this.strengthExists(this.newStrength)) {
        let strength = {
          user_id: this.member.id,
          code: this.newStrength,
          name: this.newStrength,
          type: 'STRENGTH',
          is_addressed: false
        }
        this.$store.dispatch('addStrength', {
          teamId: this.$store.state.team.id,
          memberId: this.member.id,
          strength
        })
        this.newStrength = ''
      }
    },
    updateStrengthsSummary () {
      this.$store.dispatch('updateMember', {
        teamId: this.$store.state.team.id,
        member: {
          id: this.member.id,
          strengthsSummary: this.strengthsSummary
        }
      })
    }
  },
  created () {
    try {
      let userId = this.$store.state.user.uid
      let teamId = this.$store.state.team.id
      let memberId = this.member.id

      let memberURL = this.$store.state.isUserProfileEditing
        ? `users/${this.$store.state.user.uid}`
        : `users/${userId}/teams/${teamId}/members/${memberId}`

      this.$store.dispatch(
        'loadStrengths',
        this.$db.collection(`${memberURL}/strengths`)
      )
    } catch (ex) {
      //
    }
  }
}
</script>
