<template>
  <q-list no-border>
      <q-list-header>
        <p>What are your natural abilities, gifts or talents?</p>
        <q-btn color='primary' v-if='!parent.isRoot' flat v-on:click="goUp()" href="#"> {{parent.name}}</q-btn>
        <span v-else>{{parent.name}}</span>
      </q-list-header>
      <q-item :key='i' v-for="i in getChars(parent)">
        <q-item-side>
          <q-toggle v-if='!i.is_parent' v-model="i.selected"></q-toggle>
          <!-- <q-item-tile v-else icon="keyboard_arrow_right" color="primary" /> -->
          <q-btn icon='info' flat color='primary'> <q-tooltip  anchor="center middle" self="bottom right">
          {{i.description}}</q-tooltip></q-btn>
        </q-item-side>
        <q-item-main>
          <q-btn smaller color='primary' flat v-if='i.is_parent' v-on:click="setupTree(i)">{{i.name}}</q-btn>
          <span v-else>{{i.name}}</span>
        </q-item-main>
      </q-item>
    </q-list>
</template>

<script>
import {
  QTooltip,
  QToggle,
  QList,
  QBtn,
  QItemSide,
  QItemMain,
  QListHeader
} from 'quasar'
import { mapGetters, mapActions } from 'vuex'
export default {
  props: ['parent_id', 'availChars'],
  components: {
    QTooltip,
    QToggle,
    QList,
    QBtn,
    QItemSide,
    QItemMain,
    QListHeader
  },
  data () {
    var parent = {
      isRoot: true,
      code: this.parent_id,
      name: 'Answer Options'
    }
    return {
      parentPath: [],
      parent: parent
    }
  },
  computed: {
    ...mapGetters([
    ])
  },
  created () {
    this.setupTree(this.parent)
  },
  methods: {
    ...mapActions([
    ]),
    goUp: function () {
      if (this.parentPath.length > 0) {
        this.parent = this.parentPath.pop()
      }
    },
    getChars (p) {
      return this.availChars.filter(x => x.parent_id === p.code)
    },
    setupTree (p) {
      this.parentPath.push(this.parent)
      this.parent = p
    }
  }
}
</script>
