<template>
  <span>
    <button-summary label="Why do we exist?" :status='status' @click.native='opened=true'/>

    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout>

        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
          <q-toolbar-title>
            Purpose
            <info inverted :obj='purposeInfo'/>
          </q-toolbar-title>
        </q-toolbar>

        <q-card-title>
          <health-status :status='status'/>
        </q-card-title>

        <text-entry
          label='Why do we exist?'
          :input.sync='why'
          :examples='purposeExamples'
          help='Has to be completely idealistic. Core reason for existence. Has nothing to do with marketing, external or internal. Must be all about clarity and alignment'
        />
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import TextEntry from 'components/TextEntry'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
import Info from 'components/Info'
import {purposeInfo, purposeExamples} from 'components/playbook/purpose.json'

export default {
  components: {
    Info,
    TextEntry,
    ButtonSummary,
    HealthStatus
  },
  data () {
    return {
      opened: false,
      why: '',
      purposeInfo,
      purposeExamples
    }
  },
  computed: {
    status: function () {
      return this.why.length > 5 ? 100 : 0
    }
  },
  methods: {
    closeModal () {
      this.save()
      this.opened = false
    },
    save () {
      this.$store.dispatch('updatePlaybook', { purpose: {
        percComplete: this.status,
        purpose: this.why
      }})
    },
    initPurpose () {
      const playbook = this.$store.state.userProfile.playbook
      var purpose = playbook ? playbook.purpose : null
      purpose = purpose ? purpose.purpose : []
      this.why = purpose !== null ? purpose : this.why
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initPurpose()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initPurpose()
      }
    }
  }
}
</script>
