<template>
  <span>
    <button-summary :label="title" :status='level' @click.native='opened=true'/>
    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="opened=false"/>
          <q-toolbar-title>
            {{title}}
            <!-- <info inverted :obj='purposeInfo'/> -->
          </q-toolbar-title>
        </q-toolbar>
        <q-card-title>
          {{title}} <health-status :status='status'/>
        </q-card-title>

        <q-card-main>
          <q-list highlight>
            <q-item
              v-for="(char, i) in chars"
              :key="i"
            >
              <q-item-side>
                <q-toggle v-model="char.is_addressed" @input="updateChar(char)"/>
              </q-item-side>

              <q-item-main>
                {{ char.name }}
              </q-item-main>
            </q-item>
          </q-list>
        </q-card-main>

        <q-card-actions>
          <q-btn flat icon='edit' color='primary' @click='$refs.modal.show()'>
            setup
          </q-btn>
        </q-card-actions>
      </q-modal-layout>
    </q-modal>

    <q-modal class="maximized modal" ref="modal">
      <goal-selector
        v-if='charType==="GOAL"'
        v-on:action='onCharSelectorAction'
        viewAction='EDIT'
        :member='member'
        :type='charType'
        :title='title'
        :chars='chars'
      />

      <strengths-selector
        v-else-if='charType==="STRENGTH"'
        v-on:action='onCharSelectorAction'
        viewAction='EDIT'
        :member='member'
        :type='charType'
        :title='title'
        :chars='chars'
      />

      <char-selector
        v-else
        v-on:action='onCharSelectorAction'
        viewAction='EDIT'
        :member='member'
        :type='charType'
        :title='title'
        :parent_id='parent_id'
        :chars='chars'
      />
    </q-modal>
  </span>
</template>

<script>
import { mapGetters } from 'vuex'
import CharSelector from 'components/CharSelector'
import StrengthsSelector from 'components/char/strengthsSelector'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'

export default {
  components: {
    StrengthsSelector,
    CharSelector,
    ButtonSummary,
    HealthStatus
  },
  data () {
    return {
      opened: false,
      chars: []
    }
  },
  props: {
    status: Number,
    charType: String,
    viewAction: String,
    member: Object,
    parent_id: String,
    title: String,
    level: Number
  },
  computed: {
    ...mapGetters(['charsByMemberIdAndType']),
    stateChars () {
      return this.charsByMemberIdAndType(this.member.id, this.charType)
    }
  },
  methods: {
    updateChar (char) {
      switch (this.charType) {
        case 'STRENGTH':
          this.updateStrength(char)
          break
        case 'MOTIVATOR':
          this.updateMotivator(char)
          break
        case 'DEMOTIVATOR':
          this.updateDemotivator(char)
          break
      }
    },
    updateStrength (strength) {
      this.$store.dispatch('updateStrength', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        strength
      })
    },
    updateMotivator (motivator) {
      this.$store.dispatch('updateMotivator', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        motivator
      })
    },
    updateDemotivator (demotivator) {
      this.$store.dispatch('updateDemotivator', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        demotivator
      })
    },
    onCharSelectorAction (action) {
      switch (action) {
        case 'DONE':
          this.$refs.modal.hide()
          break
        default:
      }
    }
  },
  watch: {
    stateChars () {
      this.chars = this.stateChars
    }
  }
}
</script>
