<template>
<span>
  <div>
    <q-field icon="functions" :count="30" style="width:95%">
      <q-input clearable float-label="Short description" v-model="goal.header" />
    </q-field>
<!-- Goal Characteristics Checklist  -->
    <q-list highlight>
      <q-list-header>How well did you define the goal?</q-list-header>

<!-- Is it motivating enough? -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.is_inspiring" label="Is it inspiring and visual?"/>
          <q-field v-if="goal.is_inspiring"  :count="200">
            <q-input float-label="What purpose does it serve? What's motivation?" type="textarea" v-model="goal.why_inspring" />
          </q-field>
          <q-modal class="maximized modal" ref="modalMotivation">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalMotivation.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <!-- <info inverted :obj='goalPurposeInfo'/> -->
                <div class="q-toolbar-title">
                 What's the higher purpose of the goal?
                </div>
              </q-toolbar>

              <div class="layout-padding" >
                <p class="caption">
                Money is great, and financial metrics have their place. But working for money will never be as motivating as working for something bigger than oneself… Companies whose existential anchor is money (e.g., Enron) will never outperform a company whose existence is predicated on serving customers.
                </p>
                <p class="caption">
                  Employees who are given a strong visual image of what the achievement of a goal will look like will be motivated to access everything they’ve got, including untapped potential, to make that vision real. </p>
                <p class="caption">
                  <a href='https://www.huffingtonpost.com/frank-niles-phd/visualization-goals_b_878424.html' target='_blank' >More on visualization </a>
               </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>

        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalMotivation.show()' icon="info" />
        </q-item-side>
      </q-item>

      <!-- Is it required or necessaary? -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.is_essential" label="Is it Essential?"/>
          <q-field v-if="goal.is_essential"  :count="200">
            <q-input float-label="Why is the goal necessary or required?" type="textarea" v-model="goal.why_essential" />
          </q-field>
          <q-modal class="maximize modal" ref="modalRequired">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalRequired.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <div class="q-toolbar-title">
                  Importance of the Goal
                </div>
              </q-toolbar>
              <div class="layout-padding">
                <p class="caption">
                  Goals aren’t just nice to do, they’re necessary to do. So before a person can expect full adoption of the goal, you’ve got to help the person understand why the goal is required.
                </p>
                <p class="caption">
                  What happens if you haven’t fully established why your HARD goal is required (i.e., why achieving this goal is a necessary part of your existence)? The answer is that you will come off sounding clueless. Which means your HARD goal doesn’t stand a chance.
                </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>

        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalRequired.show()' icon="info" />
        </q-item-side>
      </q-item>

<!-- Is it Specific/Outcome  -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.is_specific" label="Is it specific enough?"/>
          <q-field v-if="goal.is_specific"  :count="200">
            <q-input float-label="What makes it specific?" type="textarea" v-model="goal.why_specific" />
          </q-field>
          <q-modal class="maximized modal" ref="modalSpecific">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalSpecific.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <div class="q-toolbar-title">
                  Help employee to do 'their best'
                </div>
              </q-toolbar>

              <div class="layout-padding" >
                <p class="caption">
                  In study after study, they found that, on the whole, as the difficulty of the goal increased, performance also increased, given that the goal was specific. You couldn’t just tell people to “do their best” on a really difficult goal, because when faced with this bit of management pabulum, those people chose not to do their best.
                </p>
                <p class="caption">
                  Make the goal specific and hard, and you get results. Certainly, performance could be expected to drop when the true limits of one’s ability are reached. But pushing people that hard is a pretty rare occurrence in the real world of work (“good enough” is much more common than “great”).
                </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>

        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalSpecific.show()' icon="info" />
        </q-item-side>
      </q-item>

      <!-- Does it enable learning? -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.requires_new_skills" label="Does it enable learning?"/>
          <q-field v-if="goal.requires_new_skills"  :count="200">
            <q-input float-label="What skills will be learned?" type="textarea" v-model="goal.new_skills" />
          </q-field>
          <q-modal class="maximized modal" ref="modalNewSkills">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalNewSkills.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <div class="q-toolbar-title">
                  Enables Learning by requiring new skills.
                </div>
              </q-toolbar>

              <div class="layout-padding" >
                <p class="caption">
                  The goal should force employees to learn new skills. If they aren't learning new skills then goal is not hard enough. Make it 30% harder.
                </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>

        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalNewSkills.show()' icon="info" />
        </q-item-side>
      </q-item>

      <!-- Does it challenge abilities? -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.questions_abilities" label="Does it challenge abilities?"/>
          <q-field v-if="goal.questions_abilities"  :count="200">
            <q-input float-label="What abilities will be challenged?" type="textarea" v-model="goal.questioned_abilities" />
          </q-field>
          <q-modal class="maximized modal" ref="modalQuestionAbilities">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalQuestionAbilities.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <div class="q-toolbar-title">
                  Build Confidence by making employee question their abilities
                </div>
              </q-toolbar>
              <div class="layout-padding" >
                <p class="text-faded">
                  Make it just a little hard enough to have it question abilities. If, at the outset, they know they could achieve these goals, then the goal is not hard enough.
                </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>
        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalQuestionAbilities.show()' icon="info" />
        </q-item-side>
      </q-item>

      <!-- Is employee pushing? -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.is_pushing" label="Does it make the person struggle enough?"/>
          <q-field v-if="goal.is_pushing" icon="notes" :count="200">
            <q-input float-label="Why is employee trying hard?" type="textarea" v-model="goal.why_pushing" />
          </q-field>
          <q-modal class="maximized modal" ref="modalPushesMember">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalPushesMember.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <div class="q-toolbar-title">
                Push employee just hard enough.
                </div>
              </q-toolbar>
              <div class="layout-padding" >
                <p class="caption">
                  Watch and interact with your employees. See if they are breaking down. Look for signs that they are really sweating to accomplish their goals. If you pay enough attention, you should be able to tell if they are pushing or just coasting.
                </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>

        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalPushesMember.show()' icon="info" />
        </q-item-side>
      </q-item>

      <!-- Are resources limited? -->
      <q-item>
        <q-item-main>
          <q-toggle v-model="goal.limited_resources" label="Are resources limited?"/>
          <q-field v-if="goal.limited_resources"  :count="200">
            <q-input float-label="What makes the resources limited?" type="textarea" rows='2' v-model="goal.why_limited_resources" />
          </q-field>
          <q-modal class="maximized modal" ref="modalLimitedResources">
            <q-modal-layout>
              <q-toolbar slot="header">
                <q-btn flat @click="$refs.modalLimitedResources.hide()">
                  <q-icon name="keyboard_arrow_left" />
                </q-btn>
                <div class="q-toolbar-title">
                Limit resources to improve performance.
                </div>
              </q-toolbar>
              <div class="layout-padding">
                <p class="caption">
                  At Microsoft, if project requires 5 people, they typically assign only 4.
                </p>
                <p class="caption">
                  Nothing makes a goal more challenging that limiting resources. As crazy as it sounds, limiting peoples’ resources can actually be an effective way to grow employee skills and elevate their performance.
                </p>
                <p class="caption">
                  Our first major insight was that just the right amount of resource deprivation can actually improve results. Too many resources, and we’re too fat and happy to push ourselves. Too few resources, and it’s like trying to climb Mt. Everest without boots or gloves.
                </p>
                <p class="caption">
                  Our second major insight occurred when we looked at how these start-ups responded to resource deprivation. Not only did missing one resource bucket heighten their resourcefulness, but typically it also forced them to develop a new set of skills.
                </p>
              </div>
            </q-modal-layout>
          </q-modal>
        </q-item-main>

        <q-item-side>
          <q-btn flat color='primary' @click='$refs.modalLimitedResources.show()' icon="info" />
        </q-item-side>
      </q-item>
    </q-list>

    <div style='padding:2em'>
      <q-btn flat color='primary' @click='deleteCurrentGoal()' icon="delete">Delete</q-btn>
      <q-toggle v-model="goal.is_archived" label="Archive" />
    </div>
  </div>
</span>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: ['type', 'existingGoal', 'member'],
  components: {
  },
  data () {
    return {
      goal: this.existingGoal || {}
    }
  },
  methods: {
    ...mapActions([
      'addGoal',
      'editGoal'
    ]),
    done () {
      this.updateGoal(this.goal)
      this.$emit('action', 'DONE')
      this.goBack()
    },
    deleteCurrentGoal () {
      this.deleteGoal(this.goal.id)
      this.goBack()
    },
    updateGoal (goal) {
      this.$store.dispatch('updateGoal', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        goal
      })
    },
    deleteGoal (goalId) {
      this.$store.dispatch('deleteGoal', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        goalId
      })
    },
    goBack () {
      this.$store.commit('showLayoutToolbar')
      this.$router.push({
        name: 'Profile',
        params: {
          id: this.member.id,
          viewAction: 'VIEW'
        },
        query: { teamId: this.$store.state.team.id }
      })
    }
  }
}
</script>

<style>
.text-preview {
  text-transform: none !important;
  white-space: pre-wrap !important;
}
.q-btn-outline{
  margin:auto !important;
  display:block !important;
  width:95%;
  color:grey;
  text-align:left;
}
.layout-padding {
  margin-top:1.2em;
  margin-left:2em;
  margin-right:2em;
}
.textAreaLayout {
  color:#027be3;
  font-style:italic;
  margin-left:4em;
  margin-right:4em;
}
</style>
