<template>
<span>
  <button-summary label="Goals" :status='level' @click.native='opened=true'/>

  <q-modal maximized class="modal" v-model="opened">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="opened = false"/>
        <q-toolbar-title>Goals</q-toolbar-title>
      </q-toolbar>
    <q-list>
      <q-collapsible icon="explore" label="Choosing the right goals">
        <char-selection-info type='GOAL' :member='member' />
      </q-collapsible>
    </q-list>
    <q-card-title>
      <health-status :status='status'/>
    </q-card-title>
    <q-field class="q-pa-md">
      <q-input v-model="newGoal" float-label="Add New.." @keyup.enter="addNewGoal"/>
    </q-field>
  <button-summary v-for="(goal, i) in goals" :key="i" :label="goal.header" :status='level' @click.native='openGoalDetails(goal)'/>

      <q-modal maximized class="modal" v-model="goalDetailsOpened">
        <q-modal-layout>
          <q-toolbar slot="header">
            <q-btn icon="keyboard_arrow_left" flat @click="goalDetailsOpened = false"/>
            <q-toolbar-title>Goals Details</q-toolbar-title>
          </q-toolbar>
          <goal-details :member="member" :existingGoal="selectedGoal"/>
        </q-modal-layout>
      </q-modal>
      <q-field class="q-pa-md">
       <q-toggle v-model="showArchived" label="Show Archived" />
      </q-field>
    </q-modal-layout>
  </q-modal>
</span>
</template>

<script>
import { mapActions } from 'vuex'
import GoalDetails from './GoalDetails'
import CharSelectionInfo from 'components/char/charSelectionInfo'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'

export default {
  components: {
    CharSelectionInfo,
    GoalDetails,
    ButtonSummary,
    HealthStatus
  },
  props: {
    status: Number,
    member: Object,
    level: Number
  },
  data () {
    return {
      selectedGoal: null,
      summaryOpened: false,
      opened: false,
      goalDetailsOpened: false,
      whyImportant: [],
      keyPoints: [],
      newGoal: '',
      showArchived: false
    }
  },
  computed: {
    goals () {
      return this.$store.getters.getGoals({ isArchived: this.showArchived })
    }
  },
  methods: {
    ...mapActions([
      'loadMemberGoals'
    ]),
    openGoalDetails (goal) {
      this.selectedGoal = goal
      this.goalDetailsOpened = true
    },
    addNewGoal () {
      if (this.newGoal) {
        console.log(this.newGoal)
        this.$store.dispatch('addGoal', {
          teamId: this.$store.state.team.id,
          memberId: this.member.id,
          goal: {
            header: this.newGoal.trim(),
            is_inspiring: false,
            why_inspring: '',
            is_essential: false,
            why_essential: '',
            is_specific: false,
            why_specific: '',
            requires_new_skills: false,
            new_skills: '',
            questions_abilities: false,
            questioned_abilities: '',
            is_pushing: false,
            why_pushing: '',
            limited_resources: false,
            why_limited_resources: '',
            is_archived: false
          }
        })
      }
      this.newGoal = ''
    },
    deleteGoal (goalId) {
      this.$store.dispatch('deleteGoal', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        goalId
      })
    },
    bindGoalsToFirebase () {
      try {
        let userId = this.$store.state.user.uid
        let teamId = this.$store.state.team.id
        let memberId = this.member.id

        let memberURL = this.$store.state.isUserProfileEditing
          ? `users/${this.$store.state.user.uid}`
          : `users/${userId}/teams/${teamId}/members/${memberId}`

        console.log('[GoalSummary] memberURL = ', memberURL)

        this.$store.dispatch(
          'loadGoals',
          this.$db.collection(`${memberURL}/goals`)
        )
      } catch (ex) {
        //
      }
    }
    // openGoalDetails (e) {
    //   console.log('selected goal id is ' + e.id)
    //   this.currentGoal = e
    //   this.goalDetailsOpened = true
    // }
  },
  created () {
    this.bindGoalsToFirebase()
  }
}
</script>

<style>
.text-preview {
  text-transform: none !important;
  white-space: pre-wrap !important;
}
</style>
