<template>
  <span>
    <button-summary label="Attitude Health" :status='status' @click.native='opened=true'/>
    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout >
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="save"/>
          <q-toolbar-title>Employee Attitude Health</q-toolbar-title>
        </q-toolbar>
        <intro :whyImportant='whyImportant' :keyPoints='keyPoints'/>

        <q-card-title>
          <health-status :status='status' percLabel='Attitude Health Index'/>
        </q-card-title>

        <p class="caption" style='margin:1em'>Attitude is...</p>
          <q-list>
            <survey-question labels
              :model.sync='attitude.assignments'
              header='Assignments'
              best='Gets the job done, without having to be managed or reminded.'
              worst='Does not get the job done, even with a great deal of handholding.'/>
            <survey-question labels
              :model.sync='attitude.flexibility'
              header='Flexibility'
              best='Adapts when something needs to be changed or done differently.'
              worst='Is resistant to any and every form of change, even when changes were beneficial.'/>
            <survey-question labels
              header='Support'
              :model.sync='attitude.support'
              best='Is always a "good spot", even when bad things happen at work.'
              worst='Whines and complains, no matter what was happening.'/>
            <survey-question labels
              header='Engagement'
              :model.sync='attitude.engagement'
              best='Attends optional meetings or functions to support colleagues.'
              worst='Optional meetings? Is too lazy to make it to some required meetings and functions!'/>
            <survey-question labels
              header='Caring'
              :model.sync='attitude.caring'
              best='Helps new coworkers or people who seem to need a hand.'
              worst='Makes fun of new coworkers or people who seem to need a hand.'/>
            <survey-question labels
              header='Affinity'
              :model.sync='attitude.affinity'
              best='Feels an attachment and obligation to the employer for the long haul.'
              worst='Seems to always be looking for something else, even if it is not better.'/>
            <survey-question labels
              header='Presence'
              :model.sync='attitude.presence'
              best='Is first to arrive, last to leave.'
              worst='Is first to leave for lunch, last to return'/>
          </q-list>
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import Intro from 'src/components/Intro'
import HealthStatus from 'src/components/HealthStatus'
import SurveyQuestion from 'src/components/SurveyQuestion'
import ButtonSummary from 'src/components/ButtonSummary'
export default {
  props: ['member'],
  components: {
    Intro,
    HealthStatus,
    SurveyQuestion,
    ButtonSummary
  },
  data () {
    return {
      attitude: {
        status: 0,
        assignments: 0,
        flexibility: 0,
        support: 0,
        engagement: 0,
        caring: 0,
        affinity: 0,
        presence: 0
      },
      opened: false,
      whyImportant: [
        {
          'title': 'The Solution to Employee Failure: Hiring For Attitude',
          'body': '89% of the new hire failures are due to lousy attitude, not skills (only remaining 11% are due to bad skills). 87% people consider quitting and in 93% of the case overall productivity drops when co-workers have lousy attitude. Tolerating bad attitude destroys your leadership effectiveness and credibility',
          'author': 'Mark Murphy',
          'ref': 'Hundred Percenters: Challenge Your Employees to Give It Their All, and They\'ll Give You Even More',
          'source': 'https://www.amazon.com/dp/B002V3RWZK/',
          'type': 'book'
        },
        {
          'title': 'Attitude required to successed are unique to the organization\'s culture',
          'body': 'The culture of the organization and the attitude required to succeeed in that culture are unique',
          'author': 'Mark Murphy',
          'ref': 'Hiring for Attitude: A Revolutionary Approach to Recruiting and Selecting People with Both Tremendous Skills and Superb Attitude',
          'source': 'https://www.amazon.com/Hiring-Attitude-Revolutionary-Recruiting-Tremendous-ebook/dp/B005NASJRS/',
          'type': 'book'
        }
      ],
      keyPoints: null
    }
  },
  created () {
    if (this.member.attitude) {
      this.attitude = this.member.attitude
    }
    console.log(this.attitude)
  },
  computed: {
    status () {
      const status = (
        this.attitude.assignments +
        this.attitude.flexibility +
        this.attitude.support +
        this.attitude.engagement +
        this.attitude.caring +
        this.attitude.affinity +
        this.attitude.presence
      ) / 7
      console.log(status)
      return Math.floor(10 * status)
    }
  },
  methods: {
    save () {
      this.opened = false
      this.attitude.status = this.status
      this.member.attitude = this.attitude
      console.log(this.member.attitude)
      this.$store.dispatch('updateMember', {
        teamId: this.$store.state.team.id,
        member: this.member
      })
    }
  }
}
</script>
