<template>
<div>
   <button-summary :status='personality.status' @click.native='$refs.modalInfo.show()'>
     Personality Type: {{model.personality_type ? personalityInfo(model.personality_type).name : 'not set'}}
   </button-summary>
  <!-- <q-card v-if="!model.personality_type">
    <q-card-title>
      Personality type is not selected
    </q-card-title>
    <q-card-main>
    </q-card-main>
    <q-card-actions>
      <q-btn flat color='primary' @click="$refs.modalInfo.show()">set</q-btn>
    </q-card-actions>
  </q-card>
  <q-card v-else>
    <q-card-title>
      Personality Type: {{personalityInfo(model.personality_type).name}}
    </q-card-title>
    <q-card-main>
      <p class="caption">
      {{model.first_name}} has {{personalityInfo(model.personality_type).name}} personality type. {{personalityInfo(model.personality_type).description |replaceAll("_NAME_", model.first_name)}}
      </p>
      <p> Typical Motivators </p>
            <p class="caption">
              {{personalityCharsByType(model.personality_type, 'MOTIVATOR') | csv }}
            </p>

            <p> Typical Demotivators </p>
            <p class="caption">
              {{personalityCharsByType(model.personality_type, 'DEMOTIVATOR') | csv }}
            </p>
    </q-card-main>
    <q-card-actions>
      <q-btn flat color='primary' @click="$refs.modalInfo.show()">details</q-btn>
    </q-card-actions>
  </q-card> -->

    <!-- info modal -->
    <q-modal class="maximized modal" ref="modalInfo">
    <q-toolbar>
      <q-btn icon='keyboard_arrow_left' flat @click="$refs.modalInfo.hide()" />
      <q-toolbar-title>Personality Info</q-toolbar-title>
    </q-toolbar>

      <q-list>
        <q-collapsible icon="explore" label="Goal - Find out Personality Type">
          <personality-selection-info :member='member' />
        </q-collapsible>
      </q-list>

      <q-card>
        <q-card-title v-if='model.personality_type'>
          {{model.first_name}} has <strong>{{model.personality_type}}</strong> personality type <q-btn icon='edit' no-caps flat color='primary' @click="$refs.personalitySelectorModal.show()">change</q-btn>
        </q-card-title>
        <q-card-title v-if='!model.personality_type'>
         Choose a personality type for {{model.first_name}}
        </q-card-title>
        <q-card-main>

          <span v-if='!model.personality_type'>
            <p>
              <q-btn flat color='primary' @click="$refs.personalitySelectorModal.show()">Pick a Personality...</q-btn>
            </p>
          </span>

          <span v-else>
            <img style="display:block; margin:0 auto" width='60%' :src='"statics/assets/img/worker/"+String(model.personality_type).toLowerCase() +".jpg"'/>

            <p> Characteristics</p>
            <p class="caption">{{personalityInfo(model.personality_type).description |replaceAll("_NAME_", model.first_name)}}</p>
            <p> Action Guide </p>
            <p class="caption">{{personalityInfo(model.personality_type).analysis |replaceAll("_NAME_", model.first_name)}}</p>
            <p> Typical Motivators </p>
            <p class="caption">
              {{personalityCharsByType(model.personality_type, 'MOTIVATOR') | csv }}
            </p>

            <p> Typical Demotivators </p>
            <p class="caption">
              {{personalityCharsByType(model.personality_type, 'DEMOTIVATOR') | csv }}
            </p>
          </span>
        </q-card-main>
      </q-card>
    </q-modal>

    <!-- personality selector modal -->
    <q-modal class="maximized modal" ref="personalitySelectorModal">
    <q-toolbar>
      <q-btn icon='keyboard_arrow_left' flat @click="$refs.personalitySelectorModal.hide()" />
      <q-toolbar-title>Personality Selector</q-toolbar-title>
    </q-toolbar>
      <personality-selector v-on:action='onPersonalitySelectorAction' :member='member' />
    </q-modal>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import store from 'src/store/index'
import PersonalityTypes from 'src/constants/PersonalityTypes.json'
import Motivators from 'src/constants/MotivatorsByPersonality.json'

import PersonalitySelectionInfo from 'components/char/personalitySelectionInfo'
import PersonalitySelector from 'components/member/PersonalitySelector'
import ButtonSummary from 'components/ButtonSummary'

// import MotivatorsList from 'src/constants/Motivators'
export default {
  store,
  props: ['member'],
  components: {
    PersonalitySelectionInfo,
    PersonalitySelector,
    ButtonSummary
  },
  data () {
    var selection = this.selected
    var model = this.member
    var personalityTypes = PersonalityTypes
    return {
      personality: {
        status: 1
      },
      selection,
      model,
      personalityTypes
    }
  },
  computed: {
    ...mapGetters([
      'charsByMemberIdAndType'
    ])
  },
  filters: {
  },
  methods: {
    ...mapActions([
      'editMember'
    ]),
    personalityInfo (code) {
      return PersonalityTypes.find(x => x.code === code)
    },
    onCancel () {
      this.$refs.modal.hide()
    },
    personalityCharsByType (pType, charType) {
      return Motivators.filter(x => x.personality_type === pType && x.type === charType)
    },
    onPersonalitySelectorAction (code) {
      this.$refs.personalitySelectorModal.hide()
    }
  }
}
</script>
