<template>
    <p>
      <delegation-category viewMode='VIEW' :model='category'/>:<delegation-authority :model.sync='tempLevel' @update:model="$emit('update:level', tempLevel)"/>
    </p>
</template>

<script>
import DelegationAuthority from './DelegationAuthority'
import DelegationCategory from './DelegationCategory'

export default {
  props: ['level', 'category'],
  components: {
    DelegationAuthority,
    DelegationCategory
  },
  data () {
    return {
      tempLevel: this.level
    }
  },
  computed: {
  }
}
</script>
