<template>
<span>
  <q-list style="max-width: 600px;">
      <q-item link @click.native="openDelegationHelp=true" v-ripple.mat>
        <q-item-side icon="zoom_in" />
        <q-item-main label="Delegation details" />
        <q-item-side right icon="keyboard_arrow_right" />
      </q-item>
    </q-list>

  <q-modal maximized class="modal" v-model="openDelegationHelp">
    <q-modal-layout >
      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="openDelegationHelp = false"/>
        <q-toolbar-title>Delegation Details</q-toolbar-title>
      </q-toolbar>

      <intro
        :keyPoints="help.keyPoints"
        :whyImportant="help.whyImportant"
      />

      <span class='caption'>
        <q-field class="q-pa-sm">
          <q-toggle v-model="options.riskFactorAddressed" label="Risk Factor related to delegation properly assessed?"/>
        </q-field>

        <q-field v-if="options.riskFactorAddressed" class="q-pa-sm">
          <q-input type="textarea" v-model="options.riskFactorAddressedDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle
            v-model="options.isDiscrete"
            label="Is what you are delegating a discrete chunk of work?"
          />
        </q-field>

        <q-field v-if="options.isDiscrete" class="q-pa-sm">
          <q-input type="textarea" v-model="options.isDiscreteDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle
            v-model="options.skillsExist"
            label="Do the people have the skills to do this particular kind of work?"
          />
        </q-field>

        <q-field v-if="options.skillsExist" class="q-pa-sm">
          <q-input type="textarea" v-model="options.skillsExistDetails" float-label="Details"/>
        </q-field>

        <q-field v-if='false' class="q-pa-sm">
          <q-toggle
            v-model="options.formatExist"
            label="Do the people have the right format for the work products to use?"
          />
        </q-field>

        <q-field v-if="options.formatExist" class="q-pa-sm">
          <q-input type="textarea" v-model="options.formatExistDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.toolsExist" label="Do the people have the tools necessary to be successful?"/>
        </q-field>

        <q-field v-if="options.toolsExist" class="q-pa-sm">
          <q-input type="textarea" v-model="options.toolsExistDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.resultsDefined" label="Do the people know what the results should look like?"/>
        </q-field>

        <q-field v-if="options.resultsDefined" class="q-pa-sm">
          <q-input type="textarea" v-model="options.resultsDefinedDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.constraintsDefined" label="Did you set the boundary conditions for the work (for example, budget, time, resources, and quality)?"/>
        </q-field>

        <q-field v-if="options.constraintsDefined" class="q-pa-sm">
          <q-input type="textarea" v-model="options.constraintsDefinedDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.deadlineDefined" label="Do the people know when the work is due?"/>
        </q-field>

        <q-field v-if="options.deadlineDefined" class="q-pa-sm">
          <q-input type="textarea" v-model="options.deadlineDefinedDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.progressDefined" label="Do the people know what progress looks like?"/>
        </q-field>

        <q-field v-if="options.progressDefined" class="q-pa-sm">
          <q-input type="textarea" v-model="options.progressDefinedDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.milestonesDefined" label="Do the people know how often to report to you on progress (adhering to interim milestones)?"/>
        </q-field>

        <q-field v-if="options.milestonesDefined" class="q-pa-sm">
          <q-input type="textarea" v-model="options.milestonesDefinedDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <q-toggle v-model="options.coachingAvailable" label="Is someone available (you or another person) to coach or mentor the people in case they need help?"/>
        </q-field>

        <q-field v-if="options.coachingAvailable" class="q-pa-sm">
          <q-input type="textarea" v-model="options.coachingAvailableDetails" float-label="Details"/>
        </q-field>

        <q-field class="q-pa-sm">
          <p class="caption no-margin">
            Empowerement level
            <delegation-category viewMode="EDIT" :model.sync="options.delegationCategory"/>
          </p>
        </q-field>

        <q-field class="q-pa-sm">
          <p class="caption no-margin">
            Empowerement Style
            <delegation-authority :model.sync="options.delegationAuthority"/>
          </p>
        </q-field>

        <q-field class="q-pa-sm">
          <p class="caption no-margin">
            Delegated to:
            <!-- member profile link -->
            <router-link
              v-if="options.assignee.stamp === 'Member'"
              :to="`/profile/${options.assignee.value}?teamId=${options.assignee.teamId}`"
            >
              {{options.assignee.label}}
            </router-link>

            <!-- team profile link -->
            <router-link
              v-if="options.assignee.stamp === 'Team'"
              :to="`/team/${options.assignee.value}`"
            >
              {{options.assignee.label}}
            </router-link>
          </p>

          <!-- assignee input -->
          <assignment-input
            float-label='person or team name'
            placeholder='type to search'
            v-model="options.assignee"
          />
        </q-field>
      </span>
    </q-modal-layout>
  </q-modal>
</span>
</template>

<script>

import Intro from '../Intro'
import help from './DelegationHelp.json'
import DelegationCategory from './DelegationCategory'
import DelegationAuthority from './DelegationAuthority'
import ButtonSummary from '../ButtonSummary'
import AssignmentInput from 'components/AssignmentInput'

export default {
  props: {
    model: Object
  },
  components: {
    Intro,
    ButtonSummary,
    DelegationAuthority,
    DelegationCategory,
    AssignmentInput
  },
  data () {
    return {
      help,
      options: this.model,
      openDelegationHelp: false
    }
  },
  computed: {
    status: function () {
      if (this.anchor1 === '' && this.anchor2 === '' && this.anchor3 === '') {
        return 'red'
      }
      if (this.anchor1 !== '' && this.anchor2 !== '' && this.anchor3 !== '') {
        return 'green'
      }
      return 'yellow'
    }
  },
  created () {
    this.$store.dispatch('loadAllMembers')
  }
}
</script>
