<template>
 <span>
  <span v-if='readOnly===""'>{{levelInfo.label}}</span>
  <q-btn v-else flat no-caps :label='levelInfo.label + " Style"' color='primary' @click='opened=true'/>
    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout >
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="opened = false"/>
          <q-toolbar-title>Will you manage or lead?</q-toolbar-title>
        </q-toolbar>
        <div style='margin:4em'>
          <h5>Empowerement Style {{levelInfo.label}}</h5>
          <div style='padding-bottom:2em;font-size:smaller'>
            <div style='float:left'><q-btn no-caps color='primary' flat>Ruling</q-btn>
                <q-tooltip>Rulers use the power of <i>authority</i> to convince people what to do</q-tooltip>
            </div>
            <div style='float:right'><q-btn no-caps color='primary' flat>Leading</q-btn>
              <q-tooltip>Leaders use the power of <i>attraction</i> to convince people what to do. People are following the leader out of their own will.</q-tooltip>
              <!-- <q-icon name='arrow_forward'/> -->
            </div>
          </div>
          <p><q-slider v-model="level" :min="1" :max="7" markers @input="$emit('update:model', level)"/></p>
         <p>{{levelInfo.desc}}</p>
        </div>
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>

export default {
  props: ['model', 'readOnly'],
  data () {
    return {
      level: this.model,
      opened: false,
      DelegationLevels: [
        { label: '1: Tell', value: 1, desc: 'Tell: You make decisions and announce them to your people. (This is actually not empowerment at all.)' },
        { label: '2: Sell', value: 2, desc: 'Sell: You make decisions, but you attempt to gain commitment from people by “selling” your idea to them.' },
        { label: '3: Consult', value: 3, desc: 'Consult: You invite and weigh input from people before coming to a decision. But you make it clear that it is your decision' },
        { label: '4: Agree', value: 4, desc: 'Agree: You invite people to join in a discussion and to reach consensus as a group. Your voice is equal to the others.' },
        { label: '5: Advise', value: 5, desc: 'Advise: You attempt to influence people by telling them what your opinion is, but ultimately you leave it up to them to decide.' },
        { label: '6: Inquire', value: 6, desc: 'Inquire: You let the team decide first, with the suggestion that it would be nice, though not strictly necessary, if they can convince you afterward.' },
        { label: '7: Delegate', value: 7, desc: ' Delegate: You leave it entirely up to the team to deal with the matter while you go out and have a good time (or use that time to manage the system).' }
      ]
    }
  },
  computed: {
    levelInfo: function () {
      return this.DelegationLevels.find(x => x.value === this.model)
    }
  }
}
</script>
