<template>
  <span>
    <q-card>
      <q-card-title>
        {{title}}
      </q-card-title>
      <q-card-main>
        <p>Authority Style for low empowerement level: {{delegation.lowAuthLevel}}</p>
        <p>Authority Style for medium empowerement level: {{delegation.midAuthLevel}}</p>
        <p>Authority Style for high empowerement level: {{delegation.highAuthLevel}}</p>
      </q-card-main>
      <q-card-actions>
        <q-btn flat color='primary' @click='opened=true'>
          Details
        </q-btn>
      </q-card-actions>
    </q-card>

    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="opened = false"/>
          <q-toolbar-title>Empowerement and Authority</q-toolbar-title>
        </q-toolbar>
        <intro :whyImportant='whyImportant' :keyPoints='keyPoints'/>
        <div style='margin:4em'>
          <delegation-details category='LOW' viewMode='READ_ONLY' :level.sync='delegation.lowAuthLevel' @update:level="updateDelegation"/>
          <delegation-details category='MID' viewMode='READ_ONLY' :level.sync='delegation.midAuthLevel' @update:level="updateDelegation"/>
          <delegation-details category='HIGH' viewMode='READ_ONLY' :level.sync='delegation.highAuthLevel' @update:level="updateDelegation"/>
        </div>
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import DelegationDetails from './DelegationDetails'
import intro from '../Intro'

export default {
  props: ['member', 'title', 'type'],
  components: {
    DelegationDetails,
    intro
  },
  data () {
    return {
      opened: false,
      delegation: {
        lowAuthLevel: 1,
        midAuthLevel: 1,
        highAuthLevel: 1
      },
      keyPoints: [
        {
          'title': 'Control and treat delegation as an investment to ensure success',
          'body': 'Select from 3 maturity levels and seven authority levels to determine how to delegate work for the employee. You must treat delegation of authority as an investment [Rothman, Derby 2005:97]. It takes a while to get a return on your investment, and until that time delegation will just cost you time, energy, money, and possibly some frustration.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 134,144)',
          'source': 'https://management30.com',
          'type': 'book'
        }
      ],
      whyImportant: [
        {
          'title': 'Empower people and team to improve manageability',
          'body': 'Without bottom-up distributed control, a complex system like an Agile organization just doesn’t work...Paradoxically, to better steer an organization, a manager has to give up the illusion of control. Empowerment is often seen as a tool to motivate people. But that is incorrect. The reason to empower people is not to improve motivation but to improve manageability.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 114-123)',
          'source': 'https://management30.com',
          'type': 'book'
        }
      ]
    }
  },
  methods: {
    updateDelegation () {
      this.$store.dispatch('updateDelegation', {
        delegation: this.delegation,
        teamId: this.$store.state.team.id,
        memberId: this.$store.state.member.id
      })
    },
    initDelegation () {
      if (this.member && this.member.delegation) {
        this.delegation = this.member.delegation
      }
    }
  },
  created () {
    this.initDelegation()
  }
}
</script>
