<template>
 <span>
    <q-btn v-if='viewMode==="EDIT"' flat no-caps :label='categoryInfo.label + " level"' color='primary' @click='openedForEdit=true'/>
    <q-btn v-else flat no-caps :label='categoryInfo.label + " level"' color='primary' @click='opened=true'/>
    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout >
        <q-toolbar slot="header">
           <q-btn icon="keyboard_arrow_left" flat @click="opened = false"/>
           <q-toolbar-title>{{categoryInfo.label}} Empowerement</q-toolbar-title>
        </q-toolbar>
        <div style='margin:4em'>
          <p v-for='p in categoryInfo.desc' :key='p' class='caption'>{{p}}</p>
        </div>
      </q-modal-layout>
    </q-modal>
    <q-modal maximized class="modal" v-model="openedForEdit">
      <q-modal-layout >
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="openedForEdit = false"/>
          <q-toolbar-title>{{categoryInfo.label}} Empowerement</q-toolbar-title>
        </q-toolbar>
         <div style='margin:4em'>
          <p><q-btn-toggle no-caps v-model="category" toggle-color="primary" :options='DelegationCategories' @input="$emit('update:model', category)"/></p>
          <p v-for='p in categoryInfo.desc' :key='p' class='caption'>{{p}}</p>
        </div>
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import DelegationCategories from './DelegationCategories.json'

export default {
  props: ['model', 'viewMode'],
  data () {
    return {
      category: this.model,
      DelegationCategories,
      opened: false,
      openedForEdit: false
    }
  },
  computed: {
    categoryInfo: function () {
      console.log(this.category)
      return this.DelegationCategories.find(x => x.value === this.category)
    }
  }
}
</script>
