<template>
  <span>
    <button-summary label="Org Preferences" :status='status' @click.native='opened=true'/>
    <q-modal maximized class="modal" v-model="opened">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
          <q-toolbar-title>Org Settings and Preferences<info inverted :obj='basicsInfo'/></q-toolbar-title>
        </q-toolbar>
        <q-card-title><health-status :status='status'/></q-card-title>
        <q-field class="q-pa-sm">
           <q-btn no-caps color='primary' flat @click='populateExample'>Start with an Example</q-btn>
          <q-btn no-caps color='primary' flat @click='reset'>Reset all fields</q-btn>
        </q-field>
        <q-field class="q-pa-sm">
          <q-input float-label="Org Official Name" placeholder='' v-model='longName' @blur="setOrgCode"/>
        </q-field>
        <q-field class="q-pa-sm" :error="errorStatus" :error-label="errorLabel">
          <q-input float-label="Organization Code" placeholder='a unique codename for your organization' v-model='orgCode' @blur="checkOrgCode()" @input="checkOrgCode()" />
        </q-field>
        <q-field class="q-pa-sm">
          <q-input float-label="Org Short Name" v-model='shortName'/>
        </q-field>
        <q-field class="q-pa-sm">
          <q-input float-label="Leader (your) Name" v-model='leaderName'/>
        </q-field>
        <q-field class="q-pa-sm">
          <q-input float-label="Org Distribution Email" v-model='distrEmail'/>
        </q-field>
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import TextEntry from 'components/TextEntry'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
import Info from 'components/Info'

export default {
  components: {
    Info,
    TextEntry,
    ButtonSummary,
    HealthStatus
  },
  data () {
    return {
      opened: false,
      errorStatus: false,
      errorLabel: 'This code already taken.Please try another one.',
      lastCheckedOrgCode: '',
      orgCode: '',
      longName: '',
      shortName: '',
      leaderName: '',
      distrEmail: '',
      basicsInfo: {
        title: 'Your settingss and preferences',
        info: [
          'These are basic settings and preferences for your organization'
        ]
      }
    }
  },
  computed: {
    status: function () {
      var total = 0
      if (this.orgCode && this.orgCode.length > 5) {
        total += 20
      }
      if (this.longName && this.longName.length > 5) {
        total += 20
      }
      if (this.shortName && this.shortName.length > 1) {
        total += 20
      }
      if (this.leaderName && this.leaderName.length > 4) {
        total += 20
      }
      if (this.distrEmail && this.distrEmail.length > 5) {
        total += 20
      }
      return total
    }
  },
  methods: {
    populateExample () {
      this.orgCode = 'SME-IT-Solutions-Delivery'
      this.longName = 'SME IT Solutions Delivery'
      this.shortName = 'SME IT'
      this.leaderName = 'Joe Smith'
      this.distrEmail = 'SMESolutionsDelivery@mycompany.com'
    },
    setOrgCode () {
      if (this.orgCode === '') {
        this.orgCode = this.longName.replace(/ /g, '-')
      }
    },
    reset () {
      this.orgCode = ''
      this.longName = ''
      this.shortName = ''
      this.leaderName = ''
      this.distrEmail = ''
    },
    closeModal () {
      if ((this.longName.length > 0 && this.orgCode.length === 0) || this.errorStatus) {
        this.$q.notify({
          message: 'Organization code status field is required',
          position: 'top'
        })
        return
      }
      this.opened = false
      this.$store.dispatch('updatePlaybook', { basics: {
        percComplete: this.status,
        orgCode: this.orgCode,
        longName: this.longName,
        shortName: this.shortName,
        leaderName: this.leaderName,
        distrEmail: this.distrEmail
      } })
    },
    initBasics () {
      const playbook = this.$store.state.userProfile.playbook
      const basics = playbook ? playbook.basics : null
      if (basics !== null) {
        this.orgCode = basics.orgCode
        this.longName = basics.longName
        this.shortName = basics.shortName
        this.leaderName = basics.leaderName
        this.distrEmail = basics.distrEmail
      } else {
        this.org.orgCode = ''
        this.longName = ''
        this.shortName = ''
        this.leaderName = ''
        this.distrEmail = ''
      }
    },
    async checkOrgCode () {
      // if previous checked code is same and code entered then return
      if (this.lastCheckedOrgCode === this.orgCode || (this.orgCode.length < 1)) {
        return
      }
      let root = this
      this.errorStatus = false
      try {
        const doc = await this.$store.dispatch('getExistOrgCode', this.orgCode)
        this.lastCheckedOrgCode = this.orgCode
        if (doc.size > 1) {
          this.errorStatus = true
        } else {
          doc.forEach(function (data) {
            // check only returned code is not current user's code
            if (data.id !== root.$store.state.user.uid) {
              root.errorStatus = true
            }
          })
        }
      } catch (ex) {
        console.log('exception ', ex)
      }
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initBasics()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        console.log('CREATED data ', doc)
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initBasics()
      }
    }
  }
}
</script>
