<template>
<span>
  <button-summary label="What is the most important, now?" :status='status' @click.native='opened=true'/>

  <q-modal maximized class="modal" v-model="opened">
    <q-modal-layout>

      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
        <q-toolbar-title>
          Focus
          <info inverted :obj='focusInfo'/>
        </q-toolbar-title>
      </q-toolbar>

      <q-card-title>
        <health-status :status='status'/>
      </q-card-title>

      <!-- Thematic Goal -->
      <q-card>
        <q-card-title>
          <q-btn flat no-caps color="primary" @click='themGoalModalOpened=true'>
            Thematic Goal
          </q-btn>
        </q-card-title>
        <q-card-main>
          <p v-html='themGoal'></p>
          <health-status :status='themGoalStatus'/>
        </q-card-main>
      </q-card>

      <q-modal
        maximized
        class="modal"
        v-model="themGoalModalOpened"
        :key="'themGoalModalOpened: ' + themGoalModalOpened"
      >
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn icon="keyboard_arrow_left" flat @click="saveAndCloseGoalModal"/>
            <q-toolbar-title>
              Top Priority
              <info inverted :obj='themGoalInfo'/>
            </q-toolbar-title>
          </q-toolbar>

          <q-card-title>
            <health-status :status='themGoalStatus'/>
          </q-card-title>
          <p class="q-pa-sm">If we accomplish only one thing during the next 3 to 12 months, what would it be?
          </p>
          <q-field
            class="q-pa-sm"
            icon='golf_course'
          >
            <text-entry modal
              label='Thematic Goal'
              :input.sync='themGoal'
              :examples='themGoalExamples'
            />
          </q-field>
          <q-field
            class="q-pa-sm"
            icon="date_range"
            label="Target Date"
          >
            <q-datetime
              type='date'
              v-model="themGoalTargetDate"
            />
          </q-field>
          <q-field class="q-pa-sm" v-if='themGoal.length > 5'>
            <h6>Did you get the thematic goal correctly?</h6>
            <p class='caption'>
              <q-toggle v-model="themGoalQ1" label="Singular. Is this goal the most important, even if there are other worthy things to accomplish?" />
              <q-toggle v-model="themGoalQ2" label="Qualitative. Is NOT established with specific numbers attached to it." />
              <q-toggle v-model="themGoalQ3" label="Temporary. Must be achievable within a clear boundary of time - 3 to 12 months" />
              <q-toggle v-model="themGoalQ4" label="Shared across leadership. All executives agree on the top priority and take collective responsibility for achieving it"/>
              <!-- <q-toggle v-model="themGoalArchived" label="Archived?" style='margin-top:2em'/> -->
            </p>
          </q-field>
        </q-modal-layout>
      </q-modal>

      <!-- defining objectives -->
      <q-card :key="`Objectives card: ${defObjectivesModalOpened}`">
        <q-card-title>
          <q-btn flat no-caps color="primary" @click='defObjectivesModalOpened=true'>
            Defining Objectives
          </q-btn>
        </q-card-title>
        <q-card-main>
          <p v-for="(d, i) in defObjectives" :key="i" v-html='(i+1) + ": " + d'></p>
          <health-status :status='defObjectiveStatus'/>
        </q-card-main>
      </q-card>

      <q-modal
        maximized
        class="modal"
        v-model="defObjectivesModalOpened"
        :key="'defObjectivesModalOpened: ' + defObjectivesModalOpened"
      >
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn icon="keyboard_arrow_left" flat @click="saveAndCloseObjectivesModal"/>
            <q-toolbar-title>
              Defining Objectives
              <info inverted :obj='defObjectivesInfo'/>
            </q-toolbar-title>
          </q-toolbar>

          <q-card-title>
            <health-status :status='defObjectiveStatus'/>
          </q-card-title>

          <q-card>
            <q-card-main>
              <p class='caption'>Defining objectives are 4 to 6 general categories of activity required to achieve the thematic goal.</p>
              <q-list highlight>
                <q-list-header>
                  Defining Objectives
                  <q-btn flat icon="add" @click="addNewObjective"/>
                  <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
                </q-list-header>
                <q-item v-for="(d,i) in defObjectives" :key="i">
                  <q-item-main>
                    <text-entry modal :input.sync='defObjectives[i]' :label="'Defining Objective ' + (i+1)" :examples='defObjectivesExamples' />
                  </q-item-main>
                  <q-item-side right icon="keyboard_arrow_right">
                    <q-btn v-if='editMode' icon="delete" flat color="red" @click="deleteObjectiveByIndex(i)" />
                  </q-item-side>
                </q-item>
              </q-list>
            <q-field class="q-pa-sm" v-if='defObjectives.length > 0 && defObjectives[0].length > 5'>
              <h6>Did you get the defining objectives correctly?</h6>
              <p class='caption'>
                <q-toggle v-model="defObjectiveQ1" label="Do defining objectives provide a level of specificity so that the thematic goal isn't merely a slogan but rather a specific and understandable call to action?" />
                <q-toggle v-model="defObjectiveQ2" label="Qualitative. Are NOT established with specific numbers attached to them." />
                <q-toggle v-model="defObjectiveQ3" label="Temporary. Must be achievable within a clear boundary of time - 3 to 12 months"/>
              </p>
            </q-field>
            </q-card-main>
          </q-card>
        </q-modal-layout>
      </q-modal>

      <!-- Standard procedures -->
      <q-card>
        <q-card-title>
          <q-btn flat no-caps color="primary" @click='stdProcsModalOpened=true'>Standard Operating Procedures</q-btn>
        </q-card-title>
        <q-card-main>
          <p v-for="(d, i) in stdProcs" :key="i" v-html='(i+1) + ": " + d'></p>
          <health-status :status='stdProcsStatus'/>
        </q-card-main>
      </q-card>

      <q-modal maximized class="modal" v-model="stdProcsModalOpened" :key="stdProcsModalOpened">
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn icon="keyboard_arrow_left" flat @click="saveAndCloseProceduresModal"/>
            <q-toolbar-title>
              Standard Op. Procedures
              <info inverted :obj='stdProcsInfo'/>
            </q-toolbar-title>
          </q-toolbar>

          <q-card-title>
            <health-status :status='stdProcsStatus'/>
          </q-card-title>

          <q-card>
            <q-card-main>
              <q-list highlight>
                <q-list-header>
                  Add Standard Operating Procedure
                  <q-btn flat icon="add" @click="addNewProcedure" />
                  <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
                </q-list-header>
                <q-item v-for="(d,i) in stdProcs" :key="i">
                  <q-item-main>
                    <text-entry modal :input.sync='stdProcs[i]' :label="'Standard Procedure ' + (i+1)" :examples='stdProcsExamples'/>
                  </q-item-main>
                  <q-item-side right icon="keyboard_arrow_right">
                    <q-btn v-if="editMode" icon="delete" flat color="red" @click="deleteProcedureByIndex(i)" />
                  </q-item-side>
                </q-item>
              </q-list>
            </q-card-main>
          </q-card>
        </q-modal-layout>
      </q-modal>
    </q-modal-layout>
  </q-modal>
</span>
</template>
<script>
import TextEntry from 'components/TextEntry'
import ButtonSummary from 'components/ButtonSummary'
import Info from 'components/Info'
import { date } from 'quasar'
import HealthStatus from 'components/HealthStatus'
import {focusInfo, themGoalInfo, stdProcsInfo, themGoalExamples, defObjectivesInfo, defObjectivesExamples, stdProcsExamples} from 'components/playbook/focus.json'
export default {
  components: {
    Info,
    ButtonSummary,
    TextEntry,
    HealthStatus
  },
  data () {
    return {
      editMode: false,
      opened: false,
      themGoalModalOpened: false,
      themGoal: '',
      themGoalQ1: false,
      themGoalQ2: false,
      themGoalQ3: false,
      themGoalQ4: false,
      themGoalTargetDate: null,
      defObjectivesModalOpened: false,
      defObjectives: [],
      defObjectiveQ1: false,
      defObjectiveQ2: false,
      defObjectiveQ3: false,
      stdProcsModalOpened: false,
      stdProcs: [],
      focusInfo,
      themGoalInfo,
      defObjectivesInfo,
      stdProcsInfo,
      themGoalExamples,
      defObjectivesExamples,
      stdProcsExamples
    }
  },
  methods: {
    save () {
      console.log('[Focus] Saving Focus')
      this.$store.dispatch(
        'updatePlaybook',
        {
          focus: {
            percComplete: this.status,
            goal: {
              value: this.themGoal,
              q1: this.themGoalQ1,
              q2: this.themGoalQ2,
              q3: this.themGoalQ3,
              q4: this.themGoalQ4,
              targetDate: this.themGoalTargetDate
              // archived: this.themGoalArchived
            },
            objectives: {
              value: this.defObjectives,
              q1: this.defObjectiveQ1,
              q2: this.defObjectiveQ2,
              q3: this.defObjectiveQ3
            },
            procedures: this.stdProcs
          }
        }
      )
    },
    closeModal () {
      this.opened = false
    },
    saveAndCloseGoalModal () {
      this.save()
      this.themGoalModalOpened = false
    },
    saveAndCloseObjectivesModal () {
      this.save()
      this.defObjectivesModalOpened = false
    },
    saveAndCloseProceduresModal () {
      this.save()
      this.stdProcsModalOpened = false
    },
    initFocus () {
      const playbook = this.$store.state.userProfile.playbook
      const focus = playbook && playbook.focus ? playbook.focus : null
      if (focus) {
        const goal = Object.assign({}, focus.goal)
        const objectives = Object.assign({}, focus.objectives)
        const procedures = Array.isArray(focus.procedures) ? [...focus.procedures] : []

        // to check if targetDate exist because when thre is no targetDate then toDate() is undefined
        try {
          if (goal.targetDate.seconds) {
            this.themGoalTargetDate = goal.targetDate.toDate()
          } else {
            this.themGoalTargetDate = date.addToDate(new Date(), { days: 1, month: 6 })
          }
        } catch (ex) {
          this.themGoalTargetDate = date.addToDate(new Date(), { days: 1, month: 6 })
        }
        this.themGoal = goal.value
        this.themGoalQ1 = goal.q1
        this.themGoalQ2 = goal.q2
        this.themGoalQ3 = goal.q3
        this.themGoalQ4 = goal.q4
        // this.themGoalTargetDate = goal.targetDate.toDate() ? goal.targetDate.toDate() : date.addToDate(new Date(), { days: 1, month: 6 })
        this.defObjectives = [...objectives.value]
        this.defObjectiveQ1 = objectives.q1
        this.defObjectiveQ2 = objectives.q2
        this.defObjectiveQ3 = objectives.q3
        this.stdProcs = procedures
      }
    },
    addNewObjective () {
      this.defObjectives.push('')
    },
    deleteObjectiveByIndex (index) {
      this.defObjectives.splice(index, 1)
    },
    addNewProcedure () {
      this.stdProcs.push('')
    },
    deleteProcedureByIndex (index) {
      this.stdProcs.splice(index, 1)
    }
  },
  watch: {
    stdProcs: {
      handler: function (val, oldVal) {
      },
      deep: true
    }
  },
  computed: {
    status: function () {
      var total = 0 + this.themGoalStatus + this.defObjectiveStatus + this.stdProcsStatus
      return Math.floor(total / 3)
    },
    themGoalStatus: function () {
      var total = 0
      if (this.themGoal.length > 10) {
        total += 50
        if (this.themGoalTargetDate) {
          total += 10
        }
        if (this.themGoalQ1) {
          total += 10
        }
        if (this.themGoalQ2) {
          total += 10
        }
        if (this.themGoalQ3) {
          total += 10
        }
        if (this.themGoalQ4) {
          total += 10
        }
      }
      return Math.floor(total)
    },
    defObjectiveStatus: function () {
      var total = 0
      if (this.defObjectives.length > 0) {
        this.defObjectives.forEach(e => {
          if (e.length > 5) {
            total += 100
          }
        })
        total = 0.4 * total / this.defObjectives.length
        if (this.defObjectiveQ1) {
          total += 20
        }
        if (this.defObjectiveQ2) {
          total += 20
        }
        if (this.defObjectiveQ3) {
          total += 20
        }
      }
      return Math.floor(total)
    },
    stdProcsStatus: function () {
      var total = 0
      if (this.stdProcs.length > 0) {
        this.stdProcs.forEach(e => {
          if (e.length > 5) {
            total += 100
          }
        })
        total = total / this.stdProcs.length
      }
      return Math.floor(total)
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initFocus()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initFocus()
      }
    }
  }
}
</script>
