<template>
  <span>
    <button-summary label='What do we do?' :status='status' @click.native='opened=true'/>

    <q-modal maximized class='modal' v-model='opened'>
      <q-modal-layout>

        <q-toolbar slot='header'>
          <q-btn icon='keyboard_arrow_left' flat @click='closeModal'/>
          <q-toolbar-title>
            Products and Services
            <info inverted :obj='productsInfo'/>
          </q-toolbar-title>
        </q-toolbar>

        <q-card-title>
          <health-status :status='status'/>
        </q-card-title>

        <text-entry
          label='What do we do?'
          :input.sync='value'
          help='Simple, one sentence, plain english description of what org does in terms of their products and services.'
          :examples='productsExamples'
        />
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import TextEntry from 'components/TextEntry'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
import Info from 'components/Info'
import {productsInfo, productsExamples} from 'components/playbook/products.json'

export default {
  components: {
    Info,
    TextEntry,
    ButtonSummary,
    HealthStatus
  },
  data () {
    return {
      productsInfo,
      productsExamples,
      opened: false,
      value: ''
    }
  },
  computed: {
    status: function () {
      var status = this.value ? this.value : ''
      return status.length > 5 ? 100 : 0
    }
  },
  methods: {
    save () {
      this.$store.dispatch('updatePlaybook', { products: {
        percComplete: this.status,
        products: this.value
      }})
    },
    closeModal () {
      this.save()
      this.opened = false
    },
    initProducts () {
      const playbook = this.$store.state.userProfile.playbook
      var products = playbook ? playbook.products : null
      products = products ? products.products : ''
      this.value = products !== null ? products : this.value
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initProducts()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initProducts()
      }
    }
  }
}
</script>
