<template>
<span>
  <button-summary label="How will we succeed?" :status='status' @click.native='opened=true'/>

  <q-modal maximized class="modal" v-model="opened">
    <q-modal-layout>

      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
        <q-toolbar-title>
          Strategic Anchors
          <info inverted :obj='strategyInfo'/>
        </q-toolbar-title>
      </q-toolbar>

      <q-card-title>
        <health-status :status='status'/>
      </q-card-title>

      <!-- <q-btn flat color='primary' no-caps @click="guideModalOpened = true">Guide me</q-btn> -->
      <div style='margin:2em'>
        <p>What are the 3 things to keep in mind when making decisions in a purposeful, intentional, and unique way that will allow us to maximize our success and differentiation from competitors?</p>
        <a href='http://strategictoolkits.com/strategic-concepts/activity-map/' target="_blank">Learn more</a>
      </div>

      <q-list highlight>
        <q-item>
          <q-item-main>
            <b>Strategic Anchor 1:</b>
            <text-entry modal :input.sync='anchor1' :examples='strategyExamples'/>
          </q-item-main>
          <q-item-side icon='keyboard_arrow_right' right/>
        </q-item>
        <q-item>
          <q-item-main>
            <b>Strategic Anchor 2:</b>
            <text-entry modal label='Strategic Anchor 2' :input.sync='anchor2' :examples='strategyExamples'/>
          </q-item-main>
          <q-item-side icon='keyboard_arrow_right' right/>
        </q-item>
        <q-item>
          <q-item-main>
            <b>Strategic Anchor 3:</b>
            <text-entry modal label='Strategic Anchor 3' :input.sync='anchor3' :examples='strategyExamples'/>
          </q-item-main>
          <q-item-side icon='keyboard_arrow_right' right/>
        </q-item>
      </q-list>

    </q-modal-layout>
  </q-modal>

  <q-modal maximized class="modal" v-model="guideModalOpened">
    <q-modal-layout>

      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
        <q-toolbar-title>
          Strategy Guide
          <info inverted :obj='strategyInfo'/>
        </q-toolbar-title>
      </q-toolbar>

      <q-card-title>
        <health-status :status='status'/>
      </q-card-title>

      <q-list highlight>
        <q-list-header class="row justify-between items-center" />

        <!-- add new item -->
        <q-item>
          <q-item-main>
            <q-input v-model="newActivity.header" float-label="New Item" @keyup.enter="addNewActivity"/>
          </q-item-main>
        </q-item>

        <!-- list of items -->
        <Container @drop="onDrop">
          <Draggable v-for="(activity, index) in activities" :key="activity.id">
            <div class="draggable-item">
              <q-item v-ripple.mat link class="cursor-pointer">
                <q-item-side>
                  <q-item-tile icon='drag_handle'></q-item-tile>
                </q-item-side>
                <q-item-main>
                  {{index}} - {{activity.header}}
                </q-item-main>
                <q-item-side right>
                  <q-btn flat v-if="$store.state.editMode" icon='delete' color='red' @click='deleteActivity(activity)' ></q-btn>
                </q-item-side>
                <q-item-side right icon="keyboard_arrow_right"/>
              </q-item>
              <q-item-separator/>
            </div>
          </Draggable>
        </Container>
      </q-list>
    </q-modal-layout>
  </q-modal>
</span>
</template>
<script>
import TextEntry from 'components/TextEntry'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
import Info from 'components/Info'
import { Container, Draggable } from 'vue-smooth-dnd'
import {strategyInfo, strategyExamples} from 'components/playbook/strategy.json'

export default {
  components: {
    Container,
    Draggable,
    Info,
    ButtonSummary,
    TextEntry,
    HealthStatus
  },
  data () {
    return {
      guideModalOpened: false,
      activities: [
        ''],
      newActivity: {
        header: '',
        order: 0
      },
      opened: false,
      anchor1: '',
      anchor2: '',
      anchor3: '',
      strategyInfo,
      strategyExamples
    }
  },
  methods: {
    save () {
      this.$store.dispatch('updatePlaybook', { strategy: {
        percComplete: this.status,
        anchor1: this.anchor1,
        anchor2: this.anchor2,
        anchor3: this.anchor3
      } })
    },
    closeModal () {
      this.save()
      this.opened = false
    },
    initStrategy () {
      const playbook = this.$store.state.userProfile.playbook
      const strategy = playbook ? playbook.strategy : null
      if (strategy) {
        this.anchor1 = strategy.anchor1
        this.anchor2 = strategy.anchor2
        this.anchor3 = strategy.anchor3
      }
    },
    addNewActivity () {
      this.NewActivity.createdAt = Date.now()
      this.NewActivity.order = this.$store.state.activities.length
      if (this.NewActivity.header.trim()) {
        this.$store.dispatch('addActivity', this.NewActivity)
      }
      this.newActivity.header = ''
    },
    deleteActivity (activity) {
      this.$q.dialog({
        title: 'Ok to delete?',
        message: 'All information will be deleted',
        ok: true,
        cancel: true
      }).then(() => {
        // TODO
        this.$store.dispatch('deleteActivity', activity)
      }).catch(() => {
      })
    },
    onDrop (dropResult) {
      let tempActivities = Object.assign(this.activities)
      let movedActivity = tempActivities[dropResult.removedIndex]
      tempActivities.splice(dropResult.removedIndex, 1)
      tempActivities.splice(dropResult.addedIndex, 0, movedActivity)
      tempActivities = this.updateActivitiesOrders(tempActivities)
      this.updateChangedActivities(tempActivities)
    },
    updateChangedActivities (activities) {
      this.$store.dispatch('updateMultipleActivities', activities)
    },
    updateActivitiesOrders (activities) {
      return activities.map((activity, index) => {
        return Object.assign(activity, { order: index })
      })
    }
  },
  computed: {
    status: function () {
      var total = 0
      if (this.anchor1.length > 5) {
        total += 40
      }
      if (this.anchor2.length > 5) {
        total += 30
      }
      if (this.anchor3.length > 5) {
        total += 30
      }
      return total
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initStrategy()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initStrategy()
      }
    }
  }
}
</script>
