<template>
<span>
  <button-summary label="How do we do what we do?" :status='status' @click.native='opened=true'/>

  <q-modal maximized class="modal" v-model="opened">
    <q-modal-layout>

      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
        <q-toolbar-title>
          How do we do what we do?
          <info inverted :obj='valuesInfo'/>
        </q-toolbar-title>
      </q-toolbar>

      <q-card-title>
        <health-status :status='status'/>
      </q-card-title>

      <!-- core values -->
      <q-card>
        <q-card-title>
          <info :obj='coreValuesInfo'/>
          <q-btn flat no-caps color="primary" @click='coreValuesModalOpened=true'>
            Core Values
          </q-btn>
        </q-card-title>
        <q-card-main>
          <p v-for="(cv, i) in coreValues" :key="i + cv" v-html='cv'></p>
          <health-status :status='coreValuesStatus'/>
        </q-card-main>
      </q-card>

      <q-modal maximized class="modal" v-model="coreValuesModalOpened">
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn
              icon="keyboard_arrow_left"
              flat
              @click="saveAndCloseModal('coreValuesModalOpened')"
            />
            <q-toolbar-title>
              Core Values
              <info inverted :obj='coreValuesInfo'/>
            </q-toolbar-title>
          </q-toolbar>

          <q-card>
            <q-card-title>
              <health-status :status='coreValuesStatus'/>
            </q-card-title>
            <q-card-main>
              <q-list highlight>
                <q-list-header>
                  Core values
                  <q-btn flat icon="add" @click="addCoreValue"/>
                  <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
                </q-list-header>
                <q-item v-for="(cv, i) in coreValues" :key="i + cv">
                  <q-item-main>
                    <values-lookup :value.sync="coreValues[i]"/>
                  </q-item-main>
                  <q-item-side right icon="keyboard_arrow_right">
                    <q-btn v-if="editMode" icon="delete" flat color="red" @click="deleteCoreValue(i)" />
                  </q-item-side>
                </q-item>
              </q-list>
              <q-field class="q-pa-sm" v-if='coreValues.length > 0 && coreValues[0].length > 5'>
              <h6>Did you get the core values correctly?</h6>
              <p class='caption'>
                <q-toggle v-model="coreValueQ1" label="Will you allow yourself to be punished for living these values?" />
                <q-toggle v-model="coreValueQ2" label="Is this trait inherent and natural for us, and has it been apparent in the org for a long time?" />
                <q-toggle v-model="coreValueQ3" label="Can you credibly claim that you commit to this value more than 99% companies in the industry?" />
              </p>
              </q-field>
            </q-card-main>
          </q-card>
        </q-modal-layout>
      </q-modal>

      <!-- aspirational values -->
      <q-card>
        <q-card-title>
          <info :obj='aspValuesInfo'/>
          <q-btn flat no-caps color="primary" @click='aspValuesModalOpened=true'>Aspirational Values</q-btn>
        </q-card-title>
        <q-card-main>
          <p v-for="(cv, i) in aspValues" :key="i + cv" v-html='cv'></p>
          <health-status :status='aspValuesStatus'/>
        </q-card-main>
      </q-card>

      <q-modal maximized class="modal" v-model="aspValuesModalOpened">
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn
              icon="keyboard_arrow_left"
              flat
              @click="saveAndCloseModal('aspValuesModalOpened')"
            />
            <q-toolbar-title>
              Aspirational values
              <info inverted :obj='aspValuesInfo'/>
            </q-toolbar-title>
          </q-toolbar>

          <q-card>
            <q-card-title><health-status :status='aspValuesStatus'/></q-card-title>
            <q-card-main>
              <q-list highlight>
                <q-list-header>
                  Aspirational values
                  <q-btn flat icon="add" @click="addAspirationalValue"/>
                  <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
                </q-list-header>
                <q-item v-for="(cv, i) in aspValues" :key="i + cv">
                  <q-item-main>
                    <values-lookup :value.sync="aspValues[i]"/>
                  </q-item-main>
                  <q-item-side right icon="keyboard_arrow_right">
                    <q-btn v-if="editMode" icon="delete" flat color="red" @click="deleteAspirationalValue(i)" />
                  </q-item-side>
                </q-item>
              </q-list>
              <h6>Did you get the aspirational values correctly?</h6>
              <q-field class="q-pa-sm" v-if='aspValues.length > 0 && aspValues[0].length > 5'>
                <p class='caption'>
                  <q-toggle v-model="aspValueQ1" label="These values are neither natural nor inherent, therefore must be purposefully into the culture" />
                  <q-toggle v-model="aspValueQ2" label="Are you aspiring to adopt these values and are working hard to cultivate them?" />
                </p>
              </q-field>
            </q-card-main>
          </q-card>
        </q-modal-layout>
      </q-modal>

      <!-- permission to play values -->
      <q-card>
        <q-card-title>
          <info :obj='genValuesInfo'/>
          <q-btn flat color="primary" no-caps @click='genValuesModalOpened=true'>
            Permission to Play Values
          </q-btn>
          </q-card-title>
        <q-card-main>
          <p v-for="(cv, i) in genValues" :key="i + cv"  v-html='cv'></p>
          <health-status :status='genValuesStatus'/>
        </q-card-main>
      </q-card>

      <q-modal maximized class="modal" v-model="genValuesModalOpened">
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn
              flat
              icon="keyboard_arrow_left"
              @click="saveAndCloseModal('genValuesModalOpened')"
            />
            <q-toolbar-title>
              Permission to play values
              <info inverted :obj='genValuesInfo'/>
            </q-toolbar-title>
          </q-toolbar>
          <q-card>
            <q-card-title><health-status :status='genValuesStatus'/></q-card-title>
            <q-card-main>
                <q-list highlight>
                <q-list-header>
                  Permission to play values
                  <q-btn flat icon="add" @click="addPermissionValue"/>
                  <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
                </q-list-header>
                <q-item v-for="(cv, i) in genValues" :key="i + cv">
                  <q-item-main>
                    <values-lookup :value.sync="genValues[i]"/>
                  </q-item-main>
                  <q-item-side right icon="keyboard_arrow_right">
                    <q-btn v-if="editMode" icon="delete" flat color="red" @click="deletePermissionValue(i)" />
                  </q-item-side>
                </q-item>
              </q-list>
              <q-field class="q-pa-sm" v-if='genValues.length > 0 && genValues[0].length > 5'>
              <h6>Did you get the "permission to play" values correctly?</h6>
                <p class='caption'>
                  <q-toggle v-model="genValueQ1" label="Will you likely to see these values used by any other organization as well?" />
                  <q-toggle v-model="genValueQ2" label="You are not willing to adopt clearly higher standards than most other organizations for these values?" />
                </p>
              </q-field>
            </q-card-main>
          </q-card>
        </q-modal-layout>
      </q-modal>

      <!-- accidental values -->
      <q-card>
        <q-card-title>
          <info :obj='acsValuesInfo'/>
          <q-btn flat no-caps color="primary" @click='acsValuesModalOpened=true'>
            Accidental Values
          </q-btn>
        </q-card-title>
        <q-card-main>
          <p v-for="(cv, i) in acsValues" :key="i + cv"  v-html='cv'></p>
          <health-status :status='acsValuesStatus'/>
        </q-card-main>
      </q-card>

      <q-modal maximized class="modal" v-model="acsValuesModalOpened">
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn
              flat
              icon="keyboard_arrow_left"
              @click="saveAndCloseModal('acsValuesModalOpened')"
            />
            <q-toolbar-title>
              Accidental values
              <info inverted :obj='acsValuesInfo'/>
            </q-toolbar-title>
          </q-toolbar>

            <q-card>
              <q-card-title><health-status :status='acsValuesStatus'/></q-card-title>
              <q-card-main>
                <q-list highlight>
                  <q-list-header>
                    Accidental values
                    <q-btn flat icon="add" @click="addAccidentalValue"/>
                    <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
                  </q-list-header>
                  <q-item v-for="(cv, i) in acsValues" :key="i + cv">
                    <q-item-main>
                      <values-lookup :value.sync="acsValues[i]"/>
                    </q-item-main>
                    <q-item-side right icon="keyboard_arrow_right">
                      <q-btn v-if="editMode" icon="delete" flat color="red" @click="deleteAccidentalValue(i)" />
                    </q-item-side>
                  </q-item>
                </q-list>
                <q-field class="q-pa-sm" v-if='acsValues.length > 0 && acsValues[0].length > 5'>
                <h6>Did you get the accidental values correctly?</h6>
                  <p class='caption'>
                    <q-toggle v-model="acsValueQ1" label="Are these qualities that are shared among all employees (socioeconomics status, looks, character) and these qualites should not be part of your core or aspirational values?" />
                  </p>
                </q-field>
              </q-card-main>
            </q-card>
        </q-modal-layout>
      </q-modal>

    </q-modal-layout>
  </q-modal>
</span>
</template>

<script>
import ValuesLookup from 'components/ValuesLookup'
import HealthStatus from 'components/HealthStatus'
import ButtonSummary from 'components/ButtonSummary'
import { valuesInfo, coreValuesInfo, genValuesInfo, acsValuesInfo, aspValuesInfo } from 'components/playbook/values.json'
import Info from 'components/Info'

export default {
  components: {
    Info,
    ButtonSummary,
    ValuesLookup,
    HealthStatus
  },
  data () {
    return {
      editMode: false,
      opened: false,
      coreValuesModalOpened: false,
      aspValuesModalOpened: false,
      genValuesModalOpened: false,
      acsValuesModalOpened: false,
      coreValues: [],
      genValues: [],
      acsValues: [],
      aspValues: [],
      valuesInfo,
      coreValuesInfo,
      genValuesInfo,
      acsValuesInfo,
      aspValuesInfo,
      coreValueQ1: false,
      coreValueQ2: false,
      coreValueQ3: false,
      aspValueQ1: false,
      aspValueQ2: false,
      genValueQ1: false,
      genValueQ2: false,
      acsValueQ1: false
    }
  },
  methods: {
    save () {
      this.$store.dispatch(
        'updatePlaybook',
        {
          values: {
            percComplete: this.status,
            core: {
              value: this.coreValues,
              q1: this.coreValueQ1,
              q2: this.coreValueQ2,
              q3: this.coreValueQ3
            },
            aspirational: {
              value: this.aspValues,
              q1: this.aspValueQ1,
              q2: this.aspValueQ2
            },
            permission: {
              value: this.genValues,
              q1: this.genValueQ1,
              q2: this.genValueQ2
            },
            accidental: {
              value: this.acsValues,
              q1: this.acsValueQ1
            }
          }
        }
      )
    },
    closeModal () {
      this.opened = false
    },
    initValues () {
      const playbook = this.$store.state.userProfile.playbook
      const values = playbook ? playbook.values : null
      if (values) {
        const core = Object.assign({}, values.core)
        const aspirational = Object.assign({}, values.aspirational)
        const permission = Object.assign({}, values.permission)
        const accidental = Object.assign({}, values.accidental)

        this.coreValues = [...core.value]
        this.coreValueQ1 = core.q1
        this.coreValueQ2 = core.q2
        this.coreValueQ3 = core.q3
        this.aspValues = [...aspirational.value]
        this.aspValueQ1 = aspirational.q1
        this.aspValueQ2 = aspirational.q2
        this.genValues = [...permission.value]
        this.genValueQ1 = permission.q1
        this.genValueQ2 = permission.q2
        this.acsValues = [...accidental.value]
        this.acsValueQ1 = accidental.q1
      }
    },
    addCoreValue () {
      this.coreValues.push('')
    },
    addAspirationalValue () {
      this.aspValues.push('')
    },
    addPermissionValue () {
      this.genValues.push('')
    },
    addAccidentalValue () {
      this.acsValues.push('')
    },
    deleteCoreValue (i) {
      this.coreValues.splice(i, 1)
    },
    deleteAspirationalValue (i) {
      this.aspValues.splice(i, 1)
    },
    deletePermissionValue (i) {
      this.genValues.splice(i, 1)
    },
    deleteAccidentalValue (i) {
      this.acsValues.splice(i, 1)
    },
    saveAndCloseModal (modalOpened) {
      this.save()
      this[modalOpened] = false
    }
  },
  computed: {
    status: function () {
      var total = 0 + this.coreValuesStatus + this.aspValuesStatus + this.genValuesStatus + this.acsValuesStatus
      return Math.floor(total / 4)
    },
    coreValuesStatus: function () {
      var total = 0
      if (this.coreValues.length > 0 && this.coreValues[0].length > 5) {
        total += 40
        if (this.coreValueQ1) {
          total += 20
        }
        if (this.coreValueQ2) {
          total += 20
        }
        if (this.coreValueQ3) {
          total += 20
        }
      }
      return total
    },
    aspValuesStatus: function () {
      var total = 0
      if (this.aspValues.length > 0 && this.aspValues[0].length > 5) {
        total += 60
        if (this.aspValueQ1) {
          total += 20
        }
        if (this.aspValueQ2) {
          total += 20
        }
      }
      return total
    },
    genValuesStatus: function () {
      var total = 0
      if (this.genValues.length > 0 && this.genValues[0].length > 5) {
        total += 60
        if (this.genValueQ1) {
          total += 20
        }
        if (this.genValueQ2) {
          total += 20
        }
      }
      return total
    },
    acsValuesStatus: function () {
      var total = 0
      if (this.acsValues.length > 0 && this.acsValues[0].length > 5) {
        total += 50
        if (this.acsValueQ1) {
          total += 50
        }
      }
      return total
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initValues()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initValues()
      }
    }
  }
}
</script>
