<template>
<span>
  <button-summary label="Who must do what?" :status='status' @click.native='opened=true'/>

  <q-modal maximized class="modal" v-model="opened">
    <q-modal-layout>

      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="closeModal"/>
        <q-toolbar-title>
          Who must do what?
          <info inverted :obj='valuesInfo'/>
        </q-toolbar-title>
      </q-toolbar>

      <q-card-title>
        <health-status :status='status'/>
      </q-card-title>

     <!-- decision areas list -->
      <q-list
        class="q-mt-md"
        :key="`list: ${decisionAreas.length} ${decisionAreasDetailsModalOpened}`"
      >
        <q-list-header>
          Decision Areas
          <q-btn flat icon="add" @click="addDecisionArea"/>
          <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
        </q-list-header>

        <q-item class="dashboard cursor-pointer"
          v-for="(cv, index) in decisionAreas"
          :key="index + cv.name"
          @click.native.prevent="openDetailsModal(index)"
        >
          <q-item-main>
            <q-item-tile label>
              {{cv.name | formatDisplay}}
            </q-item-tile>
            <q-item-tile sublabel>
              {{cv.assignee.label | formatDisplay}}
            </q-item-tile>
            <q-item-tile sublabel>
              Delegation Level:
              <delegation-authority readOnly @click.native.stop="" :model.sync='cv.authLevel'/>
            </q-item-tile>
          </q-item-main>

          <q-item-side right icon="keyboard_arrow_right">
            <q-btn v-if='editMode'
              color="negative"
              icon="delete"
              flat
              @click.capture.stop="deleteDecisionArea(index)"
            />
          </q-item-side>
        </q-item>
      </q-list>

      <!-- decision area details modal -->
      <q-modal
        v-if="decisionAreas.length"
        v-model="decisionAreasDetailsModalOpened"
        :key="decisionAreasDetailsModalOpened"
        maximized
        class="modal"
      >
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn icon="keyboard_arrow_left" flat @click="saveChangesAndClose" />
            <q-toolbar-title>Decision Area Details</q-toolbar-title>
          </q-toolbar>

          <q-field class="q-pa-lg">
            <q-input
              float-label="Key Decision Area"
              v-model="decisionAreas[selectedItemIndex].name"
            />
          </q-field>

          <q-field class="q-pa-lg">
            <assignment-input
              :key="selectedItemIndex"
              float-label="Person or Team Responsible"
              placeholder="Type Team or Person name responsible"
              v-model="decisionAreas[selectedItemIndex].assignee"
            />
          </q-field>

          <q-field class="q-pa-lg">
            <p class="caption no-margin">
              <span>Selected authority style:</span>
              <delegation-authority :model.sync='decisionAreas[selectedItemIndex].authLevel'/>
            </p>
          </q-field>
        </q-modal-layout>
      </q-modal>

      <!-- delegates for projects list -->
      <delegates-list />

    </q-modal-layout>
  </q-modal>
</span>
</template>

<script>
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
import DelegationAuthority from 'components/delegation/DelegationAuthority'
import DelegatesList from 'components/DelegatesList'
import Info from 'components/Info'
import AssignmentInput from 'components/AssignmentInput'
import dcopy from 'deep-copy'

export default {
  components: {
    Info,
    ButtonSummary,
    HealthStatus,
    DelegationAuthority,
    DelegatesList,
    AssignmentInput
  },
  data () {
    return {
      editMode: false,
      opened: false,
      terms: '',
      selectedItemIndex: 0,
      decisionAreas: [],
      decisionAreasDetailsModalOpened: false,
      valuesInfo: {
        'title': 'Clarify boundaries of people and teams authorities',
        'info': [
          'Often, when managers “empower” people, they don’t give them clear boundaries of their authority. This means people usually have to find out by trial and error, incurring some emotional damage along the way. Donald Reinertsen calls it the “discovery of invisible electric fences” [Reinertsen 1997:107-108]. It is a waste of time and resources. Worse, repeatedly running into invisible electric fences tends to kill people’s motivation. They have no idea what other invisible fences surround them, and then they prefer not to move around anymore.',
          'Self-organizing teams benefit from having a clear boundary list. This list defines what teams can do by themselves and at what level they are authorized to perform those activities.'
        ]
      }
    }
  },
  computed: {
    status () {
      var total = 0

      this.decisionAreas.forEach(e => {
        if (e.name.length > 1 && e.authLevel !== '' && e.assignee !== '') {
          total += 100
        }
      })
      if (this.decisionAreas.length > 0) {
        total = total / this.decisionAreas.length
      } else {
        total = 0
      }
      return Math.round(total)
    }
  },
  filters: {
    formatDisplay: (e) => {
      return e === '' ? 'not selected' : e
    }
  },
  methods: {
    closeModal () {
      this.opened = false
    },
    openDetailsModal (index) {
      if (this.$store.state.allMembers.length === 0) {
        this.$store.dispatch('loadAllMembers')
      }
      this.selectedItemIndex = index
      this.decisionAreasDetailsModalOpened = true
    },
    initDecisionAreas () {
      const playbook = this.$store.state.userProfile.playbook
      var decisionAreas = playbook ? playbook.decisionAreas : []
      decisionAreas = decisionAreas ? decisionAreas.decisionAreas : []
      if (decisionAreas) {
        this.decisionAreas = dcopy(decisionAreas)
      }
    },
    saveChangesAndClose () {
      this.$store.dispatch('updatePlaybook', { decisionAreas: {
        percComplete: this.status,
        decisionAreas: this.decisionAreas
      }})
      this.decisionAreasDetailsModalOpened = false
    },
    addDecisionArea () {
      this.decisionAreas.push({
        name: '',
        assignee: {},
        authLevel: 1
      })
      this.saveChangesAndClose()
    },
    deleteDecisionArea (index) {
      this.decisionAreas.splice(index, 1)
      this.saveChangesAndClose()
    }
  },
  async created () {
    if (this.$store.state.userProfile.playbook) {
      this.initDecisionAreas()
    } else {
      try {
        const doc = await this.$store.dispatch('getUserProfile')
        this.$store.commit('setUserProfile', doc.data())
      } finally {
        this.initDecisionAreas()
      }
    }
  }
}
</script>
