<template>
<span>
  <section class="banner">
    <div class="banner-container">
      <div class="call">
        <p>Your and your team's  <i>own personal</i> assitant to build and maintain a truly agile
          organization! </p>
        <!-- ## PUT LOGIN/REGISTER LINK IN THE HREF ## -->
         <q-btn flat no-caps class="start-now" label='start now!' to="/login"/>
      </div>
      <div class="img">
        <img src="/statics/img/banner-01.svg" />
      </div>
    </div>
    <img src="/statics/img/hex2.svg" class="hex" />
  </section>

  <div class="container">
    <section class="why">
      <h3>Why Agile Org App?</h3>
      <p>
        Helps you build a powerfull organization with a healthy enviroment<br />
        and unstoppable team members. Use it to:
      </p>
      <div class="cards">
        <div class="card">
          <img src="/statics/img/Create_clarity-01.svg" />
          <h3>Create Clarity</h3>
          <p>
            With highly engaged and empowered people that fluidly adapt
            towards new opportunities.
          </p>
        </div>
        <div class="card">
          <img src="/statics/img/energize_people.svg" />
          <h3>Energize People</h3>
          <p>
            Delegate effectively and never micro-manage again.
          </p>
        </div>
        <div class="card">
          <img src="/statics/img/empower_teams.svg" />
          <h3>Empower Teams</h3>
          <p>
            Unleash your team’s true potential to achive extraordinary results
          </p>
        </div>
      </div>
    </section>
  </div>
  <section class="team">
    <div class="container">
      <div class="team-col-1">
        <h2>Grow a team that...</h2>
        <div class="citation">
          <span class="img">
            <img src="/statics/img/checked.svg" />
          </span>
          <p>Is 6 times more likely to be engaged in their work</p>
        </div>
        <div class="citation">
          <span class="img">
            <img src="/statics/img/checked.svg" />
          </span>
          <p>Has a healthy culture and effectively aligned structure</p>
        </div>
        <div class="citation">
          <span class="img">
            <img src="/statics/img/checked.svg" />
          </span>
          <p>
            Is 3 times more likely to say they have an excellent quality of
            life
          </p>
        </div>
      </div>
      <div class="team-col-2">
        <div class="quote">
          <div class="img">
            <img src="/statics/img/patrick.png" />
          </div>
          <div class="phrase">
            <img src="/statics/img/quote.svg">
            <p class="quote-body">
              The seminal difference between successful companies and mediocre
              ones has little to do with what they know and how smart they are
              and more to do with how healthy they are.
            </p>
            <p class="quote-name">
              - Patrick Lencioni, New York Times best-selling author.
            </p>
          </div>
        </div>
        <div>
          <img src="/statics/img/team_talking.svg" class="team-talking" />
        </div>
      </div>
    </div>
  </section>

  <section class="bottom">
    <p class="text">
      Let it help you to grow the kind of organization that creates the
      <i>unstoppable</i> team!<br /><br />
      <q-btn flat no-caps class="start-now" label='start now!' to="/login"/>
      <!-- <a href="#" class="start-now">start now!</a> -->
    </p>
    <div>
      <img src="/statics/img/business_team.svg" />
    </div>
  </section>

  <footer>
    <div class="logo">
      <!-- <h4>Agile Org</h4> -->
      <p class="footer-name">
        © Agile Org 2019 - All rights reserved.
      </p>
    </div>
    <!-- <div class="product">
      <h4>Product</h4>
      These links are useful in footers, create pages to match them. Feel free to change whatever you like
      <a href="#">How it works</a>
      <a href="#">What we solve</a>
      <a href="#">Login or Register</a>
    </div>
    <div class="company">
      <h4>Company</h4>
      <a href="#">About us</a>
      <a href="#">Contact</a>
    </div> -->
  </footer>
</span>
</template>
<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Roboto|Vollkorn");
$palette: (
  white: white,
  primary: #027be3,
  dark-blue: #0055a0,
  title: #063863,
  text: #7f7f7f,
  text-light: lighten(#7f7f7f, 40%),
);

@function color($color) {
  @return map-get($palette, $color);
}

$desktop: 750px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body {
  margin: 0;
  width: 100%;
}

.banner {
  position: relative;
  background-color: color(primary);
  width: 100vw;
  min-height: 50vh;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  .hex{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right:0;
    height: 0;
    opacity: 0.3;
  }
}

.container {
  width: 100vw;
}

.banner-container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;

  .call {
    font-family: "Vollkorn", serif;
    color: white;
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .img {
    height: 12em;
    padding-top: 1em;

    img{
      height: 100%;
    }
  }
}

.start-now {
  background-color: color(white);
  padding: 0.5em 2em 0.5em 2em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Vollkorn", serif;
  text-decoration: none;
  font-size: 1em;
  color: color(primary);
  margin-bottom: 0.5em;
  transition: 0.3s ease-out;
  &:hover{
    padding: 0.5em 2.5em 0.5em 2.5em;
  }
}

.why {
  padding: 1em 0;
  min-height: 100vh;
  text-align: center;
  h3 {
    font-family: "Vollkorn", serif;
    color: color(title);
  }
  p {
    color: color(text);
    font-family: "Roboto", sans-serif;
  }
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  padding: 1em;
  margin: 1em auto;
  width: 60%;
  min-height: 320px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 5px solid color(primary);
  border-radius: 5px;
  transition: 0.3s ease-out;
  img {
    width: 100%;
    justify-self: center;
  }

  h3 {
    color: color(title);
    align-self: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p {
    margin-block-start: 0;
  }
  &:hover{
    transform: translateY(-10px);
  }
}
.team {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 1em 0;
  text-align: center;
  h2 {
    padding-top: 0.5em;
    font-family: "Vollkorn", serif;
    color: color(title);
    margin-block-end: 0;
  }
  .citation {
    background-color: color(white);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 3em auto;
    max-width: 80%;
    min-height: 4em;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    padding: 0 0.5em;
    border-radius: 3px;
    border-left: 5px solid color(primary);
    .img{
      width: 8%;
      padding: 0.5em;
      align-self: center;
    }
    p {
      width: 92%;
      color: color(text);
      font-family: "Roboto", sans-serif;
    }
  }

  .quote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em 1em;
    background-color: lighten(#f2f2f2, 2%);
    border-left: 3px solid color(primary);
    border-radius: 4px;
    width: 85%;
    margin: 0 auto;

    .img {
      width: 30%;
      img{
        width: 80%;
        border-radius: 100%;
      }
    }

    .phrase {
      padding-left: 1em;
      width: 70%;
      align-self: center;
      text-align: left;
      img{
        visibility: hidden;
        width: 0;
      }
      .quote-body {
        font-family: "Roboto", sans-serif;
        color: darken(color(text), 10%);
        margin-block-start: 0;
      }
      .quote-name {
        font-family: "Roboto", sans-serif;
        color: lighten(color(text), 25%);
        font-style: italic;
        text-align: right;
      }
    }
  }
  .team-talking {
    width: 75%;
    margin: 3em auto;
  }
}

.bottom {
  position:relative;
  background-color: color(dark-blue);
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  grid-template-rows: 2fr 3fr;
  height: 100%;
  p {
    font-family: "Vollkorn", serif;
    font-size: 1.5em;
    color: color(white);
    align-self: center;
    margin-bottom: 1em;
    padding: 0 1em;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
  .start-now {
    margin-top: 1em;
    a {
      color: color(dark-blue);
    }
  }
}

footer{
  background-color: darken(color(dark-blue), 10%);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  font-family: "Roboto", sans-serif;

  a{
    text-decoration: none;
    font-size: 0.8em;
    color: color(text-light);
    margin-bottom: 0.5em;
  }
  h4{
    font-weight: 300;
    color: lighten(color(primary), 40%);
  }
  p{
    color: color(text-light);
    font-size: 0.8em;
  }
  .logo{
    text-align: center;
    margin: 1em;
    h4{
      font-family: "Vollkorn", serif;

    }
  }
  .product{
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .company{
    margin: 1em;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@include desktop {
  .banner{
    min-height: 0;
  }
  .container{
    width: 65vw;
    margin: 0 auto;
  }
  .banner {
    display: flex;
    flex-direction: row;
    align-content: center;
    .hex{
      visibility: visible;
      height: 100%;
    }
  }
  .banner-container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-self: center;
    padding: 4em 0 4em 0;
    .call{
      padding-left: 5em;
      text-align: left;
      width: 50%;
      align-self: center;
    }
    .img{
      height: 14em;
      width: 60%;
      align-self: center;
      img {
        width: 80%;
      }
    }
  }

  .why{
    min-height: 0;
    padding: 1.5em 0 4em 0;
  }
  .cards{
    flex-wrap: nowrap;
  }

  .card{
    width: 25%;
  }

  .team{
    min-height: 0;
    padding: 3em 0;
    .container{
      width: 80vw;
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      .team-col-1{
        width: 50%;
      }
      .team-col-2{
        width: 50%;
      }
      .citation{
        max-width: 90%;
        transition: 0.3s ease-out;
        .img{
          width: 5%;
        }
        &:hover{
          transform: translateX(5px)
        }
      }
    }
    .quote{
      margin-top: 2em;
      background-color: transparent;
      border-left: 0;
      .phrase{
        img{
          visibility: visible;
          width: 2em;
          opacity: 0.7;
        }
        .quote-name{
          font-size: 0.8em;
        }
      }
    }
    .team-talking{
      margin: 2em  auto;
    }
  }

  .bottom{
    background-repeat: no-repeat;
    flex-wrap: nowrap;
    min-height: 0;
    padding: 7em 0 7em 0;
    p{
      width: 40%;
      .start-now{
        font-size: 0.8em;
      }
    }
    div{
      align-self: center;
      width: 30%;
    }
    .hex{
      visibility: visible;
      height: 100%;
    }
  }

  footer{
    padding: 2em;
    .logo{
      text-align: left;
      margin-right: 2em;
    }
    .product{
      margin-right: 2em
    }
    .company{
      margin-right: 2em
    }
  }
}
</style>
