<template>
     <q-toolbar slot="header">
      <!-- opens drawer below   -->
      <q-btn v-if='showMenu==""' flat @click='triggerAction("TOGGLE_LEFT")' >
        <q-icon name="menu" />
      </q-btn>
    <q-toolbar-title v-if='viewAction === "EDIT"'>
     Edit {{name}}
    </q-toolbar-title>
    <q-toolbar-title v-else-if='viewAction === "ADD"'>
      New {{name}}
    </q-toolbar-title>
    <q-toolbar-title v-else>
       {{name}}
    </q-toolbar-title>

    <div v-if='showActions!== "FALSE"'>
      <div v-if='viewAction === "EDIT" || viewAction === "ADD" '>
        <q-btn flat @click='triggerAction("SAVE")'  icon='done'/>
        <q-btn flat @click='triggerAction("CANCEL")' icon='cancel'/>
      </div>
      <div v-else>
        <q-btn flat @click='triggerAction("EDIT")'  icon='edit'/>
      </div>
    </div>
  </q-toolbar>

</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  props: ['action', 'name', 'showActions', 'showMenu'],
  components: {
  },
  data () {
    var viewAction
    return {
      viewAction
    }
  },
  mounted: function () {
    this.viewAction = this.action
  },
  computed: {
    ...mapGetters([
    ])
  },
  methods: {
    ...mapActions([
      'getTeam'
    ]),
    triggerAction (action) {
      this.viewAction = action
      this.$emit('action', action)
    }
  }
}
</script>
