<template>
  <div>
    <q-toolbar v-if='showToolbar==""'>
      <q-toolbar-title >Edit Team Details</q-toolbar-title>
    </q-toolbar>

    <div class="q-pa-md">
      <q-field>
        <q-input v-model="model.name" float-label="New Team Name" />
      </q-field>
      <q-field>
        <q-btn v-if="viewAction === 'EDIT'" @click='updateTeam' color='primary'>update</q-btn>
        <q-btn v-else @click='addTeam' color='primary'>add</q-btn>
      </q-field>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      model: {
        name: this.team ? this.team.name : ''
      }
    }
  },
  props: ['team', 'viewAction', 'showToolbar'],
  methods: {
    addTeam () {
      this.$store.dispatch('addTeam', this.model)
      this.resetForm()
      this.$emit('action', 'ADD')
    },
    updateTeam () {
      this.$store.dispatch('updateTeam', this.model)
      this.$emit('action', 'UPDATE')
    },
    injectMember () {
      this.model = this.team
    },
    resetForm () {
      this.model = this.$options.data().model
    },
    cancel () {
      if (this.viewAction !== 'EDIT') {
        this.resetForm()
      }
      this.$emit('cancel')
    }
  },
  created () {
    if (this.viewAction === 'EDIT') {
      this.injectMember()
    }
  }
}
</script>
