<template>
  <q-item>
    <q-item-side avatar>
      <img v-if='model.picture' :src="model.picture" width='35px' />
      <vue-avatar v-else :fullname="model.name" :size="size" />
    </q-item-side>

    <q-item-main>
      <a @click='selected' class="cursor-pointer">
        <q-item-tile label>{{model.name}}</q-item-tile>
      </a>
    </q-item-main>

    <q-item-side v-if="viewAction !== 'EDIT'"  >
      <q-item-tile>
        <q-btn v-if="$store.state.editMode" flat @click='deleteTeam(model)' icon='delete' color="red" />
      </q-item-tile>
    </q-item-side>

  </q-item>
</template>

<script>
import VueAvatar from 'vue-avatar-component'

export default {
  props: ['model', 'viewAction'],
  components: {
    VueAvatar
  },
  data () {
    return {
      size: 35
    }
  },
  methods: {
    deleteTeam (team) {
      this.$q.dialog({
        title: 'Ok to delete?',
        message: 'All information will be deleted as well?',
        ok: true,
        cancel: true
      }).then(() => {
        this.$store.dispatch('deleteTeam', team)
      }).catch(() => {
      })
    },
    selected () {
      this.$emit('selected', this.model)
    }
  }
}
</script>
