<template>
<span>
        <!--section-1-->
        <!--first-->
        <div class="section-1 common-container">
          <div class="overlay-first"></div>
          <div class="text-block">
            <h1 class="main-title" v-if='userPlaybook.basics'>{{userPlaybook.basics.longName}} Playbook</h1>
            <p v-if='userPlaybook.basics' class='main-sub-title'>Authors: {{userPlaybook.basics.leaderName}} and the
              {{userPlaybook.basics.shortName}} leadership team</p>
          </div>
        </div>
        <!--section-2-->
        <!--first-->
        <div class="section-2 common-container">
          <div class="overlay-second"></div>
          <div class="bg-block">
          </div>
          <div class="text-block">
            <p class="number">01.</p>
            <h5 class="name-section">
              <!--<info :obj='purposeInfo'/>-->
              Our Purpose - Why do we exist?
            </h5>
            <div v-html="status.purpose" class=" content"/>

            <p class="number mg-top">02.</p>
            <h5 class="name-section">
              <!--<info :obj='productsInfo'/>-->
              Our Products or Services - <br> What do we do?
            </h5>
            <div v-html="status.product" class=" content"/>
          </div>
        </div>
        <!--section-3-->
        <!--first-->
        <div class="section-3 common-container">
          <p class="number">03.</p>
          <h5 class="name-section">
            <!--<info :obj='valuesInfo'/>-->
            Our Values - How do we behave?
          </h5>
          <dl class="block-content" v-if="status.value">
            <div class="white-block" v-if='userPlaybook.values.core.value.length > 0'>
              <div class="circle"><img src="statics/theme/corp/icons/ellipse.png" alt=""></div>
              <dt class='title-block'><!--<info :obj='coreValuesInfo'/>-->Core:</dt>
              <dd v-for='(i,n) in userPlaybook.values.core.value' :key="i+n+ 'core'"  v-html="(n+1)+ ': ' + i" class="content"/>
            </div>
            <div class="white-block" v-if='userPlaybook.values.aspirational.value.length > 0'>
              <div class="circle"><img src="statics/theme/corp/icons/ellipse.png" alt=""></div>
              <dt class='title-block'><!--<info :obj='aspValuesInfo'/>-->Aspirational:</dt>
              <dd v-for='(i,n) in userPlaybook.values.aspirational.value' :key="i+n+ 'aspirational'" v-html="(n+1)+ ': ' + i" class="content"/>
            </div>
            <div class="white-block" v-if='userPlaybook.values.permission.value.length > 0'>
              <div class="circle"><img src="statics/theme/corp/icons/ellipse.png" alt=""></div>
              <dt class='title-block'><!--<info :obj='genValuesInfo'/>-->Permission to play:</dt>
              <dd v-for='(i,n) in userPlaybook.values.permission.value' :key="i+n+ 'permission'" v-html="(n+1)+ ': ' + i" class="content"/>
            </div>
            <div class="white-block" v-if='userPlaybook.values.accidental.value.length > 0'>
              <div class="circle"><img src="statics/theme/corp/icons/ellipse.png" alt=""></div>
              <dt class='title-block'><!--<info :obj='acsValuesInfo'/>-->Accidental:</dt>
              <dd v-for='(i,n) in userPlaybook.values.accidental.value' :key="i+n+ 'accidental'" v-html="(n+1)+ ': ' + i" class="content"/>
            </div>
          </dl>
          <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS ...</div>
        </div>
        <!--section-4-->
        <div class="section-4 common-container">
          <div class="text-weight-light q-pa-sm" v-if="status.focus">
            <p class="number position-center">04.</p>
            <h5 class="name-section position-center">
              <!--<info :obj='focusInfo'/>-->
              Our Focus - What is the most <br> important, now?
            </h5>
            <!--first-->
            <dl class="wrapper-steps">
              <div class="our-step">
                <img src="statics/theme/corp/icons/icon-1.svg" alt="">
                <dt class="title-block">Thematic Goal:</dt>
                <dd v-html="userPlaybook.focus.goal.value" class="content "/>

              </div>
              <div class="our-step">
                <img src="statics/theme/corp/icons/icon-2.svg" alt="">
                <dt class="title-block">Defining Objectives:</dt>
                <dd v-for='(i,n) in userPlaybook.focus.objectives.value' :key='i' v-html="(n+1)+ ': ' + i" class="content "/>

              </div>
              <div class="our-step">
                <img src="statics/theme/corp/icons/icon-3.svg" alt="">
                <dt class="title-block">Standard Operating Procedures:</dt>
                <dd v-for='(i,n) in userPlaybook.focus.procedures' :key='i' v-html="(n+1)+ ': ' + i" class="content "/>
              </div>
            </dl>
          </div>
          <div v-else class="text-weight-light q-pa-sm">IN PROGRESS...</div>
        </div>
        <!--section-5-->
        <div class="section-5 common-container">
          <div class="overlay-first"></div>

          <div class="text-weight-light q-pa-sm" v-if="status.strategy">
            <div class="text-block">
              <p class="number-white">05.</p>
              <h5 class="name-section">
                <!--<info :obj='strategyInfo'/>-->
                Our Strategic <br> Anchors - How will we successed?
              </h5>
              <dl class="wrapper-anchor">
                <div class="anchor-block">
                  <p class="number">01.</p>
                  <div class="wrapp">
                    <dt class="title-block">Strategy Anchor 1:</dt>
                    <dd v-html='userPlaybook.strategy.anchor1' class="content"></dd>
                  </div>
                </div>
                <div class="anchor-block">
                  <p class="number">02.</p>
                  <div class="wrapp">
                    <dt class="title-block">Strategy Anchor 2:</dt>
                    <dd v-html='userPlaybook.strategy.anchor2' class="content"></dd>
                  </div>
                </div>
                <div class="anchor-block">
                  <p class="number">03.</p>
                  <div class="wrapp">
                    <dt class="title-block">Strategy Anchor 3:</dt>
                    <dd v-html='userPlaybook.strategy.anchor3' class="content"></dd>
                  </div>
                </div>
              </dl>
            </div>
          </div>
          <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS...</div>
        </div>
        <!--section-6-->
        <div class="section-6 common-container">
          <p class="number">06.</p>
          <h5 class="name-section">
            Key Decision Areas - <br> Who is responsible for what?</h5>
          <dl class="list" v-if="status.decisionAreas">
            <span class="list-item" v-for="item in userPlaybook.decisionAreas.decisionAreas" :key="item.name">
              <dt class="name-paragraph">{{item.name}}:</dt>
              <dd v-if='item.assignee' class="content">{{item.assignee.label}}</dd>
            </span>
          </dl>
          <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS ...</div>
        </div>
</span>
</template>
<!--style-->
<style lang="scss" scoped>

  .dt-header {
    margin-top: 1em;
    text-decoration: underline;
    font-weight: normal !important;
  }

  @font-face {
    font-family: Montserrat;
    src: url(/statics/assets/fonts/Montserrat-ExtraLight.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: Montserrat;
    src: url(/statics/assets/fonts/Montserrat-Regular.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: Montserrat;
    src: url(/statics/assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: Roboto;
    src: url(/statics/assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: Roboto;
    src: url(/statics/assets/fonts/Roboto-Regular.ttf);
    font-weight: 500;
  }

  /*colors*/
  $color-name-section: #23262B;
  $color-number: #2F185B;

  $color-title-block: #323335;

  $color-content: #979BA6;
  $color-dark-content: #6D7076;

  $common-bg: #E5E5E5;

  /*first*/
  /*common-style*/
  .common-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 85px 20%;

    .number {
      font-family: Montserrat;
      font-weight: 200;
      font-size: 36px;
      color: $color-number;
    }

    .name-section {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      margin: 17px 0 13px;
      color: $color-name-section;
    }

    .title-block {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 18px;
      color: $color-title-block;
    }

    .content {
      font-family: Roboto;
      font-weight: 300;
      word-break: break-all;
      font-size: 18px;
      color: $color-content;
    }
    .content span {
      color: $color-dark-content;
    }
    .text-block {
      z-index: 3;
      position: relative;
    }

    .overlay-first {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(113.17deg, rgba(44, 0, 99, 0.7) 1.78%, rgba(67, 232, 255, 0.7) 93.37%);
      z-index: 2;
    }

    .overlay-second {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 110.05%);
      z-index: 2;
    }
    @media screen and (max-width: 1280px) {
      padding: 85px 15%;
    }
    @media screen and (max-width: 1024px) {
      padding: 85px 10%;
      .name-section {
        font-size: 24px;
        line-height: 32px;
      }
      .content {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 768px) {
      .number {
        font-size: 30px;
      }
      .name-section {
        font-size: 20px;
        line-height: 27px;
      }
      .overlay-second {
        background: linear-gradient(320.74deg, #FFFFFF 33.16%, rgba(255, 255, 255, 0) 125.2%);
      }
    }
  }

  /*section-1*/
  .section-1 {
    background-image: url("/statics/theme/corp/img/bg-section-1.jpg");
    padding: 230px 20% 250px;
    position: relative;
    width: 100%;
    .main-title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 65px;
      max-width: 600px;
      color: #FFFFFF;
    }
    .main-sub-title {
      font-family: Roboto;
      font-size: 26px;
      color: #FFFFFF;
    }
    @media screen and (max-width: 1280px) {
      padding: 115px 10% 230px;
    }
    @media screen and (max-width: 1024px) {
      .main-title {
        font-size: 55px;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 177px 10% 177px;

      .main-title {
        text-align: center;
        font-size: 38px;
      }
      .main-sub-title {
        text-align: center;
        font-size: 22px;
      }
    }
  }

  /*section-2*/
  .section-2 {
    position: relative;
    padding: 0;
    .text-block {
      position: absolute;
      top: 20%;
      left: 40%;
      padding-right: 10%;
    }
    .bg-block {
      height: 750px;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-image: url("/statics/theme/corp/img/bg-section-2.jpg");
    }
    .mg-top {
      margin-top: 80px;
    }
    @media screen and (max-width: 1280px) {
      .bg-block {
        height: 550px;
      }
      .text-block {
        top: 10%;
        left: 44%;
        padding-right: 10%;

      }
    }
    @media screen and (max-width: 1024px) {
      .bg-block {
        height: 490px;
      }
      .mg-top {
        margin-top: 40px;
      }
      .text-block {
        top: 8%;
        left: 49%;
        padding-right: 4%;
      }
    }
    @media screen and (max-width: 768px) {
      .bg-block {
        height: 680px;
        background-position: center left -152px;
      }
      .text-block {
        top: 32%;
        left: 5%;
      }
    }
  }

  /*section-3*/
  .section-3 {
    background-color: #F6F8FA;
    .block-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 60px;
    }
    .white-block {
      position: relative;
      padding: 35px 27px;
      background-color: #ffffff;
      width: 48%;
      min-height: 200px;
      margin: 19px 0;

    }
    .title-block {
      margin-bottom: 20px;
    }
    .circle {
      height: 36px;
      top: -20px;
      width: 42px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #F6F8FA;
      border-radius: 50%;
      position: absolute;
      img {
        width: 68%;
        height: 82%;
        margin-left: 18%;
      }
    }
    @media screen and (max-width: 768px) {
      .block-content {
        flex-direction: column;
      }
      .white-block {
        width: 100%;
      }
    }
  }

  /*section-4*/
  .section-4 {
    .position-center {
      text-align: center;
    }
    .wrapper-steps {
      display: flex;
      justify-content: space-between;
      margin: 130px 0 30px;
    }
    .our-step {
      width: 32%;
      padding: 15px;
      &:nth-child(2) {
        margin: 0 2%;
      }
    }
    .title-block {
      margin: 40px 0 8px;
    }
    @media screen and (max-width: 1024px) {
      .wrapper-steps {
        margin: 50px 0 30px;
      }
    }
    @media screen and (max-width: 768px) {
      .wrapper-steps {
        flex-direction: column;
      }
      .our-step {
        width: 100%;
        &:nth-child(2) {
          margin: 30px 0;
        }
      }
    }
  }

  /*section-5*/
  .section-5 {
    position: relative;
    background-image: url("/statics/theme/corp/img/bg-section-5.jpg");
    .number-white {
      font-family: Montserrat;
      font-weight: 200;
      font-size: 36px;
      color: #FFFFFF;
      text-align: center;
    }
    .number {
      font-size: 48px;
    }
    .name-section {
      color: #ffffff;
      text-align: center;
    }
    .wrapper-anchor {
      margin: 87px 0;
      display: flex;
      justify-content: space-between;
    }
    .anchor-block {
      background-color: #ffffff;
      padding: 30px 20px;
      width: 32%;
      &:nth-child(2) {
        margin: 0 2%;
      }
    }
    .title-block {
      margin: 40px 0 12px;
    }
    @media screen and (max-width: 768px) {
      .wrapp {
        margin-left: 20px;
      }
      .wrapper-anchor {
        margin: 87px 0 0;
        flex-direction: column;
      }
      .anchor-block {
        display: flex;
        width: 100%;
        &:nth-child(2) {
          margin: 30px 0;
        }
      }
      .title-block {
        margin: 4px 0 12px;
      }
      .number {
        font-size: 30px;
      }
    }
  }

  /*section-6*/
  .section-6 {
    .list {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      max-height: 680px;
      flex-wrap: wrap;
    }
    .list-item {
      position: relative;
      width: 50%;
      margin-top: 25px;
      padding: 0 20px;
    }
    .list-item:before {
      content: ".";
      background-color: #74D2EC;
      width: 8px;
      height: 8px;
      display: flex;
      left: 2px;
      top: 3px;
      position: absolute;
      border-radius: 50%;
      margin-right: 15px;
    }
    .name-paragraph {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 16px;
      color: #323335;
    }
    .content {
      margin-top: 12px;
    }
    @media screen and (max-width: 768px) {
      .list {
        max-height: none;
      }
      .list-item {
        width: 100%;
      }
    }
  }
</style>
<script>
export default {
  props: ['userPlaybook', 'status']
}
</script>
