<template>
<div>
  <div class="container title-container">
    <section class="title">
      <h2 v-if='userPlaybook.basics'>
        {{userPlaybook.basics.longName}} Playbook
      </h2>
      <a href="#"><img src="/statics/theme/playfull/img/external-link.svg" /> Visit Us</a>
      <a href="#"><img src="/statics/theme/playfull/img/envelope.svg" /> Contact Us</a>
    </section>
    <section class="authors">
      <p v-if='userPlaybook.basics'><i>Authors: {{userPlaybook.basics.leaderName}} and the
      {{userPlaybook.basics.shortName}} leadership team</i></p>
    </section>
  </div>
  <div class="container">
    <section class="purpose">
      <section>
        <div>
          <h3 class="q-title">
            <button type="button">
              <div>
                <img src="/statics/theme/playfull/img/question.svg" />
              </div>
            </button>
            Our Purpose
          </h3>
          <h5 class='q-body-2 text-center'>WHY DO WE EXIST?</h5>
        </div>
      </section>
      <img src="/statics/theme/playfull/img/Purpose-02.svg" alt="Purpose" />
      <p v-html="status.purpose"></p>
    </section>

    <hr />

    <!-- 2 - Products and Services -->
    <section class="services">
      <section>
        <div>
          <h3 class="q-title">
            <button type="button">
              <div>
                <img src="/statics/theme/playfull/img/question.svg" />
              </div>
            </button>
            Our Products or Services
          </h3>
          <h5 class='q-body-2 text-center'>WHAT DO WE DO?</h5>
        </div>
      </section>
      <img src="/statics/theme/playfull/img/Shaking hands-01.svg" alt="Services" />
      <p v-html="status.product"></p>
    </section>

    <hr />

    <!-- 3 - Values  -->

    <section class="values">
      <section>
        <div>
          <h3 class="q-title">
            <button type="button">
              <div>
                <img src="/statics/theme/playfull/img/question.svg" />
                <!-- I advise putting all information about this Topic inside this one information button -->
              </div>
            </button>
            Our Values
          </h3>
          <h5 class='q-body-2 text-center'>HOW DO WE BEHAVE?</h5>
        </div>
      </section>
      <img src="/statics/theme/playfull/img/Values-02.svg" alt="Values" />
      <section class="topics"  v-if="status.value">
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Core:
          </h4>
          <p v-for='(item,i) in userPlaybook.values.core.value' :key="item+i+ 'core'"  v-html="item"></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Aspirational:
          </h4>
          <p v-for='(item,i) in userPlaybook.values.aspirational.value' :key="item+i+ 'aspirational'"  v-html="item"></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Permission to play:
          </h4>
          <p v-for='(item,i) in userPlaybook.values.permission.value' :key="item+i+ 'permission'"   v-html="item"></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Accidental:
          </h4>
          <p v-for='(item,i) in userPlaybook.values.accidental.value' :key="item+i+ 'accidental'" v-html="item"></p>
        </div>
      </section>
      <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS ...</div>
    </section>

    <hr />

    <!-- 4 - Focus -->
    <section class="focus">
      <section>
        <div>
          <h3 class="q-title">
            <button type="button">
              <div>
                <img src="/statics/theme/playfull/img/question.svg" />
              </div>
            </button>
            Our Focus
          </h3>
          <h5 class='q-body-2 text-center'>WHAT IS THE MOST IMPORTANT, NOW?</h5>
        </div>
      </section>

      <img src="/statics/theme/playfull/img/Focus-02.svg" />
      <section class="topics" v-if="status.focus">
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Thematic Goal:
          </h4>
          <p v-html="userPlaybook.focus.goal.value"></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Defining Objectives:
          </h4>
          <p v-for='(i) in userPlaybook.focus.objectives.value' :key='i' v-html="i"></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Standard Operating Procedures:
          </h4>
          <p v-for='(i) in userPlaybook.focus.procedures' :key='i' v-html="i"></p>
        </div>
      </section>
      <div v-else class="text-weight-light q-pa-sm">IN PROGRESS...</div>
    </section>

    <hr />

    <!-- Strategic Anchors  -->
    <section class="strategy">
      <section>
        <div>
          <h3 class="q-title">
            <button type="button">
              <div>
                <img src="/statics/theme/playfull/img/question.svg" />
              </div>
            </button>
            Our Strategic Anchors
          </h3>
          <h5 class='q-body-2 text-center'>HOW WILL WE SUCCED?</h5>
        </div>
      </section>
      <img src="/statics/theme/playfull/img/Strategy Anchors-02.svg" />
      <section class="topics"  v-if="status.strategy">
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Strategy Anchor 1:
          </h4>
          <p v-html='userPlaybook.strategy.anchor1'></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Strategy Anchor 2:
          </h4>
          <p v-html='userPlaybook.strategy.anchor2'></p>
        </div>
        <div>
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />Strategy Anchor 3:
          </h4>
          <p v-html='userPlaybook.strategy.anchor3'></p>
        </div>
      </section>
      <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS...</div>
    </section>

    <hr />

    <!-- Key Decisions -->
    <section class="decisions">
      <section class='text-center'>
        <div class='text-center'>
          <h3 class="q-title">
            <button type="button">
              <div>
                <img src="/statics/theme/playfull/img/question.svg" />
              </div>
            </button>
            Key Decision Areas
          </h3>
          <h5 class='q-body-2 text-center'>WHO IS RESPONSIBLE FOR WHAT</h5>
        </div>
      </section>

      <img src="/statics/theme/playfull/img/Key Decisions.svg" />
      <section class="topics" v-if="status.decisionAreas">
        <!-- Every new div accomodates itself on the grid -->
        <div v-for="item in userPlaybook.decisionAreas.decisionAreas" :key="item.name">
          <h4 class="topic-title q-subheading">
            <img src="/statics/theme/playfull/img/arrow.svg" />{{item.name}}:
          </h4>
          <p v-if='item.assignee'>{{item.assignee.label}}</p>
        </div>
      </section>
      <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS...</div>
    </section>
  </div>
</div>
</template>

<style lang="scss" scoped>

@import url("https://fonts.googleapis.com/css?family=Cairo");

$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin section-title {
  margin: 1.5em;
  h3 {
    font-family: "Fira Sans", sans-serif;
    margin-block-end: 0.4em;
    font-weight: 700;
    transition: 0.3s;
    button {
      background-color: transparent;
      border: none;
      img {
        height: 1.1em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  h5 {
    font-family: "Fira Sans";
    letter-spacing: 0.2em;
    font-weight: 500;
    margin-block-start: 0;
    color: #8396a7;
    // color: rgb(140, 140, 140);
  }
  img {
    height: 10em;
  }
  &:hover {
    h3 {
      font-size: 1.5em;
    }
  }
}

@mixin topic-title {
  color: #8396a7;
  // color: #8396a7;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  margin-block-end: 0;
  margin-bottom: 1em;
  transition: 0.3s;
}

@mixin topic-bullet {
  div {
    &:hover {
      h4 {
        font-size: 1.2em;
      }
    }
  }
  img {
    margin-right: 0.4em;
    height: 0.7em;
  }
}

body {
  background-color: rgb(245, 245, 245);
  width: 100%;
  margin: 0;
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
  }
}

hr {
  margin: 1em auto;
  opacity: 0.2;
  width: 80%;
}

.container {
  background-color: white;
  width: 85vw;
  margin: 1em auto;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.title-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  box-shadow: 0 8px 15px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.title {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.1em;
  padding: 1em 0;
  text-align: center;
  height: 50%;
  border-top: 8px solid #579fd8;
  color: #579fd8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  h2 {
    font-size: 2em;
  }
  a {
    margin-left: 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #579fd8;
    position: relative;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #579fd8;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  img {
    height: 1em;
  }
  h2 {
    font-weight: 700;
    padding: 0 1em;
    transition: 0.3s;
  }
}
.authors {
  padding: 0 1em;
  background-color: rgb(245, 245, 245);
  display: grid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  p {
    justify-self: center;
    align-self: center;
    margin-block-start: 0em;
    margin-block-end: 0;
  }
}

.purpose {
  padding-top: 0.3em;
  @include section-title();
}

.services {
  @include section-title();
  h3 {
    button {
      top: 0;
      right: 0;
      left: 0.2em;
    }
  }
}

.values {
  @include section-title();

  .topic-title {
    @include topic-title();
  }

  .topics {
    @include topic-bullet();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

.focus {
  @include section-title();
  position: relative;

  .topics {
    @include topic-bullet();
  }
  .topic-title {
    @include topic-title();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

.strategy {
  @include section-title();
  position: relative;

  .topic-title {
    @include topic-title();
  }
  .topics {
    @include topic-bullet();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

.decisions {
  @include section-title();
  position: relative;

  .topic-title {
    @include topic-title();
  }
  .topics {
    @include topic-bullet();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

// Desktop Media

@include desktop {
  .container {
    width: 50vw;
  }

  #divider {
    width: 50%;
    max-height: 2em;
  }

  .purpose {
    margin-top: 2em;
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    img {
      height: 12em;
      grid-column: 1/2;
      grid-row: 1/3;
      align-self: center;
      justify-self: center;
    }

    section {
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }
  }

  .services {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }
    img {
      grid-row: 1/3;
      grid-column: 2/3;
      height: 12em;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
    }
  }

  .values {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }
    img {
      height: 12em;
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .focus {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }

    img {
      grid-row: 1/2;
      grid-column: 2/3;
      height: 11em;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
    }
  }

  .strategy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }
    img {
      height: 12em;
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
    }
  }

  .decisions {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    img {
      grid-row: 1/2;
      grid-column: 2/3;
      height: 10em;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

$desktop-big: 1800px;
@mixin desktop-big {
  @media (min-width: #{$desktop-big}) {
    @content;
  }
}
@include desktop-big {
  .container {
    width: 40vw;
  }
}

</style>

<script>
export default {
  props: ['userPlaybook', 'status']
}
</script>
