<template>
  <q-layout ref='layout' view="hHr LpR lFf"> <!--class='app-layout'-->
    <q-page-container>
      <q-page>
        <!--section-1-->
        <div class="section-1 common-container">
          <div class="overlay-first"></div>
          <div class="text-block">
            <h1 class="main-title" v-if='userPlaybook.basics'>{{userPlaybook.basics.longName}} Playbook</h1>
            <p v-if='userPlaybook.basics' class='main-sub-title'>Authors: {{userPlaybook.basics.leaderName}} and the
              {{userPlaybook.basics.shortName}} leadership team</p>
          </div>
          <div class="bg-block">
            <img src="statics/theme/soft/img/img-section-1.png" alt="">
          </div>
        </div>
        <div class="section-2 common-container">
          <div class="bg-block">
            <img src="statics/theme/soft/img/img-section-5.png" alt="">
          </div>
          <div class="text-block">
            <p class="number">01.</p>
            <h5 class="name-section">
              <!--<info :obj='purposeInfo'/>-->
              Our Purpose - Why do we exist?
            </h5>
            <div v-html="status.purpose" class=" content"/>
            <p class="number mg-top">02.</p>
            <h5 class="name-section">
              <!--<info :obj='productsInfo'/>-->
              Our Products or Services - <br> What do we do?
            </h5>
            <div v-html="status.product" class=" content"/>
          </div>
        </div>

        <!--section-3-->
        <div class="section-3 common-container">
          <p class="number">03.</p>
          <h5 class="name-section">
            <!--<info :obj='valuesInfo'/>-->
            Our Values - How do we behave?
          </h5>

          <dl class="block-content" v-if="status.value">
            <div class="wrapper">
              <div class="text-block">
                <div class="container" v-if='userPlaybook.values.core.value.length > 0'>
                  <dt class='title-block'><!--<info :obj='coreValuesInfo'/>--><img
                    src="statics/theme/soft/icons/icon-idea.png" alt="">Core:
                  </dt>
                  <dd v-for='(i,n) in userPlaybook.values.core.value' :key="i+n+ 'core'" v-html="i" class="content"/>
                </div>
                <div class="container" v-if='userPlaybook.values.aspirational.value.length > 0'>
                  <dt class='title-block'><!--<info :obj='aspValuesInfo'/>--> <img src="statics/theme/soft/icons/icon-network.png" alt="">Aspirational:
                  </dt>
                  <dd v-for='(i,n) in userPlaybook.values.aspirational.value' :key="i+n+ 'aspirational'" v-html="i" class="content"/>
                </div>
              </div>
              <div class="bg-block">
                <img class="mg-img-top" src="statics/theme/soft/img/img1-section-3.png" alt="">
              </div>
            </div>
            <div class="wrapper">
              <div class="bg-block order-for-mobile-img">
                <img src="statics/theme/soft/img/img2-section-3.png" alt="">
              </div>
              <div class="text-block order-for-mobile-text">
                <div class="container" v-if='userPlaybook.values.permission.value.length > 0'>
                  <dt class='title-block'><!--<info :obj='genValuesInfo'/>--><img src="statics/theme/soft/icons/icon-list.png" alt="">Permission to play:
                  </dt>
                  <dd v-for='(i,n) in userPlaybook.values.permission.value' :key="i+n+ 'permission'" v-html="i" class="content"/>
                </div>
                <div class="container" v-if='userPlaybook.values.accidental.value.length > 0'>
                  <dt class='title-block'><!--<info :obj='acsValuesInfo'/>--><img
                    src="statics/theme/soft/icons/icon-success.png" alt="">Accidental:
                  </dt>
                  <dd v-for='(i,n) in userPlaybook.values.accidental.value' :key="i+n+ 'accidental'" v-html="i" class="content"/>
                </div>
              </div>

            </div>
          </dl>
          <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS ...</div>
        </div>

        <!--section-4-->
        <div class="section-4 common-container">
          <div class="text-weight-light q-pa-sm" v-if="status.focus">
            <p class="number position-center">04.</p>
            <h5 class="name-section position-center">
              <!--<info :obj='focusInfo'/>-->
              Our Focus - What is the most <br> important, now?
            </h5>
            <!--second-->
            <dl class="wrapper-steps">
              <div class="our-step">
                <img src="statics/theme/soft/icons/icon1-section4.png" alt="">
                <dt class="title-block">Thematic Goal:</dt>
                <dd v-html="userPlaybook.focus.goal.value" class="content "/>

              </div>
              <div class="our-step">
                <img src="statics/theme/soft/icons/icon2-section4.png" alt="">
                <dt class="title-block">Defining Objectives:</dt>
                <dd v-for='i in userPlaybook.focus.objectives.value' :key='i' v-html="i" class="content "/>

              </div>
              <div class="our-step">
                <img src="statics/theme/soft/icons/icon3-section4.png" alt="">
                <dt class="title-block">Standard Operating Procedures:</dt>
                <dd v-for='i in userPlaybook.focus.procedures' :key='i' v-html="i" class="content "/>

              </div>
            </dl>
          </div>
          <div v-else class="text-weight-light q-pa-sm">IN PROGRESS...</div>
        </div>

        <!--section-5-->
        <div class="section-5 common-container">
          <div class="" v-if="status.strategy">
            <p class="number position-center">05.</p>
            <h5 class="name-section">
              <!--<info :obj='strategyInfo'/>-->
              Our Strategic <br> Anchors - How will we succeed?
            </h5>
            <dl class="wrapper-anchor">
              <div class="bg-block">
                <img src="statics/theme/soft/img/img-section-2.png" alt="">
              </div>
              <div class="text-block">
                <div class="anchor-block">
                  <div class="wrapp">
                    <p class="number">01.</p>
                    <dt class="title-block">Strategy Anchor 1:</dt>
                  </div>
                  <dd v-html='userPlaybook.strategy.anchor1' class="content"></dd>
                </div>
                <div class="anchor-block">
                  <div class="wrapp">
                    <p class="number">02.</p>
                    <dt class="title-block">Strategy Anchor 2:</dt>
                  </div>
                  <dd v-html='userPlaybook.strategy.anchor2' class="content"></dd>
                </div>
                <div class="anchor-block">
                  <div class="wrapp">
                    <p class="number">03.</p>
                    <dt class="title-block">Strategy Anchor 3:</dt>
                  </div>
                  <dd v-html='userPlaybook.strategy.anchor3' class="content"></dd>

                </div>
              </div>
            </dl>
          </div>
          <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS...</div>
        </div>

        <!--section-6-->
        <div class="section-6 common-container">
          <p class="number">06.</p>
          <h5 class="name-section">
            Key Decision Areas - <br> Who is responsible for what?</h5>
          <dl class="list" v-if="status.decisionAreas">
            <span class="list-item" v-for="item in userPlaybook.decisionAreas.decisionAreas" :key="item.name">
              <dt class="name-paragraph">{{item.name}}:</dt>
              <dd v-if='item.assignee' class="content">{{item.assignee.label}}</dd>
            </span>
          </dl>
          <div class="text-weight-light q-pa-sm" v-else>IN PROGRESS ...</div>
        </div>

      </q-page>
    </q-page-container>
  </q-layout>
</template>
<!--style-->
<style lang="scss" scoped>

  .dt-header {
    margin-top: 1em;
    text-decoration: underline;
    font-weight: normal !important;
  }

  @font-face {
    font-family: Montserrat;
    src: url(/statics/theme/soft/assets/fonts/Montserrat-ExtraLight.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: Montserrat;
    src: url(/statics/theme/soft/assets/fonts/Montserrat-Regular.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: Montserrat;
    src: url(/statics/theme/soft/assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: Roboto;
    src: url(/statics/theme/soft/assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: Roboto;
    src: url(/statics/theme/soft/assets/fonts/Roboto-Regular.ttf);
    font-weight: 500;
  }

  /*colors*/
  $color-name-section: #23262B;
  $color-number: #2F185B;

  $color-title-block: #323335;

  $color-content: #505050;
  $color-dark-content: #6D7076;

  $common-bg: #E5E5E5;

  /*second*/
  .common-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 85px 20%;
    .number {
      font-family: Montserrat;
      font-weight: 200;
      font-size: 36px;
      color: $color-number;
    }

    .name-section {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      color: $color-name-section;
    }

    .title-block {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 18px;
      color: $color-title-block;
    }

    .content {
      margin: 10px 0;
      font-family: Roboto;
      word-break: break-all;
      font-weight: 300;
      font-size: 18px;
      color: $color-content;
    }
    .content span {
      color: $color-dark-content;
    }
    .bg-block {
      display: flex;
      align-items: center;
      width: 50%;
      img {
        width: 100%;
      }
      .mg-img-top {
        width: 90%;
        margin-left: 100px;
        margin-top: -190px;
      }
    }
    .text-block {
      width: 50%;
      position: relative;
    }
    @media screen and (max-width: 1280px) {
      padding: 85px 15%;
    }
    @media screen and (max-width: 1024px) {
      padding: 30px 10%;
      .name-section {
        font-size: 24px;
        line-height: 32px;
      }
      .content {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 768px) {
      .number {
        font-size: 30px;
      }
      .name-section {
        font-size: 20px;
        line-height: 27px;
      }
      .overlay-second {
        background: linear-gradient(320.74deg, #FFFFFF 33.16%, rgba(255, 255, 255, 0) 125.2%);
      }
      .bg-block {
        width: 100%;
      }
      .text-block{
        width: 100%;
      }
    }
  }

  /*section-1*/
  .section-1 {
    background-image: url("/statics/theme/soft/img/bg2-section-1.jpg");
    padding: 130px 10% 310px 20%;
    display: flex;
    position: relative;
    width: 100%;
    .text-block {
      margin: 100px 0;
    }
    .main-title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 58px;
      max-width: 600px;
      color: #292949;
    }
    .main-sub-title {
      font-family: Roboto;
      font-size: 26px;
      color: $color-content;
    }

    @media screen and (max-width: 1280px) {
      padding: 115px 10% 230px;
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      .text-block {
        width: 100%;
        margin: 0 0 20px 0;
      }
      .main-title {
        font-size: 55px;
      }
      .bg-block{
        width: 68%;
        align-self: flex-end;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 70px 10% 177px;

      .main-title {
        font-size: 38px;
      }
      .main-sub-title {
        font-size: 22px;
      }
      .bg-block{
        width: 100%;
        align-self: center;
      }
    }
  }

  /*section-2*/
  .section-2 {
    position: relative;
    padding: 0;
    display: flex;
    .bg-block {
      img {
        width: 95%;
        margin-left: 2%;
        margin-top: -100px;
      }
    }
    .text-block {
      margin: 100px 0;
    }
    .name-section {
      margin: 17px 0 14px;
    }
    .mg-top {
      margin-top: 80px;
    }
    .content{
      padding-right: 40px;
    }

    @media screen and (max-width: 1024px) {
      .text-block{
        margin: 0;
      }
      .mg-top {
        margin-top: 50px;
      }

    }
    @media screen and (max-width: 768px) {
      display: block;
      padding: 30px 10%;
    }
  }

  /*section-3*/
  .section-3 {
    .block-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 60px;
    }
    .wrapper {
      display: flex;
      &:nth-child(2) {
        margin-top: 80px;
      }
    }
    .container {
      box-shadow: 0 0 58px rgba(64, 4, 4, 0.1);
      position: relative;
      padding: 35px 27px;
      background-color: #ffffff;
      min-height: 200px;
      max-width: 500px;
      margin: 19px auto;
    }
    .title-block {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      img {
        margin-right: 15px;
      }
    }
    .bg-block {
      img {
        margin-left: -100px;
      }
    }
    @media screen and (max-width: 1024px) {
      .bg-block .mg-img-top {
        margin-top: 0;
      }
      .bg-block img {
        margin-left: -40px;
      }
    }
    @media screen and (max-width: 768px) {
      .wrapper{
        flex-direction: column;
      }
      .order-for-mobile-img{
        order: 1;
      }
      .order-for-mobile-text{
        order: 0;
      }
      .bg-block .mg-img-top{
        margin-left: 5px;
      }
      .bg-block img {
        margin-left: 0;
      }
      .block-content {
        flex-direction: column;
      }
      .white-block {
        width: 100%;
      }
    }
  }

  /*section-4*/
  .section-4 {
    background-image: url("/statics/theme/soft/img/bg2-section-4.jpg");
    background-repeat: no-repeat;
    padding: 190px 20%;
    .position-center {
      text-align: center;
    }
    .wrapper-steps {
      display: flex;
      justify-content: space-between;
      margin: 130px 0 30px;
    }
    .our-step {
      width: 32%;
      padding: 15px;
      &:nth-child(2) {
        margin: 0 2%;
      }
    }
    .title-block {
      margin: 40px 0 8px;
    }
    @media screen and (max-width: 1260px) {
      padding: 190px 15%;

    }
    @media screen and (max-width: 1024px) {
      padding: 190px 10%;
      .wrapper-steps {
        margin: 50px 0 30px;
      }
    }
    @media screen and (max-width: 768px) {
      .wrapper-steps {
        flex-direction: column;
      }
      .our-step {
        width: 100%;
        &:nth-child(2) {
          margin: 30px 0;
        }
      }
    }
  }

  /*section-5*/
  .section-5 {
    position: relative;
    margin-bottom: -150px;
    .number-white, .name-section, .position-center {
      text-align: center;
    }
    .wrapp{
      display: flex;
      align-items: center;
    }
    .number{
      margin-right: 21px;
    }
    .wrapper-anchor {
      margin: 87px 0;
      display: flex;
    }
    .anchor-block {
      box-shadow: 0 0 58px rgba(64, 4, 4, 0.1);
      background-color: #ffffff;
      padding: 30px 20px;
      &:nth-child(2) {
        margin: 3% 0;
      }
    }
    .bg-block{
      img{
        margin-left: -150px;
      }
    }
    .title-block {
    }
    @media screen and (max-width: 1024px) {
      .bg-block{
        img{
          margin-left: -50px;
        }
      }

    }
    @media screen and (max-width: 768px) {
      .wrapp {
        margin-left: 20px;
      }
      .wrapper-anchor {
        margin: 87px 0 0;
        flex-direction: column;
      }
      .anchor-block {
        display: flex;
        width: 100%;
        flex-direction: column;
        &:nth-child(2) {
          margin: 30px 0;
        }
      }
      .bg-block{
        margin-bottom: 50px;
        img{
          margin-left: unset;
        }
      }
      .title-block {
        margin: 4px 0 12px;
      }
      .number {
        font-size: 30px;
      }
    }
  }

  /*section-6*/
  .section-6 {
    background-image:url("/statics/theme/soft/img/bg2-section-6.jpg");
    padding-top: 230px;
    .list{
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      max-height: 680px;
      flex-wrap: wrap;
    }
    .list-item{
      position: relative;
      width: 50%;
      margin-top: 25px;
      padding: 0 20px;
    }
    .list-item:before{
      content: " ";
      background-color: #C5B3C3;
      width: 8px;
      height: 8px;
      display: flex;
      left: 2px;
      top: 3px;
      position: absolute;
      border-radius: 50%;
      margin-right: 15px;
    }
    .name-paragraph{
      font-family: Montserrat;
      font-weight: bold;
      font-size: 16px;
      color: #323335;
    }
    .content{
      margin-top: 12px;
    }
    @media screen and (max-width: 768px) {
      .list{
        max-height: none;
      }
      .list-item{
        width: 100%;
      }
    }
  }
</style>
<script>
export default {
  props: ['userPlaybook', 'status']
}
</script>
