<template>
  <!-- Configure "view" prop for QLayout -->
  <q-layout view="hHr LpR lFf" ref="layout">
    <a-leader-intro></a-leader-intro>
    <router-view/>
  </q-layout>
</template>

<script>
import { GoBack } from 'quasar'

// import AuthService from 'src/src/auth/AuthService.js'
import ALeaderIntro from 'components/layout/aIntro'

// import { EventBus, AUTH_CHANGED } from 'src/src/EventBus.js'

// const auth = new AuthService()
// const { login, logout, authenticated } = auth

export default {
  directives: { GoBack },
  components: {
    ALeaderIntro
  },
  // data () {
  //   // EventBus.$on(AUTH_CHANGED, authState => {
  //   //   this.authenticated = authState.authenticated
  //   // })
  //   return {
  //     // auth,
  //     // authenticated
  //   }
  // },
  methods: {
    // login,
    // logout
  }
}
</script>
