<template>
  <div  class='app-layout'>
    <q-list style="max-width: 600px;">
      <button-summary label="Level 1: Create Clarity" :status='getPlaybookStatus()' to="/playbook"/>
      <!-- <button-summary label="Level 2: Review projects and Activities" :status='getPlaybookStatus()' to="/projects"/> -->
      <q-item style='color:grey' v-for="todo in todos" :key="todo.id" v-ripple.mat>
        <q-item-side icon='lock'></q-item-side>
        <q-item-main>{{todo.label}}
        </q-item-main>
        <q-item-side right icon="keyboard_arrow_right"/>
      </q-item>
      <q-item-separator/>
    </q-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Info from 'components/Info'
import ButtonSummary from 'components/ButtonSummary'

export default {
  components: {
    ButtonSummary,
    Info
  },
  computed: {
    ...mapGetters([
      'getProjects',
      'getPlaybookStatus'
    ])
  },
  data () {
    let inCompleteFilter = {
      completed: true
    }
    return {
      completed: false,
      clarityEstablished: false,
      projects: {
        inCompleteFilter
      },
      todos: [
        // {
        //   id: 'completePlaybook',
        //   label: 'Level 1: Complete Playbook',
        //   handler: '',
        //   completed: false,
        //   to: '/playbook'
        // },
        {
          id: 'learnPeople',
          label: 'Level 2: Energize People',
          handler: '',
          completed: false,
          to: '/playbook'
        },
        {
          id: 'setupTeam',
          label: 'Level 3: Empower Teams',
          handler: '',
          completed: false
        },
        {
          id: 'listProjects',
          label: 'Level 4: Identify Activities',
          handler: '',
          completed: false
        },
        {
          id: 'prioritize',
          label: 'Level 5: Prioritize effectively',
          handler: '',
          completed: false
        },
        {
          id: 'assignWork',
          label: 'Level 6: Delegate Effectively',
          handler: '',
          completed: false
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('loadProjects')
  },
  methods: {
    // custom handler for one of the actions
    deleteAction () {
      // @ok event will still be triggered
      this.$q.notify('Deleting...')
    },
    projectsAction () {
      this.$q.notify('Deleting...')
    },
    projectsStatus () {
      let incompleteProjects = this.getProjects(this.inCompleteFilter)
      let urgentProjects = this.getProjects({
        urgent: true,
        completed: false
      })
      console.log('incomplete projects: ' + urgentProjects.length)
      if (incompleteProjects.length > 0) {
        return 2
      }
      return 3
    },
    playbookStatus () {
      return 2
    },

    // user picked one of the actions
    onOk (item) {
      if (item.handler) {
        // if we've already triggered a handler
        return
      }
      this.$q.notify({
        color: 'secondary',
        message: `Clicked on "${item.label}"`
      })
    },

    // user dismissed ActionSheet
    onCancel () {
      this.$q.notify({
        color: 'tertiary',
        icon: 'done',
        message: 'Action Sheet was dismissed'
      })
    },

    // when we show it to the user
    onShow () { },

    // when it gets hidden
    onHide () { }
  }
}
</script>
