<template>
  <q-layout ref='layout' view="hHr LpR lFf"  class='app-layout'>
    <q-list>
      <q-collapsible icon="explore" label="Tips">
        <q-card>
          <q-card-title>
           Start here to accomplish all tasks
          </q-card-title>
          <q-card-main>
            <p class="caption">
              As a leader your main tasks are:
              <ol>
                <li> Energize People (motivate them)</li>
                <li> Empower Org</li>
                <li> Align Constraints (set expectations)</li>
                <li> Develop Competence</li>
                <li> Grow Structure (select people)</li>
                <li> Improve Everything</li>
              </ol>
            The tasks will appear within the context sections summarized here
            </p>
          </q-card-main>
          <q-card-separator />
            <q-card-actions>
              <q-btn flat color="primary" label="Manage My Org" @click='manageOrg' />
            </q-card-actions>
        </q-card>
      </q-collapsible>
    </q-list>
    <button-summary label="Playbook" icon='explore' to='Playbook'/>
    <button-summary v-if='false' label="Activities" icon='trending_up' to='Activities'/>
    <button-summary v-if='false' label="Recruiting and Hiring" icon='zoom_in' to='Hiring'/>
    <!--
      inbox = arrow_downward
      focus = priority_high
      plans = settings
      result = done
    -->
  </q-layout>
</template>

<script>
import {
  mapGetters,
  mapActions
} from 'vuex'
import ButtonSummary from 'components/ButtonSummary'

export default {
  components: {
    ButtonSummary
  },
  data () {
    var viewAction = 'VIEW'
    return {
      viewAction
    }
  },
  computed: {
    ...mapGetters([
      'defaultMembers'
    ])
  },
  methods: {
    ...mapActions([
      'deleteMember'
    ]),
    manageOrg () {
      this.$router.push({
        name: 'Org',
        params: {
        }
      })
    },
    cancelChanges () {
      this.defaultMembers().forEach(function (m) {
        if (m.is_deleted) {
          m.is_deleted = false
          console.log('resetting user ')
          console.log(m)
        }
      })
    },
    editMembers () {
      var that = this
      this.defaultMembers().forEach(function (m) {
        if (m.is_deleted) {
          console.log('deleting user ')
          console.log(m)
          that.deleteMember(m)
        }
      })
    }
  }
}
</script>
