<template>
  <q-layout ref='layout' view="hHr LpR lFf"  class='app-layout'>

    <q-alert
      v-if="getTeams().length === 0 && !editMode && $store.state.teamsFetchCompleted"
      type="info"
      icon="info"
    >
      Click <q-btn disabled icon='edit' flat /> button above to create your first team
    </q-alert>

    <org-intro :whyImportant='whyImportant' :keyPoints='keyPoints'/>

    <!-- new team form -->
    <q-list v-if="$store.state.editMode || getTeams().length === 0" class="q-mb-md">
      <team-form viewAction='ADD' />
    </q-list>

    <!-- org details modal -->
    <org-details />

    <q-list highlight v-if='false'>
      <q-list-header>
        My Teams and Users
        <q-btn flat :icon='!editMode ? "edit" : "done"' @click="editMode = !editMode"/>
      </q-list-header>
      <q-item v-for="i in [1,2,3]" :key='i'>
        <q-item-side style='max-width:60px'>
          <q-btn flat icon='zoom_in'/>
        </q-item-side>
        <q-item-main>
          <q-chips-input color='grey' :readonly=!editMode v-model="users" :placeholder="!editMode? '' : 'type to select or add'" :stack-label="'Team ' + i" @duplicate="duplicate">
        <q-autocomplete
          :static-data="{field: 'value', list: getAllMembers()}"
          @selected="selected"
        />
      </q-chips-input>
        </q-item-main>
      </q-item>
      <q-item v-if="editMode">
        <q-item-main>
          <q-input placeholder='Type to add a new team'></q-input>
        </q-item-main>
      </q-item>
    </q-list>

    <!-- teams list -->
    <q-list highlight class="q-mt-md">
      <q-list-header class="row justify-between items-center">
        <span class="q-pt-md">Org Teams</span>
        <q-input
          v-model="teamsQuery"
          float-label="Search"
          class="inline"
        />
      </q-list-header>
      <template>
        <team-thumb-view
          v-for="(team, i) in getTeams(teamsQuery)"
          :key='i'
          :viewAction='viewAction'
          v-on:selected='teamSelected(team)'
          :model='team'
        />
      </template>
    </q-list>

    <!-- all users list -->
    <all-members-list />

  </q-layout>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import OrgIntro from 'components/Intro'

import TeamThumbView from 'components/team/TeamThumbView'
import TeamForm from 'components/team/TeamForm'
import AllMembersList from 'components/AllMembersList'
import OrgDetails from 'components/OrgDetails'

import orgKeyPoints from 'src/constants/orgKeyPoints.json'
import orgWhyImportant from 'src/constants/orgWhyImportant.json'

export default {
  components: {
    OrgIntro,
    TeamThumbView,
    TeamForm,
    AllMembersList,
    OrgDetails
  },
  data () {
    return {
      users: [],
      assignee: {},
      editMode: false,
      viewAction: 'VIEW',
      teamsQuery: '',
      whyImportant: orgWhyImportant,
      keyPoints: orgKeyPoints
    }
  },
  computed: {
    ...mapGetters([
      'getTeams',
      'getAllMembers'
    ])
  },
  created () {
    if (this.getTeams().length === 0) {
      // this.$q.notify('There are no ')
    }
  },
  methods: {
    ...mapActions([
      'deleteMember',
      'setMember'
    ]),
    selected () {

    },
    duplicate () {

    },
    teamSelected (team) {
      this.$store.commit('setCurrentTeam', team)
      this.$router.push({
        name: 'Team',
        params: { id: team.id }
      })
    }
  }
}
</script>
