<template>
<div class='app-layout'>
  <q-list style="max-width: 600px;">
    <q-list-header>
      <p>
        <health-status :status='getPlaybookStatus()'/>
      </p>
    </q-list-header>
    <purpose />
    <products/>
    <focus/>
    <strategy/>
    <values/>
    <who-what/>
  </q-list>
  <q-btn icon='share' flat color="primary" label="view or share" @click="viewPlaybook()"  />
</div>
</template>
<script>

import { mapGetters } from 'vuex'
import HealthStatus from 'components/HealthStatus'
import Info from 'components/Info'
import Purpose from 'components/playbook/Purpose'
import Products from 'components/playbook/Products'
import Focus from 'components/playbook/Focus'
import Strategy from 'components/playbook/Strategy'
import Values from 'components/playbook/Values'
import WhoWhat from 'components/playbook/WhoWhat'

export default {
  components: {
    Purpose,
    Products,
    Focus,
    Strategy,
    Values,
    WhoWhat,
    Info,
    HealthStatus
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters([
      'getPlaybookStatus'
    ]),
    user () {
      return this.$store.state.user
    }
  },
  methods: {
    viewPlaybook: function () {
      let root = this
      this.getOrgCodeStatus().then(function (code) {
        if (code) {
          root.$router.push({'path': '/view/playbook/' + code})
        } else {
          root.$q.dialog({
            title: 'Organization Code Missing',
            message: 'Your organization code is not set. please complete your Org Preferences to continue. \n\n Do you want to complete it now?',
            ok: 'Yes',
            cancel: 'No'
          }).then(() => {
            root.$router.push({'path': '/settings'})
          }).catch(() => {
          })
        }
      })
    },
    getOrgCodeStatus: async function () {
      const doc = await this.$store.dispatch('getSomeUserPlaybook', this.$store.state.user.uid)
      try {
        if (doc.data().playbook.basics.orgCode.length > 0) {
          return doc.data().playbook.basics.orgCode
        } else {
          return false
        }
      } catch (ex) {
        console.log('exception ', ex)
      }
    }
  }
}
</script>
