<template>
  <q-layout ref='profLayout' view="hHr LpR lFf" :key="member.id" class='app-layout'>
    <member-help v-if='!isMyProfile'/>
    <q-card>
      <q-card-main>
        <member-summary
          :viewAction='action'
          :member='member'
        />
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>
     {{member.first_name}}'s Summary
      </q-card-title>
      <q-card-main>
        <member-personality :member='member'/>
        <member-attitude v-if='(!isMyProfile)' :member='member'/>
        <happiness-index :member='member'/>
        <goal-summary :viewAction='action' :member='member' charType='GOAL' title='Goals'/>
        <char-summary :viewAction='action' :member='member' charType='STRENGTH' title='Strengths'/>
        <char-summary :viewAction='action' :member='member' charType='MOTIVATOR' title='Motivators'/>
        <char-summary :viewAction='action' :member='member' charType='DEMOTIVATOR' title='Demotivators'/>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>
     {{member.first_name}}'s Team Summary
      </q-card-title>
      <q-card-main>
      </q-card-main>
    </q-card>
  <!-- <char-summary v-if='member.advanced_mode' :viewAction='action' :member='member' charType='ABILITY' title='Natural Abilities' parent_id='1.A.1'/> -->

    <delegation-selector v-if='member.advanced_mode' :viewAction='action' :member='member' title='Empowerement and Authority'/>
  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import HappinessIndex from 'components/member/HappinessIndex'
import MemberSummary from 'components/member/MemberSummary'

import MemberPersonality from 'components/member/profile/Personality'
import MemberAttitude from 'components/member/profile/MemberAttitude'
import CharSummary from 'components/member/profile/CharSummary'
import GoalSummary from 'components/member/profile/GoalSummary'

import DelegationSelector from 'components/delegation/DelegationSelector'

import MemberHelp from 'components/member/MemberHelp'

export default {
  data () {
    return {
      modalMorePutPeopleIntoRolesOpen: false,
      action: this.viewAction,
      whyImportant: [
        {
          'title': 'Attitude',
          'body': '89% of the new hire failures are due to lousy attitude, not skills (only remaining 11% are due to bad skills). 87% people consider quitting and in 93% of the case overall productivity drops when co-workers have lousy attitude. Tolerating bad attitude destroys your leadership effectiveness and credibility',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 107)',
          'source': 'https://management30.com',
          'type': 'book'
        },
        {
          'title': 'Motivation',
          'body': 'Money is great, but few organizations can continually (and legally) offer the kind of money that really makes a difference. What they can offer is all the other stuff that gets and keeps people engaged - feeling excited and motivated.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 107)',
          'source': 'https://management30.com',
          'type': 'book'
        }
      ]
    }
  },
  props: {
    id: String,
    viewAction: String
  },
  components: {
    MemberHelp,
    MemberSummary,
    MemberPersonality,
    HappinessIndex,
    MemberAttitude,
    CharSummary,
    DelegationSelector,
    GoalSummary
  },
  computed: {
    ...mapGetters([]),
    fullName () {
      return this.model.first_name + ' ' + (this.model.last_name || '')
    },
    teamId () {
      return this.$route.query.teamId
    },
    isMyProfile () {
      try {
        return this.id === this.$store.state.user.uid
      } catch (ex) {
        return false
      }
    },
    member () {
      return this.isMyProfile
        ? this.$store.state.userProfile
        : this.$store.state.member
    }
  },
  methods: {
    ...mapActions([
      'deleteMember'
    ])
  },
  created () {
    if (this.isMyProfile) {
      this.$store.commit('enableUserProfileEditing')
    } else {
      this.$store.dispatch('loadTeam', this.teamId)
      this.$store.dispatch('loadMember', {teamId: this.teamId, memberId: this.id})
      this.$store.commit('disableUserProfileEditing')
    }
  }
}
</script>
