<template>
  <div  class='app-layout'>
    <q-list highlight>
      <q-list-header>
        <q-collapsible icon="filter_list" label="Filter by">
          <q-toggle v-model="filters.important" icon='warning' label="Important?"/>
          <q-toggle v-model="filters.urgent" icon='alarm' label="Urgent?"/>
          <q-toggle v-model="filters.delegated" icon='forward'  label="Delegated?"/>
          <q-toggle v-model="filters.shared" icon='share' label="Shared?"/>
          <q-input v-model="filters.header" float-label="search" class="inline"/>
          <div style='margin-top:1em'>Show only <q-toggle v-model="filters.completed" icon='done'  label="Completed"/></div>
        </q-collapsible>
      </q-list-header>

      <!-- add new item -->
      <q-item>
        <q-item-main>
          <q-input v-model="newProject.header" float-label="New project or activity" @keyup.enter="addNewProject"/>
        </q-item-main>
      </q-item>
    </q-list>

    <!-- list of projects (draggable) -->
    <draggable-list
      class="q-mt-md"
      :items="projects"
      :collection="'projects'"
      @select="openProjectDetails($event)"
    />

    <!-- list of shared projects -->
    <q-list v-if="sharedProjects.length" highlight class="q-mt-md">
      <q-list-header class="row justify-between items-center">
        Projects shared with me
      </q-list-header>
      <q-item v-for="(project, index) in sharedProjects" :key="project.id" class="cursor-pointer">
        <q-item-side>
          <q-item-tile icon='drag_handle'></q-item-tile>
        </q-item-side>
        <q-item-main @click.native='openSharedProjectDetails(project)'>
          {{index}} - {{project.header}}
          <q-icon v-if='project.is_delegated' color='primary' name='forward'/>
          <q-icon v-if='project.is_urgent' color='yellow' name='alarm'/>
          <q-icon v-if='project.is_important' color='red' name='warning'/>
          <q-icon v-if='project.is_shared' color='green' name='share'/>
        </q-item-main>
      </q-item>
    </q-list>

    <!-- project details modal -->
    <q-modal maximized class='modal' v-model="projectOpened">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="closeProjectDetails()"/>
          <q-toolbar-title>Project Details</q-toolbar-title>
        </q-toolbar>
        <project-form
          v-if="selectedProject"
          :project.sync="selectedProject"
          view-action="EDIT"
          :key="selectedProject.id"
          @action="closeProjectDetails"
          :disabled="projectEditDisabled"
        />
      </q-modal-layout>
    </q-modal>

  </div>
</template>

<script>
import ProjectForm from 'components/ProjectForm'
import { Container, Draggable } from 'vue-smooth-dnd'
import Info from 'components/Info'
import DraggableList from 'components/DraggableList'

export default {
  components: {
    Info,
    ProjectForm,
    Container,
    Draggable,
    DraggableList
  },
  data () {
    return {
      projectOpened: false,
      projectEditDisabled: false,
      filters: {
        header: '',
        important: false,
        urgent: false,
        delegated: false,
        shared: false,
        completed: false
      },
      newProject: {
        header: '',
        order: 0,
        is_urgent: false,
        is_completed: false,
        is_important: false,
        is_delegated: false,
        is_shared: false
      },
      selectedProject: null,
      projectsInfo: {
        'title': 'About Projects',
        'label': 'learn more',
        'info': [
          'Keep your teams stable. When a new project pops-up, the work is either taken to the most relevant free team or divided over (the backlog of) multiple teams'
        ]
      }
    }
  },
  methods: {
    addNewProject () {
      this.newProject.order = this.$store.state.projects.length
      if (this.newProject.header.trim()) {
        this.$store.dispatch('addProject', this.newProject)
      }
      this.newProject.header = ''
    },
    openProjectDetails (project) {
      this.projectOpened = true
      this.selectedProject = project
      this.projectEditDisabled = false
    },
    openSharedProjectDetails (project) {
      this.projectOpened = true
      this.selectedProject = project
      this.projectEditDisabled = true
    },
    closeProjectDetails () {
      this.projectOpened = false
      this.selectedProject = null
    }
  },
  computed: {
    projects () {
      return this.$store.getters.getProjects(this.filters)
    },
    sharedProjects () {
      return this.$store.getters.getOrgProjects()
    },
    user () {
      return this.$store.state.user
    }
  },
  created () {
    this.$store.dispatch('loadProjects')
    this.$store.dispatch('loadOrgProjects')
  },
  watch: {
    projectOpened () {
      if (this.projectOpened === true && this.$store.state.allMembers.length === 0) {
        this.$store.dispatch('loadAllMembers')
      }
    }
  }
}
</script>
