<template>
  <div  class='app-layout'>
    <firebaseui-auth />
  </div>
</template>

<script>
import { GoBack } from 'quasar'
import FirebaseuiAuth from 'components/FirebaseuiAuth'

export default {
  components: { FirebaseuiAuth },
  directives: { GoBack }
}
</script>
