<template>
<div class='app-layout'>
  <q-list style="max-width: 600px;">
    <q-list-header>
      Settings
    </q-list-header>
    <basics />
  </q-list>
</div>
</template>
<script>

import Basics from 'components/playbook/Basics'

export default {
  components: {
    Basics
  }
}
</script>
