<template>
  <q-layout ref='layout' view="hHr LpR lFf"  class='app-layout' :key="team.id">

    <q-alert
      v-if="defaultMembers().length === 0 && !$store.state.editMode && membersFetchCompleted"
      type="info"
      icon="info"
    >
      Click <q-btn disabled icon='edit' flat></q-btn> button above to create a team member
    </q-alert>

    <intro
      :keyPoints='keyPoints'
      :whyImportant='whyImportant'
      whyImportantHeader='Basics of Self Organization'
    />

    <!-- team details modal -->
    <div>
      <q-list>
        <q-item link @click.native="teamDetailsOpened=true" v-ripple.mat>
          <q-item-side icon="zoom_in" />
          <q-item-main>{{team.name}} Team Details</q-item-main>
          <q-item-side right icon="keyboard_arrow_right" />
        </q-item>
      </q-list>
    </div>

    <q-modal maximized class='modal' v-model="teamDetailsOpened">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn icon="keyboard_arrow_left" flat @click="closeTeamDetails()"/>
          <q-toolbar-title>Team Details</q-toolbar-title>
        </q-toolbar>

        <q-field class="q-pa-sm">
          <q-input v-model="team.name" float-label='Team name' @input="updateTeam"/>
        </q-field>
      </q-modal-layout>
    </q-modal>

    <!-- new member form -->
    <q-list v-if="$store.state.editMode" class="q-mb-md">
      <member-form
        viewAction='ADD'
        short
      />
    </q-list>

    <!-- team members list -->
    <q-list highlight class="q-mt-md">
      <q-list-header class="row justify-between items-center">
        <span class="q-pt-md">Team Members</span>
        <q-input
          v-model="filters.name"
          float-label="Search"
          class="inline"
        />
      </q-list-header>
      <template>
        <MemberThumbView
          v-for="(member, i) in defaultMembers(filters)"
          :key='i'
          :viewAction='viewAction'
          v-on:selected='memberSelected(member)'
          :model='member'
        />
      </template>
    </q-list>
  </q-layout>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import Intro from 'components/Intro'
import TextEntry from 'components/TextEntry'
import MemberForm from 'components/member/MemberForm'
import MemberThumbView from 'components/member/MemberThumbView'

export default {
  components: {
    Intro,
    TextEntry,
    MemberForm,
    MemberThumbView
  },
  props: ['id'],
  data () {
    return {
      viewAction: 'VIEW',
      teamDetailsOpened: false,
      membersFetchCompleted: false,
      filters: {
        name: ''
      },
      whyImportant: [
        {
          'title': 'Team as a group is more than sum of its parts',
          'body': 'Team is a group of people so strongly linked that the whole is more than the sum of the parts. The productivity of such a group is greater than what the same people can do in unjelled form',
          'author': '[DeMarco, Lister 1999:123]',
          'ref': '',
          'source': '',
          'type': 'book'
        },
        {
          'title': 'Team\'s behavior or personality is not predictable',
          'body': 'You cannot predict the behavior of a team by analyzing individual team members separately. Since team\'s personality is an emerging quality',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 107)',
          'source': 'https://management30.com',
          'type': 'book'
        },
        {
          'title': 'Understand what types of purposes exist and drive a team',
          'body': 'There are 3 types of purposes in living systems (and yes, organizations belong to the group of living systems [De Geus 1997]): (1)  Every living system (including genes, organisms, people, and organizations) has an intrinsic purpose. (2) Every living system can have an extrinsic purpose assigned to it by an “owner” or “guardian.” (3) Every living system can have an autonomous purpose assumed by itself.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 160-168)',
          'source': 'https://management30.com',
          'type': 'book'
        },
        {
          'title': 'The manager is the only one who is responsible for the whole system.',
          'body': 'An organization is an emergent phenomenon. It is the result of the interaction between shareholders, managers, employees, customers, and suppliers. All these stakeholders have their own individual goals, but none of them can claim that their goals are also those of the entire emergent system. The manager is the only one who is responsible for the whole system. None of the other stakeholders are.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 160-168)',
          'source': 'https://management30.com',
          'type': 'book'
        }
      ],
      keyPoints: [
        {
          'title': 'Define an extrinsic goal for your team and make sure everyone understands it',
          'body': 'Define an extrinsic goal for your team that transcends the goals of all individuals, including your own. Make sure everyone understands the goal. Check regularly with team members to see if they use the goal in their everyday decision making.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 188)',
          'source': 'https://management30.com',
          'type': 'book'
        },
        {
          'title': 'Find out team\'s automous goal if it exists',
          'body': 'Ask your team what its autonomous goal is. If the team doesn’t have one, don’t tell it to define one. Just let the team wonder about your question.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 188)',
          'source': 'https://management30.com',
          'type': 'book'
        },
        {
          'title': 'Align extrinsic and autonomous goals if needed',
          'body': 'Compare your extrinsic goal with the autonomous goal of the team. Can the two goals lead to conflicts? Discuss with the team how any conflicts will be resolved.',
          'author': 'Appelo, Jurgen',
          'ref': 'Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 188)',
          'source': 'https://management30.com',
          'type': 'book'
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'defaultMembers'
    ]),
    user () {
      return this.$store.state.user
    },
    teamId () {
      return this.id || this.$route.query.id
    },
    team () {
      return this.$store.state.team || {}
    }
  },
  methods: {
    ...mapActions([
      'deleteMember',
      'setMember'
    ]),
    updateTeam () {
      this.$store.dispatch('updateTeam', Object.assign(this.$store.state.team, this.team))
    },
    closeTeamDetails () {
      this.teamDetailsOpened = false
    },
    memberSelected (member) {
      this.$store.commit('setCurrentMember', member)
      this.$router.push({
        name: 'Profile',
        params: {
          id: member.id,
          viewAction: 'VIEW'
        },
        query: {teamId: this.teamId}
      })
    },
    cancelChanges () {
      this.defaultMembers().forEach(function (m) {
        if (m.is_deleted) {
          m.is_deleted = false
        }
      })
    },
    editMembers () {
      var that = this
      this.defaultMembers().forEach(function (m) {
        if (m.is_deleted) {
          that.deleteMember(m)
        }
      })
    },
    initTeam () {
      if (this.team.id !== this.teamId) {
        this.$store.dispatch('loadTeam', this.teamId)
      }
      this.loadMembersByTeamId(this.teamId)
      this.$store.dispatch('loadProjects')
    },
    async loadMembersByTeamId (teamId) {
      await this.$store.dispatch('loadMembersByTeamId', teamId)
      this.membersFetchCompleted = true
    }
  },
  created () {
    this.initTeam()
  }
}
</script>
