<template>
  <span>

    <view-playbook-corp
      v-if='theme==="corp"'
      :userPlaybook='userPlaybook'
      :status='status'
    />

    <view-playbook-soft
      v-if='theme==="soft"'
      :userPlaybook='userPlaybook'
      :status='status'
    />

    <view-playbook-playfull
      v-if='theme==="playfull"'
      :userPlaybook='userPlaybook'
      :status='status'
    />

    <view-playbook-serious
      v-if='theme==="serious"'
      :userPlaybook='userPlaybook'
      :status='status'
    />

  </span>
</template>

<script>
import {
  valuesInfo,
  coreValuesInfo,
  genValuesInfo,
  acsValuesInfo,
  aspValuesInfo
} from 'components/playbook/values.json'

import {purposeInfo} from 'components/playbook/purpose.json'
import {productsInfo} from 'components/playbook/products.json'
import {focusInfo} from 'components/playbook/focus.json'
import {strategyInfo} from 'components/playbook/strategy.json'

import Info from 'components/Info'
import ViewPlaybookCorp from 'components/playbook/theme/Corp'
import ViewPlaybookSoft from 'components/playbook/theme/Soft'
import ViewPlaybookPlayfull from 'components/playbook/theme/Playfull'
import ViewPlaybookSerious from 'components/playbook/theme/Serious'

export default {
  props: ['uid', 'theme'],
  components: {
    Info,
    ViewPlaybookCorp,
    ViewPlaybookSoft,
    ViewPlaybookPlayfull,
    ViewPlaybookSerious
  },
  data () {
    var viewAction = 'VIEW'
    return {
      // theme: 'corp',
      viewAction,
      valuesInfo,
      purposeInfo,
      productsInfo,
      focusInfo,
      strategyInfo,
      coreValuesInfo,
      genValuesInfo,
      acsValuesInfo,
      aspValuesInfo
    }
  },
  computed: {
    userPlaybook () {
      return this.$store.state.someUserPlaybook
    },
    status () {
      return {
        purpose: this.purposeDetailsCompleted(),
        product: this.productDetailsCompleted(),
        value: this.valueDetailsCompleted(),
        focus: this.focusDetailsCompleted(),
        strategy: this.strategyDetailsCompleted(),
        decisionAreas: this.decisionAreaDetailsCompleted()
      }
    }
  },
  methods: {
    initTheme () {
      // const playbook = this.$store.state.userProfile.playbook
      const playbook = this.$store.state.someUserPlaybook
      if (playbook && playbook.theme) {
        this.$emit('update:theme', playbook.theme)
      }
    },
    purposeDetailsCompleted: function () {
      try {
        if (this.userPlaybook.purpose.purpose) {
          return this.userPlaybook.purpose.purpose
        } else {
          return 'IN PROGRESS ....'
        }
      } catch (exp) {
        return 'IN PROGRESS ....'
      }
    },
    productDetailsCompleted: function () {
      try {
        if (this.userPlaybook.products.products) {
          return this.userPlaybook.products.products
        } else return 'IN PROGRESS ....'
      } catch (exp) {
        return 'IN PROGRESS ....'
      }
    },
    valueDetailsCompleted: function () {
      try {
        if (this.userPlaybook.values) {
          return true
        } else return false
      } catch (exp) {
        console.log('Value ', exp)
        return false
      }
    },
    focusDetailsCompleted: function () {
      try {
        if (this.userPlaybook.focus) {
          return true
        } else return false
      } catch (exp) {
        console.log('focus ', exp)
        return false
      }
    },
    strategyDetailsCompleted: function () {
      try {
        if (this.userPlaybook.strategy) {
          return true
        } else return false
      } catch (exp) {
        console.log('strategy ', exp)
        return false
      }
    },
    decisionAreaDetailsCompleted: function () {
      try {
        if (this.userPlaybook.decisionAreas) {
          return true
        } else return false
      } catch (exp) {
        console.log('decisionAreas ', exp)
        return false
      }
    },
    getPlaybookInfo: async function () {
      let root = this
      const doc = await this.$store.dispatch('getExistOrgCode', this.$route.params.code)
      doc.forEach(function (data) {
        root.$store.commit('setSomeUserPlaybook', data.data().playbook)
      })
    }
  },
  created: async function () {
    await this.getPlaybookInfo()
    this.initTheme()
  }
}
</script>
