<template>
  <div class="layout-view layout-padding app-layout">
    <div class="branding">
      <div class="tagline">{{settings.site.name}}</div>
      <hr>
      <p>An assistant to build and manage your own unstoppable team and organization</p>
    </div>
    <div class="row no-gutter">
      <q-btn color="primary" class="full-width" @click="goTo('login')">
        Login
      </q-btn>
    </div>
    <br>
    <div class="row no-gutter">
      <q-btn color="primary" class="full-width" @click="goTo('register')">
        Register
      </q-btn>
    </div>
        <!-- <p class="branding" style="padding-top:4em">  <q-btn flat @click="goTo('about')">find out more</q-btn> </p> -->
  </div>
</template>

<style lang="stylus" scoped>
  @import "~variables"

  @media only screen and (min-width: 601px){
    .layout-padding{
      margin 0 auto
    }
  }

  .splash {
    background url(/quasar-logo.png) no-repeat center center
    margin 0 auto
    height 150px
    width 300px
  }

  .branding {
    width 80%
    margin 0 auto
    text-align center
    max-width 350px
    padding-bottom 10px
  }

  .branding .tagline {
    color $primary
    font-size 35px
    line-height 30px
  }

  .branding p {
    color $primary
    font-size 18px
  }
  .branding hr {
    max-width 50px
    border-color $primary
    border-width 2px
    border-style solid
    margin 30px auto
  }
</style>

<script>
import Settings from 'src/store/settings.js'
export default {
  methods: {
    goTo (link) {
      this.$router.push(link)
    }
  },
  data () {
    return {
      settings: Settings
    }
  }
}
</script>
