<template>
  <div v-if="getAllMembers().length > 0" class="q-mt-md">
    <q-list highlight>
      <q-list-header class="row justify-between items-center">
        <span class="q-pt-md">Org Members</span>
        <q-input
          v-model="membersQuery"
          float-label="Search"
          class="inline"
        />
      </q-list-header>

      <template v-if='getAllMembers(membersQuery).length > 0'>
        <MemberThumbView
          v-for="(member, i) in getAllMembers(membersQuery)"
          :key='i'
          viewAction='EDIT'
          :show-team = "true"
          @selected='showMemberProfile(member)'
          :model='member'
        />
      </template>
    </q-list>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MemberThumbView from 'components/member/MemberThumbView'

export default {
  components: {
    MemberThumbView
  },
  data () {
    return {
      membersQuery: ''
    }
  },
  computed: {
    ...mapGetters([
      'getTeams',
      'getAllMembers'
    ])
  },
  methods: {
    ...mapActions([
      'deleteMember',
      'setMember'
    ]),
    loadAllMembersWithPollingEnabled () {
      let i = 0
      let retriesNumber = 5
      let interval = setInterval(() => {
        i++
        this.$store.dispatch('loadAllMembers')
        if (this.$store.state.teams.length || i >= retriesNumber) {
          clearInterval(interval)
        }
      }, 1000)
    },
    showMemberProfile (member) {
      this.$router.push(`/profile/${member.id}?teamId=${member.teamId}`)
    }
  },
  created () {
    if (this.$store.state.teams.length) {
      this.$store.dispatch('loadAllMembers')
    } else {
      this.loadAllMembersWithPollingEnabled()
    }
  }
}
</script>
