<template>
  <div>
    <q-list no-border link inset-delimiter>
      <!-- menu -->
      <q-list-header>Menu</q-list-header>
      <!-- <q-item>
      <q-btn flat @click="$router.go(-1)">
        <q-item-side icon="arrow back" />
        <q-item-main label="Go Back" />
        </q-btn>
      </q-item> -->
      <q-item exact to="/">
        <q-item-side icon="home" />
        <q-item-main label="Home" />
      </q-item>
      <q-item v-if="user()" to="/dashboard">
        <q-item-side icon="report" />
        <q-item-main label="My Dashboard" />
      </q-item>
      <!-- <q-item v-if="$store.state.user" to="/projects">
        <q-item-side icon="work" />
        <q-item-main label="My Projects" />
      </q-item> -->
      <q-item v-if="user()" item to="/playbook">
        <q-item-side icon="navigation" />
        <q-item-main label="Org Playbook" />
      </q-item>
      <q-item v-if="user()" to="/org">
        <q-item-side icon="people" />
        <q-item-main label="My Team" />
      </q-item>
      <!--
      <q-item v-if="$store.state.team.name && $store.state.user" to="/team">
        <q-item-side icon="group" />
        <q-item-main :label='"Team " + $store.state.team.name'/>
      </q-item> -->
      <!-- <q-item v-if="$store.state.user" to="/myProfile">
        <q-item-side icon="person" />
        <q-item-main label="My Profile" />
      </q-item> -->
      <!-- more -->
      <q-list-header>More</q-list-header>
      <a target='_blank' style='color:black' href="/statics/citations.html" class="q-item q-item-division relative-position">
        <div class="q-item-side q-item-side-left q-item-section">
        <i aria-hidden="true" class="q-item-icon q-icon material-icons">school</i>
        </div> <div class="q-item-main q-item-section">

        <div class="q-item-label" style="overflow: hidden;
        display: -webkit-box; -webkit-box-orient: vertical;">
        References</div></div>
      </a>
    </q-list>
  </div>
</template>

<script>
import {
  GoBack
} from 'quasar'
import { mapGetters } from 'vuex'

export default {
  directives: { GoBack },
  computed: {
    ...mapGetters([
      'user'
    ])
  }
}
</script>
