<template>
  <div>
    <!-- menu button -->
    <q-btn flat @click="toggleLeftDrawer" v-if="user()">
      <q-icon name="menu" />
    </q-btn>

    <!-- back button -->
    <q-btn v-if='backButtonVisible && user()' flat @click="$router.go(-1)" >
      <q-icon name="keyboard_arrow_left"/>
    </q-btn>
  </div>
</template>

<script>
import {
  GoBack
} from 'quasar'
import { mapGetters } from 'vuex'

export default {
  props: ['backButtonVisible', 'leftDrawerOpen'],
  directives: { GoBack },
  methods: {
    toggleLeftDrawer () {
      this.$emit('update:leftDrawerOpen', !this.leftDrawerOpen)
    }
  },
  computed: {
    ...mapGetters([
      'user'
    ])
  }
}
</script>
