<template>

    <q-toolbar-title>
      <slot title>
        {{title}}
        <!-- team page btns -->
        <span v-if="($route.path === '/projects' || $route.path === '/org' || $route.path.includes('/team') || $route.path === '/profile' )">
          <q-btn
            v-if="!$store.state.editMode"
            flat
            icon="edit"
            @click="$store.commit('enableEditMode')"
          />
          <span v-else>
            <q-btn flat icon="check" @click="$store.commit('disableEditMode')"/>
          </span>
        </span>
        <info inverted :obj='getInfo'/>
      </slot>
    </q-toolbar-title>

</template>

<script>
import Info from 'components/Info'
import {
  GoBack
} from 'quasar'

export default {
  props: ['title', 'getInfo'],
  directives: { GoBack },
  components: {
    Info
  }
}
</script>
