<template>
  <div>
    <!-- login button -->
    <span v-if="!user() && !$route.path.includes('/view/playbook')">
      <q-btn flat label='login / signup' to="/login"/>
    </span>

    <!-- user avatar -->
    <span v-if="user()">
      <q-icon name='account_circle' size='25px'/>
      <!-- <vue-avatar :fullname="userFullname" :size="25" color='yellow' /> -->
      <q-popover>
        <q-list>
          <q-item>
            <q-item-main>
              <b>{{user().displayName}}</b><br>
              {{user().email}}
            </q-item-main>
          </q-item>
          <q-item-separator/>
          <q-item v-if="user()" :to="`/profile/${user().uid}`">
            <q-item-main label="My Profile" />
          </q-item>
          <q-item to='/settings'>
            <q-item-main label="My Settings" />
          </q-item>
          <q-item-separator/>
          <q-item @click.native='logout'>
            <q-item-main label="Sign out" />
          </q-item>
        </q-list>
      </q-popover>
    </span>
  </div>
</template>

<script>
import {
  GoBack
} from 'quasar'
import { mapGetters } from 'vuex'

export default {
  directives: { GoBack },
  methods: {
    logout () {
      this.$store.dispatch('logout')
    }
  },
  computed: {
    ...mapGetters([
      'user'
    ])
  }
}
</script>
