<template>
  <q-input
    v-model="assignee.label"
    v-bind="$attrs"
  >
    <q-autocomplete
      @search="searchTeamsAndMembers"
      @selected="selectAssignee"
      :min-characters="1"
      :max-results="20"
      value-field="name"
    />
  </q-input>
</template>

<script>
export default {
  props: {value: Object},
  data () {
    return {
      assignee: this.value
    }
  },
  methods: {
    searchTeamsAndMembers (terms, done) {
      return this.$store.getters.getAssigneesSearchResult(terms, done)
    },
    selectAssignee (item) {
      if (item.value === 'ADD_TEAM') {
        this.addNewTeam(item)
      } else if (item.value === 'ADD_MEMBER') {
        this.addNewMember(item)
      } else {
        this.assignee = item
        this.emitInputEvent()
      }
    },
    async addNewTeam (item) {
      const teamRef = await this.$store.dispatch('addTeam', {
        name: item.name
      })
      this.assignee = {
        label: `${item.name}`,
        value: teamRef.id,
        stamp: 'Team'
      }
      this.emitInputEvent()
    },
    async addNewMember (item) {
      const memberRef = await this.$store.dispatch('addMember', {
        teamId: item.teamId,
        member: {
          first_name: item.name
        }
      })
      this.assignee = {
        label: `${item.name}`,
        value: memberRef.id,
        teamId: item.teamId,
        stamp: 'Member'
      }
      this.emitInputEvent()
    },
    emitInputEvent () {
      this.$emit('input', this.assignee)
    }
  }
}
</script>
