<template>
  <span>
    <span v-if='short'>
    <q-icon color='red' flat no-caps name='fiber_manual_record'/>
    <slot>{{label}}</slot>
    </span>
    <!--
    <q-btn no-caps v-if='false' flat :label='label' color='primary' class="cursor:pointer">
      <slot>
        {{label}}
      </slot>
      <health-status :status='status'/>
    </q-btn> -->
    <q-item v-else link v-ripple.mat :to="to" class="cursor:pointer">
      <q-item-side><health-status round :status='status'/><q-icon :name='icon'></q-icon></q-item-side>
      <q-item-main>
        <slot>{{label}}</slot>
      </q-item-main>
      <q-item-side right icon="keyboard_arrow_right"/>
    </q-item>
    <q-item-separator/>
  </span>
</template>
<script>
import HealthStatus from './HealthStatus'
export default {
  components: {
    HealthStatus
  },
  props: {
    short: Boolean,
    label: String,
    icon: String,
    status: Number,
    flat: Boolean,
    to: String
  },
  data () {
    return {
      model: {}
    }
  }
  // computed: {
  //   color: function () {
  //     var x = this.status
  //     if (x === 0.2 || x < 0.2) {
  //       return 'red'
  //     } else if (x > 0.2 && x < 0.8) {
  //       return 'yellow'
  //     } else {
  //       return 'green'
  //     }
  //   }
  // }
}
</script>
<style>
.dashboard {
  margin: auto;
  width: 100%;
}
</style>
