<template>
  <div>
    <q-toolbar>
      <q-btn icon='keyboard_arrow_left' flat @click="save" />
      <q-toolbar-title>Focusing on {{title}} </q-toolbar-title>
    </q-toolbar>

    <q-list>
      <q-collapsible icon="explore" label="Goal: identify the key characteristics in this group">
        <char-selection-info :type='type' :member='member' />
      </q-collapsible>
    </q-list>

    <tree-selector
      v-if='parent_id'
      :member='member'
      :availChars='availChars'
      :parent_id='parent_id'
    />

    <motivator-selector
      v-if="type==='MOTIVATOR' || type === 'DEMOTIVATOR'"
      :member='member'
      :availChars='availChars'
      :type='type'
    />

    <strengths-selector
      v-if="type==='STRENGTH'"
      :member='member'
      :chars='chars'
      :type='type'
    />

    <q-list v-if='parent_id' >
      <q-list-header>Selections</q-list-header>
      <q-item :key="e" v-for="e in chars">
        <q-item-side>
          <q-toggle v-model="e.selected" color="red"></q-toggle>
        </q-item-side>
        <q-item-main>
          {{e.name}}
        </q-item-main>
      </q-item>
    </q-list>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import store from 'src/store/index'

import TreeSelector from 'components/char/treeSelector'
import MotivatorSelector from 'components/char/motivatorSelector'
import StrengthsSelector from 'components/char/strengthsSelector'
import CharSelectionInfo from 'components/char/charSelectionInfo'

import TreeList from 'src/constants/Abilities.json'
import MotivatorsList from 'src/constants/MotivatorsByPersonality.json'

export default {
  store,
  props: {
    member: { type: Object, default: () => { return {} } },
    type: {},
    chars: { type: Array, default: () => [] },
    parent_id: {},
    title: {}
  },
  components: {
    TreeSelector,
    MotivatorSelector,
    StrengthsSelector,
    CharSelectionInfo
  },
  data () {
    let availChars = {}
    let availCharsIds = []

    if (this.type === 'MOTIVATOR' || this.type === 'DEMOTIVATOR') {
      availChars = MotivatorsList.filter(motivator => {
        let duplicated = false
        if (availCharsIds.includes(motivator.id)) {
          duplicated = true
        } else {
          availCharsIds.push(motivator.id)
        }
        return motivator.type === this.type && !duplicated
      })
    } else if (this.type === 'STRENGTH' || this.type === 'WEAKNESS') {
      availChars = this.chars
    } else {
      availChars = TreeList.filter(x => x.code.startsWith(this.parent_id)) || []
    }

    return {
      answersInput: [],
      availChars: availChars
    }
  },
  computed: {
    ...mapGetters([
      'charsByMemberIdAndType'
    ])
  },
  methods: {
    done () {
      this.$emit('action', 'DONE')
    },
    cancel () {
      this.done()
    },
    selected: function () {
      return this.availChars.filter(x => x.selected === true)
    },
    save () {
      var selected = this.selected()
      selected.forEach(i => {
        var charExists = this.chars.some(function (k) {
          return k.code === i.code
        })
        let newChar = {
          id: i.id,
          user_id: this.member.id,
          code: i.code,
          is_addressed: false,
          type: this.type,
          name: i.name,
          description: i.description || ''
        }
        if (!charExists && this.type === 'MOTIVATOR') {
          this.addMotivator(newChar)
        } else if (!charExists && this.type === 'DEMOTIVATOR') {
          this.addDemotivator(newChar)
        }
      })

      this.chars.forEach(node => {
        var preserve = selected.some(k => {
          return k.code === node.code
        })
        if (!preserve && this.type === 'MOTIVATOR') {
          this.deleteMotivator(node.id)
        } else if (!preserve && this.type === 'DEMOTIVATOR') {
          this.deleteDemotivator(node.id)
        }
      })
      this.done()
    },
    bindMotivatorsToFirebase () {
      try {
        let userId = this.$store.state.user.uid
        let teamId = this.$store.state.team.id
        let memberId = this.member.id

        let memberURL = this.$store.state.isUserProfileEditing
          ? `users/${this.$store.state.user.uid}`
          : `users/${userId}/teams/${teamId}/members/${memberId}`

        this.$store.dispatch(
          'loadMotivators',
          this.$db.collection(`${memberURL}/motivators`)
        )
      } catch (ex) {
        //
      }
    },
    bindDemotivatorsToFirebase () {
      try {
        let userId = this.$store.state.user.uid
        let teamId = this.$store.state.team.id
        let memberId = this.member.id

        let memberURL = this.$store.state.isUserProfileEditing
          ? `users/${this.$store.state.user.uid}`
          : `users/${userId}/teams/${teamId}/members/${memberId}`

        this.$store.dispatch(
          'loadDemotivators',
          this.$db.collection(`${memberURL}/demotivators`)
        )
      } catch (ex) {
        //
      }
    },
    addMotivator (motivator) {
      this.$store.dispatch('addMotivator', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        motivator
      })
    },
    addDemotivator (demotivator) {
      this.$store.dispatch('addDemotivator', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        demotivator
      })
    },
    deleteMotivator (motivatorId) {
      this.$store.dispatch('deleteMotivator', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        motivatorId
      })
    },
    deleteDemotivator (demotivatorId) {
      this.$store.dispatch('deleteDemotivator', {
        teamId: this.$store.state.team.id,
        memberId: this.member.id,
        demotivatorId
      })
    }
  },
  created () {
    if (this.type === 'MOTIVATOR') {
      this.bindMotivatorsToFirebase()
    } else if (this.type === 'DEMOTIVATOR') {
      this.bindDemotivatorsToFirebase()
    }
  },
  watch: {
    chars () {
      this.availChars.forEach(node => {
        node.selected = false
        var selected = this.chars.some(function (k) {
          if (k.code === node.code) {
          }
          return k.code === node.code
        })
        if (selected) {
          node.selected = true
        }
      })
    }
  }
}
</script>
