<template>
  <q-list v-if='Delegates.length > 0' highlight>
    <q-list-header class="row justify-between items-center">
      <span class="q-pt-md">Delegates For Projects<info :obj='delegateHelpInfo'/></span>
    </q-list-header>

    <q-item
      v-for="member in Delegates"
      :key="member.value"
      class="cursor-pointer"
      @click.native="showDelegateProfile(member)"
    >
      <q-item-side avatar>
        <img v-if='member.picture' :src="member.picture" width='35px' />
        <vue-avatar v-else :fullname="member.label" :size="35" />
      </q-item-side>

      <q-item-main>
        <q-item-tile label>{{member.label}}</q-item-tile>
        <q-item-tile sublabel>Project: {{member.project}}</q-item-tile>
      </q-item-main>

      <q-item-side>
        {{member.teamId ? '' : '(Team)'}}
      </q-item-side>
    </q-item>
  </q-list>
</template>

<script>
import VueAvatar from 'vue-avatar-component'
import Info from 'components/Info'

export default {
  components: {
    VueAvatar,
    Info
  },
  data () {
    return {
      delegateHelpInfo: {
        title: 'Delegates for Projects',
        info: [
          'If you delegated any of your projects, then the list below will contain the people or teams you delegated those projects to.'
        ]
      }
    }
  },
  computed: {
    Delegates () {
      const delegatedProjects = this.$store.state.projects.filter(project => {
        return project.is_delegated === true
      })
      const delegates = delegatedProjects.map(project => {
        return {
          project: project.header,
          ...project.delegationOptions.assignee
        }
      })
      return delegates
    }
  },
  methods: {
    showDelegateProfile (member) {
      if (member.teamId) {
        this.$router.push(`/profile/${member.value}?teamId=${member.teamId}`)
      } else {
        this.$router.push(`/team/${member.value}`)
      }
    }
  }
}
</script>
