<template>
  <q-list>
    <Container @drop="onDrop">
      <Draggable v-for="(item, index) in items" :key="item.id">
        <div class="draggable-item">
          <q-item v-ripple.mat link class="cursor-pointer">
            <q-item-side>
              <q-item-tile icon="drag_handle"></q-item-tile>
            </q-item-side>

            <q-item-side>
              <q-item-tile>
                <q-btn
                  flat
                  :icon="itemStateIcon(item)"
                  color="green"
                  @click="toggleCompleteItem(item)"
                />
              </q-item-tile>
            </q-item-side>

            <q-item-main @click.native="$emit('select', item)">
              {{index}} - {{item.header}}
              <q-icon v-if="item.is_delegated" color="primary" name="forward"/>
              <q-icon v-if="item.is_urgent" color="yellow" name="alarm"/>
              <q-icon v-if="item.is_important" color="red" name="warning"/>
              <q-icon v-if="item.is_shared" color="green" name="share"/>
            </q-item-main>

            <q-item-side right>
              <q-btn
                flat
                v-if="$store.state.editMode"
                icon="delete"
                color="red"
                @click="deleteItem(item)"
              />
            </q-item-side>
            <q-item-side right icon="keyboard_arrow_right"/>
          </q-item>
          <q-item-separator/>
        </div>
      </Draggable>
    </Container>
  </q-list>
</template>

<script>
import { Container, Draggable } from 'vue-smooth-dnd'
export default {
  components: {
    Container,
    Draggable
  },
  props: {
    items: {type: Array, required: true},
    collection: {type: String, required: true}
  },
  data () {
    return {}
  },
  computed: {
    itemsCollectionRef () {
      return this.$db.collection(this.collection)
    },
    itemDocRef (itemId) {
      return this.$db.doc(`${this.collection}/${this.itemId}`)
    }
  },
  methods: {
    onDrop (dropResult) {
      let tempItems = Object.assign(this.items)
      let movedItem = tempItems[dropResult.removedIndex]
      tempItems.splice(dropResult.removedIndex, 1)
      tempItems.splice(dropResult.addedIndex, 0, movedItem)
      tempItems = this.updateItemsOrder(tempItems)
      this.updateChangedItems(tempItems)
    },
    updateItemsOrder (items) {
      return items.map((item, index) => {
        return Object.assign(item, { order: index })
      })
    },
    updateChangedItems (items) {
      this.$store.dispatch('updateMultipleDocs', {
        collection: this.collection,
        items
      })
    },
    deleteItem (item) {
      this.$q.dialog({
        title: 'Ok to delete?',
        message: 'All information will be deleted',
        ok: true,
        cancel: true
      }).then(() => {
        this.$store.dispatch('deleteDoc', {
          collection: this.collection,
          id: item.id
        })
      }).catch(() => {
      })
    },
    toggleCompleteItem (item) {
      item.is_completed = !item.is_completed
      this.$store.dispatch('updateDoc', {
        collection: this.collection,
        item
      })
    },
    itemStateIcon (item) {
      return item.is_completed ? 'check_circle' : 'radio_button_unchecked'
    }
  }
}
</script>
