<template>
  <div id="firebaseui-auth-container"></div>
</template>

<script>
import firebase from 'firebase'
import * as firebaseui from 'firebaseui'

import('../../node_modules/firebaseui/dist/firebaseui.css')

export default {
  data () {
    return {
      uiConfig: {
        signInSuccessUrl: '/dashboard',
        signInOptions: [
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
          firebase.auth.GoogleAuthProvider.PROVIDER_ID
          // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          // firebase.auth.GithubAuthProvider.PROVIDER_ID
        ],
        tosUrl: '/terms',
        privacyPolicyUrl: '/privacy-policy'
      }
    }
  },
  methods: {
    initFirebaseUI () {
      let ui = firebaseui.auth.AuthUI.getInstance()
      if (!ui) {
        ui = new firebaseui.auth.AuthUI(firebase.auth())
      }
      ui.start('#firebaseui-auth-container', this.uiConfig)
    }
  },
  mounted () {
    this.initFirebaseUI()
  }
}
</script>
