<template>
    <span>
      <span v-if='round===""'>
        <!-- <q-icon name="fiber_manual_record" :color='color' /> -->
        <q-knob size='3em' style='font-size:x-small' readonly v-model="status" :min="0" :color='color' :max="100">
          <q-icon class="q-mr-xs" /> {{ percComplete }}%
        </q-knob>
      </span>
      <span v-else>
        {{ percComplete }}% {{label}}<q-progress :color='color' :percentage="percComplete" style="height: 4px"/>
      </span>
    </span>
</template>
<script>
export default {
  props: ['status', 'round', 'percLabel'],
  computed: {
    color: function () {
      if (this.status < 30) return 'red'
      if (this.status < 90) return 'yellow'
      return 'green'
    },
    percComplete () {
      return this.status
    },
    label () {
      return this.percLabel ? this.percLabel : 'complete'
    }
  }
}
</script>
