<template>
  <span>
    <span v-if='!obj'></span>
    <span v-else>
      <q-btn flat :label='obj.label ? obj.label : ""' icon='info' :color="color" @click='opened=true'/>
      <q-modal maximized class="modal" v-model="opened">
        <q-modal-layout >
          <q-toolbar slot="header">
            <q-btn icon="keyboard_arrow_left" flat @click="opened = false"/>
            <q-toolbar-title>{{obj.title ? obj.title : "Why is it important?"}}</q-toolbar-title>
          </q-toolbar>
          <div style='margin:1em'>
            <q-carousel v-if="obj.info.length > 1"
                infinite
                quick-nav
                color="primary">
              <q-carousel-slide v-for="i in obj.info" :key="i">
                <p style='margin-bottom:3em' v-html='i'></p>
              </q-carousel-slide>
            </q-carousel>
            <p v-else class='caption' v-html='obj.info[0]' ></p>
          </div>
          <q-btn v-if='obj.more' color='primary' flat :to='obj.more'>learn more</q-btn>
          <q-btn v-if='obj.action' color='primary' flat :to='obj.action'>Start</q-btn>
        </q-modal-layout>
      </q-modal>
    </span>
</span>
</template>
<script>
export default {
  data () {
    return {
      opened: false
    }
  },
  props: ['obj', 'inverted'],
  // methods: {
  //   getInfo: function () {
  //     this.opened = true
  //     console.log('inside info..')
  //     axios.get('http://cors.io/?https://blockchain.info/stats?format=json')
  //       .then(function (response) {
  //         console.log(response)
  //         // that.obj = response.data
  //       })
  //   }
  // },
  computed: {
    color: function () {
      return this.inverted === '' ? 'white' : 'primary'
    }
  }
}
</script>
<style>
.q-carousel-quick-nav {
  background-color: white!important
}
</style>
