<template>
  <q-list class="q-mb-md">
    <q-collapsible v-if='whyImportant' icon="bookmark" label="Key Points">
      <quote :quotes='whyImportant' type="why"></quote>
    </q-collapsible>
    <q-collapsible v-if='keyPoints' icon="done" label="Objectives">
      <quote :quotes='keyPoints' type="what"></quote>
    </q-collapsible>
  </q-list>
</template>

<script>
import Quote from 'components/Quote.vue'
export default {
  props: ['whyImportant', 'keyPoints'],
  components: {
    Quote
  },
  data () {
    return {
      ADD_MODE: false,
      TYPES: [
        { label: 'Why is it Important?', value: 'why' },
        { label: 'Objectives', value: 'what' },
        { label: 'How', value: 'how' }
      ],
      topic: '',
      type: '',
      title: '',
      body: '',
      author: '',
      ref: '',
      source: '',
      sourceType: ''
    }
  },
  computed: {
    Topics () {
      return this.$store.state.topics
    }
  },
  methods: {
    editTopic (t) {
      this.id = t.id
      this.topic = t.topic
      this.type = t.type
      this.title = t.title
      this.body = t.title
      this.author = t.title
      this.ref = t.title
      this.source = t.source
      this.sourceType = t.type
    },
    deleteTopic (topic) {
      this.$store.dispatch('removeTopic', this.id)
      this.showTopicDetails = false
    },
    editTopics () {
      this.EDIT_MODE = true
    },
    editTopiCompleted () {
      this.$store.dispatch('updateTopic', {
        id: this.id,
        editedTopic: {
          topic: this.topic,
          type: this.type,
          title: this.title,
          body: this.body,
          author: this.author,
          ref: this.ref,
          source: this.source,
          sourceType: this.type
        }
      })
      this.showLogDetails = false
    },
    addTopic () {
      this.topic = ''
      this.type = ''
      this.title = ''
      this.body = ''
      this.author = ''
      this.ref = ''
      this.source = ''
      this.sourceType = ''
      this.showTopicDetails = true
      this.showTopicSaveButton = false
      this.showTopicNewButton = true
    },
    addTopicCompleted () {
      this.$store.dispatch('addTopic', {
        topic: this.topic,
        type: this.type,
        title: this.title,
        body: this.body,
        author: this.author,
        ref: this.ref,
        source: this.source,
        sourceType: this.type
      })
      this.showTopicDetails = false
    }
  },
  created () {
    // this.$store.dispatch('setTopicsRef', this.$db.collection('topics'))
  }
}
</script>
