<template>
  <div>
  <q-list>
  <button-summary label="Team Health" :status='status' @click.native='orgDetailsOpened=true'/>
   </q-list>
  <q-modal maximized class='modal' v-model="orgDetailsOpened" :key="orgDetailsOpened">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-btn icon="keyboard_arrow_left" flat @click="saveChangesAndClose"/>
        <q-toolbar-title>Team Health Checklist</q-toolbar-title>
      </q-toolbar>

      <!-- <q-field label='Extrinsic Goal' class="q-pa-sm">
        <text-entry
          modal
          label='The Extrinsic goal'
          :input.sync='org.extrinsicGoal'
          help='Defined extrinsic goal for the Org that transcends the goals of all individuals, including your own.'
        />
      </q-field> -->

      <q-field label='Autonomous Goal' class="q-pa-sm">
        <text-entry
          modal
          label='The Automomous goal'
          :input.sync='org.autonomousGoal'
          help='Ask your Org what its autonomous goal is. If the Org doesn’t have one, don’t tell it to define one. Just let the Org wonder about your question.'
        />
      </q-field>
      <q-card class="q-pa-sm">
        <q-card-title><health-status :status='status' percLabel='Health Status'/></q-card-title>
        <q-card-main>
          <q-field class="q-pa-sm">The leadership team health check:
          </q-field>
          <q-field class="q-pa-sm">
            <q-toggle
              v-model="org.goalsAreAligned"
              label='Extrinsic and Automonous goals are aligned'
            />
          </q-field>

          <q-field class="q-pa-sm">
            <q-toggle v-model="org.isSmall" label='Leadership team is small' />
          </q-field>

          <q-field class="q-pa-sm">
            <q-toggle
              v-model="org.hasTrust"
              label='Leadership team built trust in each other'
            />
          </q-field>

          <q-field class="q-pa-sm">
            <q-toggle v-model="org.masteredConflict" label='Mastered conflict'/>
          </q-field>

          <q-field class="q-pa-sm">
            <q-toggle
              v-model="org.achivesCommitments"
              label='Achieves commitments'
            />
          </q-field>

          <q-field class="q-pa-sm">
            <q-toggle
              v-model="org.embracedAccountability"
              label='Embraces accountability'
            />
          </q-field>

          <q-field class="q-pa-sm">
            <q-toggle v-model="org.focusedOnResults" label='Focused on results'/>
          </q-field>
        </q-card-main>
      </q-card>
    </q-modal-layout>
  </q-modal>
  </div>
</template>

<script>
import TextEntry from 'components/TextEntry'
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
export default {
  components: {
    TextEntry,
    ButtonSummary,
    HealthStatus
  },
  data () {
    return {
      status: 0,
      orgDetailsOpened: false
    }
  },
  computed: {
    org () {
      return this.$store.state.org
    }
  },
  methods: {
    saveChangesAndClose () {
      this.$store.dispatch('updateOrg', this.org)
      this.orgDetailsOpened = false
    }
  }
}
</script>
