<template>
  <div>
    <q-field class="q-pa-sm">
      <q-input
        v-model="model.header"
        float-label="Project"
        :disabled="disabled"
      />
    </q-field>

    <!-- <q-field class="q-pa-sm">
    <q-search v-model="model.project" placeholder="Start typing a project">
      <q-autocomplete @search="search" />
    </q-search>
    </q-field> -->
    <q-field class="q-pa-sm">
      <q-datetime
        v-model="model.target_date"
        type='date'
        float-label='Target Date'
        :disabled="disabled"
      />
    </q-field>

    <q-field class="q-pa-sm">
      <q-toggle
        v-model="model.is_shared"
        icon='share'
        color='green'
        label="Share with others?"
        :disabled="disabled"
      />
    </q-field>

    <q-field class="q-pa-sm">
      <q-toggle
        v-model="model.is_important"
        icon='warning'
        color='red'
        label="Is it important?"
        :disabled="disabled"
      />
    </q-field>

    <q-field class="q-pa-sm">
      <q-toggle
        v-model="model.is_urgent"
        icon='alarm'
        color='yellow'
        label="Is it urgent?"
        :disabled="disabled"
      />
    </q-field>
    <q-field class="q-pa-sm">
      <q-toggle
        v-model="model.is_delegated"
        icon='forward'
        label="Delegate?"
        :disabled="disabled"
      />
      <Delegation-checklist
        v-if="model.is_delegated"
        :model='model.delegationOptions'
      />
    </q-field>

      <text-entry modal label='Notes' :input.sync='model.notes' :disabled="disabled"/>

    <div v-if="!disabled" class="q-pa-sm" >
      <q-btn v-if="viewAction === 'EDIT'" @click='updateProject' color='primary'>
        save
      </q-btn>
      <q-btn v-else @click='addProject' color='primary'>ADD</q-btn>
      <q-btn @click='cancel' class="q-ml-sm">Cancel</q-btn>
    </div>
  </div>
</template>

<script>
import DelegationChecklist from 'components/delegation/DelegationChecklist'
import TextEntry from 'components/TextEntry'

export default {
  components: {
    DelegationChecklist,
    TextEntry
  },
  props: ['project', 'viewAction', 'showToolbar', 'disabled'],
  data () {
    return {
      model: {
        header: '',
        notes: '',
        project: '',
        priority: 1,
        is_shared: false,
        is_completed: false,
        is_urgent: false,
        is_important: false,
        is_delegated: false,
        delegationOptions: {
          assignee: {},
          riskFactorAddressed: false,
          isDiscrete: false,
          skillsExist: false,
          formatExist: false,
          toolsExist: false,
          resultsDefined: false,
          constraintsDefined: false,
          deadlineDefined: false,
          progressDefined: false,
          milestonesDefined: false,
          coachingAvailable: false,
          delegationCategory: 'LOW',
          delegationAuthority: 1
        }
      }
    }
  },
  computed: {
    sharedWithArr () {
      if (this.model.is_shared) {
        let sharedWithArr = []
        this.$store.state.allMembers.forEach(member => {
          if (member.email) {
            sharedWithArr.push(member.email)
          }
        })
        return sharedWithArr
      } else {
        return []
      }
    }
  },
  methods: {
    search (terms, done) {
      let results = this.$store.state.projects.filter(project => {
        return project.name.includes(terms)
      })
      results = results.map(project => {
        return { value: project.name, label: project.name }
      })
      done(results)
    },
    addProject () {
      this.model.sharedWithArr = this.sharedWithArr
      this.$store.dispatch('addProject', this.model)
      this.resetForm()
      this.$emit('action', 'ADD')
    },
    updateProject () {
      this.model.sharedWithArr = this.sharedWithArr
      this.$store.dispatch('updateProject', this.model)
      this.$emit('action', 'UPDATE')
    },
    cancel () {
      this.$emit('action', 'CANCEL')
    },
    injectProject () {
      this.model = {
        id: this.project.id,
        ...this.model,
        ...this.project
      }
    },
    resetForm () {
      this.model = this.$options.data().model
    }
  },
  created () {
    if (this.viewAction === 'EDIT') {
      this.injectProject()
    }
  }
}
</script>
