<template>
<q-list>
  <q-collapsible v-for='quote in visibleQuotes' :key='quote._id' icon="cloud">
    <template slot="header">
      <q-item-side left>
        <q-icon name="chevron_right" />
        <!-- <q-icon v-if='type!=="what"' name="chevron_right" />
        <q-toggle v-model='model' v-if='type==="what"' flat /> -->
      </q-item-side>
      <q-item-main>{{quote.title}}</q-item-main>
    </template>
      <p class='caption'>{{quote.body}}
      <a v-if='quote.source !==""' target="_blank" :href="quote.source">(read more)</a></p>
  </q-collapsible>
</q-list>
</template>
<script>
export default {
  props: ['quotes', 'type', 'model'],
  computed: {
    visibleQuotes () {
      return this.quotes.filter(q => q.show !== false)
    }
  }
}
</script>
