<template>
  <span>
      <q-slider :readonly='readonly' class='app-slider' v-model="level" :min="0" :max="10" :step="1" :label="true" @input="updateLevel" />
      <q-knob v-model="level" :min="0" size='3em' :max="10" color="primary" readonly>
        {{levelPerc}}%
      </q-knob>
  </span>
</template>

<script>
export default {
  props: ['model', 'readonly'],
  data () {
    return {
      level: this.model ? this.model : 0
    }
  },
  computed: {
    levelPerc: function () {
      return 100 * this.level / 10
    }
  },
  methods: {
    updateLevel () {
      this.$emit('update:model', this.level)
    }
  }
}
</script>
