<template>
  <q-item>
    <q-item-side style='width:100px'>{{header}}</q-item-side>
    <q-item-main>
      <q-item-tile>
        <q-slider :color="color" v-model="level" :min="0" :max="10" label @input='updateLevel'/>
      </q-item-tile>
        <q-item-tile v-if='labels' class='q-field-bottom'>
        <span v-if='worst && level<5'>{{worst}}</span>
        <span v-else>{{best}}</span>
      </q-item-tile>
    </q-item-main>
    <!-- <q-item-side style='width:20px' right>The Best</q-item-side> -->
  </q-item>
</template>

<script>
export default {
  props: {
    header: String,
    model: Number,
    best: String,
    worst: String,
    'labels': Boolean // shows labels or not
  },
  data () {
    return {
      level: this.model ? this.model : 0
    }
  },
  computed: {
    color: function () {
      if (this.level < 5) {
        return 'red'
      }
      if (this.level < 8) {
        return 'yellow'
      }
      return 'green'
    },
    levelPerc: function () {
      return 100 * this.level / 10
    }
  },
  methods: {
    updateLevel () {
      this.$emit('update:model', this.level)
    }
  }
}
</script>
