<template>
  <div>
    <span v-if="modal===''">
        <div v-if='input' v-html="input" @click='opened=true'/>
        <div v-else @click='opened=true'>Start typing</div>
      <q-modal class='modal maximized' v-model='opened'>
        <q-modal-layout>
          <q-toolbar slot='header'>
            <q-btn icon='keyboard_arrow_left' flat @click='closeModal'/>
            <q-toolbar-title>{{label}}</q-toolbar-title>
          </q-toolbar>
          <q-btn v-if='examples' flat no-caps color='primary' @click='examplesOpened=true'>see examples</q-btn>
          <p class='q-pa-sm' v-if='help'>{{help}}</p>
            <!-- <q-input v-model='entry' :float-label='label' type='textarea' :max-height='100' rows='3' @keyup="updateInput" /> -->
          <q-editor v-model="entry" @input="updateInput" :toolbar='editorToolbar'  toolbar-text-color="white" toolbar-toggle-color="yellow-8" toolbar-flat toolbar-bg="primary"/>
        </q-modal-layout>
      </q-modal>
    </span>
    <span v-else>
       <q-field class="q-pa-sm">
        <p style='text-align:center' v-if='label'>{{label}}</p>
        <p v-if='help' class='caption'>
          {{help}}
        </p>
        <q-btn v-if='examples' flat no-caps color='primary' @click='examplesOpened=true'>see examples</q-btn>
        <!-- <q-input v-model='entry' type='textarea' :max-height='100' rows='3' @keyup="updateInput" /> -->
        <q-editor v-model="entry" @input="updateInput" :toolbar='editorToolbar' toolbar-text-color="white" toolbar-toggle-color="yellow-8" toolbar-flat toolbar-bg="primary"/>
      </q-field>
    </span>
    <q-modal class='modal maximized' v-model='examplesOpened'>
      <q-modal-layout>
        <q-toolbar slot='header'>
          <q-btn icon='keyboard_arrow_left' flat @click='examplesOpened=false'/>
          <q-toolbar-title>Examples</q-toolbar-title>
        </q-toolbar>
          <q-carousel
            infinite
            quick-nav
            color="primary">
          <q-carousel-slide v-for='e in examples' :key='e.company'>
            <q-card style='margin-bottom:3em'>
              <q-card-title>
                {{e.company}}
              </q-card-title>
              <q-card-main>
                <span v-html="e.statement"></span>
                <p class='citation' v-html="e.source"></p>
              </q-card-main>
              <q-card-actions>
                <q-btn flat color="primary" label="copy" @click='copy(e.statement)' />
                <q-btn  v-if='e.explanation' flat color="primary" label="learn more" @click='openLearnMore(e.explanation)'/>
              </q-card-actions>
            </q-card>
            <q-modal class='modal maximized' v-model='learnMoreOpened'>
            <q-modal-layout>
              <q-toolbar slot='header'>
                <q-btn icon='keyboard_arrow_left' flat @click='learnMoreOpened=false'/>
                <q-toolbar-title>More on the example...</q-toolbar-title>
              </q-toolbar>
              <p class='caption' style='margin:2em'>{{learnMoreText}}</p>
            </q-modal-layout>
          </q-modal>
          </q-carousel-slide>
        </q-carousel>
      </q-modal-layout>
    </q-modal>
  </div>
</template>
<script>
export default {
  data () {
    return {
      learnMoreText: false,
      examplesOpened: false,
      learnMoreOpened: false,
      opened: false,
      entry: this.input ? this.input : '',
      editorToolbar: [
        ['bold', 'italic', 'underline'],
        ['hr'],
        ['fullscreen'],
        [
          {
            label: 'format',
            icon: '',
            list: 'no-icons',
            options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
          },
          // {
          //   label: 'size',
          //   icon: '',
          //   fixedLabel: true,
          //   fixedIcon: true,
          //   list: 'no-icons',
          //   options: ['size-1', 'size-2', 'size-3', 'size-4', 'size-5', 'size-6', 'size-7']
          // },
          'removeFormat'
        ],
        ['unordered', 'ordered', 'outdent', 'indent'],
        ['undo', 'redo']
      ]
    }
  },
  props: ['label', 'help', 'modal', 'input', 'examples'],
  methods: {
    closeModal () {
      this.opened = false
      this.updateInput()
      this.$emit('done')
    },
    openLearnMore (e) {
      this.learnMoreText = e
      this.learnMoreOpened = true
    },
    copy (e) {
      this.entry = e
      this.examplesOpened = false
      this.updateInput()
    },
    updateInput () {
      this.$emit('update:input', this.entry)
    }
  },
  watch: {
    input: function (newVal) {
      this.entry = this.input
    }
  }
}
</script>
<style>
.q-carousel-quick-nav {
  background-color: white!important
}
</style>
