<template>
  <div>
    <div @click='opened=true'>
      <div v-if='entry && entry.length>0' v-html='entry'/>
      <div v-else >start typing</div>
    </div>
    <q-modal maximized class="modal" v-model='opened'>
      <q-modal-layout>
        <q-toolbar slot='header'>
          <q-btn icon='keyboard_arrow_left' flat @click='closeModal'/>
          <q-toolbar-title>Values to leverage</q-toolbar-title>
        </q-toolbar>
        <q-field class="q-pa-sm">
          <p class='caption' style='margin-top:1em;margin-bottom:1em'>{{helpText}}</p>
          <q-editor v-model='entry' toolbar-text-color="white" toolbar-toggle-color="yellow-8" toolbar-flat toolbar-bg="primary"/>
        </q-field>
        <q-field class="q-pa-sm">
          <q-select v-model="selectedCategory" float-label="Filter by a group"  :options="valueOptions"/>
        </q-field>
        <q-field class="q-pa-sm">
          <div style='margin-bottom:1em' v-for='i in selected' :key='i'>
            <span v-html='i'></span> <q-btn no-caps flat color='primary' @click='entry = i'>copy</q-btn>
          </div>
        </q-field>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
export default {
  name: 'ValuesLookup',
  props: ['value', 'help'],
  data () {
    var entry = ''
    var helpText = this.help
    if (!this.help || this.help === '') {
      helpText = 'You can write your own, but you can also start from values below'
    }
    entry = this.value
    return {
      helpText,
      opened: false,
      entry,
      selectedCategory: 'agileValues',
      valueOptions: [
        {
          label: 'Agile Manifesto Values',
          value: 'agileValues'
        },
        {
          label: 'Disciplined Agile Manifesto Values',
          value: 'daValues'
        },
        {
          label: 'DevOps Manifesto Values',
          value: 'devOpsValues'
        },
        {
          label: 'Generic Values List',
          value: 'values'
        },
        {
          label: 'Accidental Value Examples',
          value: 'acsValues'
        }
      ],
      acsValues: [
        'Minimizing investment in front-line workers, paying customer facing employees as little as possible',
        'Reinforcing those who stop at nothing - including stomping all over their colleagues and subordinates - to maximize their personal revenue generation'
      ],
      devOpsValues: [
        '<b>Individuals and interactions</b> over processes over tools',
        '<b>Working Systems</b> over comprehensive documentation',
        '<b>Customer and developer collaboration</b> over contract negotiation',
        '<b>Responding to change</b> over following a plan'
      ],
      daValues: [
        '<b>Individuals and interactions</b> over processes and tools',
        '<b>Consumable solutions</b> over comprehensive documentation',
        '<b>Stakeholder collaboration</b> over contract negotiation',
        '<b>Responding to feedback</b> over following a plan',
        '<b>Transparency</b> over false predictability'
      ],
      agileValues: [
        '<b>Individuals and interactions</b> over processes and tools',
        '<b>Working Software</b> over comprehensive documentation',
        '<b>Customer collaboration</b> over contract negotiation',
        '<b>Responding to feedback</b> over following a plan'
      ],
      values: [
        'Assertiveness',
        'Aesthetics',
        'Balance',
        'Caution',
        'Cleanliness',
        'Commitment',
        'Confidence',
        'Cooperation',
        'Courage',
        'Creativity',
        'Curiosity',
        'Decisiveness',
        'Determination',
        'Endurance',
        'Enthusiasm',
        'Excellence',
        'Flexibility',
        'Focus',
        'Helpfulness',
        'Honesty',
        'Humor',
        'Industriousness',
        'Initiative',
        'Integrity',
        'Joyfulness',
        'Knowledge',
        'Mindfulness',
        'Openness',
        'Orderliness',
        'Persistence',
        'Pragmatism',
        'Purposefulness',
        'Rationality',
        'Reliability',
        'Resilience',
        'Respect',
        'Responsibility',
        'Self-discipline',
        'Service',
        'Simplicity',
        'Skill',
        'Stewardship',
        'Tactfulness',
        'Thoroughness',
        'Tolerance',
        'Trust',
        'Trustworthiness',
        'Unity',
        'Vision'
      ]
    }
  },
  computed: {
    selected () {
      switch (this.selectedCategory) {
        case 'daValues':
          return this.daValues
        case 'devOpsValues':
          return this.devOpsValues
        case 'agileValues':
          return this.agileValues
        case 'acsValues':
          return this.acsValues
        default:
          return this.values
      }
    }
  },
  methods: {
    closeModal () {
      this.opened = false
      this.$emit('update:value', this.entry)
    }
  }
}
</script>
