<script>
export default {

  data () {
    return {
      rootPages: [
        '/',
        '/dashboard'
      ],
      dashboardInfo: {
        title: 'About this Dashboard',
        info: [
          'As a leader, are you ready to take your organization to the next level? Follow this dashboard as a guide to complete your journey. At the end of the journey you will have learned about and completed the steps necessary to grow and nurture an unstoppable team. Among all other things, this team could be as much as six times more likely to be engaged in their work and three times more likely to say they have an excellent quality of life.'
        ],
        action: '/playbook'
      },
      projectsInfo: {
        'title': 'About Projects',
        'info': [
          'Keep your teams stable. When a new project pops-up, the work is either taken to the most relevant free team or divided over (the backlog of) multiple teams'
        ]
      },
      playbookInfo: {
        title: 'About your playbook',
        info: [
          '<p>Use Playbook to create the clarity for your organization and teams.</p>To be able to energize people, empower teams, and align constraints the playbook answers 6 fundamental questions that provide clear boundaries and allow the freedom for people to operate and share responsibilities within those boundaries. And when we say share responsibility, we do really mean share. Compare how a product owner and a scrum team share responsibility. The product owner is responsible for WHAT, the team for HOW and jointly they are responsible for the product.',
          'To have an unstoppable organization you will need to build and keep a healthy org environment. A “healthy” organization is the one with high morale, low turnover, minimal politics, and high productivity. The playbook is the key to address all of these from the get go.',
          '<h4>Micromanagement is finished!!</h4> That is, if you choose to work in an agile way. Agile ways of working focus on delivering the most value for the customer. Employees are in close contact with the customer and are given the mandate to do what is required. Clear boundaries are still provided, and — depending on the chosen framework — clearly defined roles and agreements are in place. The playbook helps leaders to give the freedom to employees to deliver value to the customer in the way they feel is best.<p class="citation"> Zelen, Willy, Leadership in Agile Organizations: from micro management to trust-based coaching @ https://medium.com/organize-agile/leadership-in-agile-organizations-from-micro-management-to-trust-based-coaching-65caa815b5ae',
          '<p>Self Organizion is everywhere, but the Playbook helps people to self organize towards the right values.</p>Self-organization cannot be a best practice. It is the “default practice” of any system, including teams. No matter how you manage a team, there will be self-organization... But self-organization makes no distinction between good or bad, between virtues or vices, between valuable or harmful. Systems simply do whatever the environment allows them to do... The playbook helps the leaders define preferred directions for self-organizing systems because they know which results are valuable and which are harmful. <p class="citation">Appelo, Jurgen, Management 3.0 (Addison-Wesley Signature Series (Cohn)) (p. 100)'
        ]
      }
    }
  },
  methods: {
    login () {
      /* global gtag_report_conversion:true */
      gtag_report_conversion()
      this.$router.push('/login')
    }
  },
  computed: {
    getInfo () {
      switch (this.$route.path) {
        case '/projects':
          return this.projectsInfo
        case '/playbook':
          return this.playbookInfo
        case '/dashboard':
          return this.dashboardInfo
      }
    },
    title () {
      console.log(this.$route.path)
      var name = this.$route.name
      if (this.$route.params.name) {
        name = name + ': ' + this.$route.params.name
      }
      return name
    },
    userFullname () {
      const profile = this.$store.state.userProfile
      return profile.first_name + (profile.last_name || '')
    },
    backButtonVisible () {
      return !this.rootPages.includes(this.$route.path)
    }
  }
}
</script>
