<template>
  <span>
    <button-summary label='Happiness Index' :status='status' @click.native='opened=true'/>
    <q-modal maximized class='modal' v-model='opened'>
      <q-modal-layout>
        <q-toolbar slot='header'>
          <q-btn icon='keyboard_arrow_left' flat @click='closeModal'/>
          <q-toolbar-title>
            Happiness Index
            <!-- <info inverted :obj='productsInfo'/> -->
          </q-toolbar-title>
        </q-toolbar>
        <q-card-title>
          <health-status :status='status' percLabel='Health Index'/>
        </q-card-title>
        <div style='margin:1em'>
          <div class='section'>
            <p style='bold'>Inspiration:</p>
            <survey-question labels
               :model.sync='survey.mission'
              header='Mission'
              best="I get a meaning and inspiration from my company's mission"
            />
            <survey-question labels
               :model.sync='survey.leadership'
              header='Leadership'
              best="I am inspired by the leaders in my company"
            />
          </div>
          <div class='section'>
            <p style='bold'>Engagement:</p>
            <survey-question labels
               :model.sync='survey.team'
              header='Team'
              best="I am part of an extraordinary team"
            />
            <survey-question labels
               :model.sync='survey.autonomy'
              header='Autonomy'
              best="I have autonomy to do my job"
            />
            <survey-question labels
               :model.sync='survey.learning'
              header='Learning'
              best="I learn and grow every day"
            />
            <survey-question labels
               :model.sync='survey.impact'
              header='Impact'
              best="I make a difference and make an impact"
            />
          </div>
          <div class='section'>
            <p style='bold'>Satisfaction:</p>
            <survey-question labels
               :model.sync='survey.safety'
              header='Safety'
              best="I have safe work environment"
            />
            <survey-question labels
               :model.sync='survey.tools'
              header='Tools'
              best="I have tools, training, and resources to do the job well"
            />
            <survey-question labels
               :model.sync='survey.effectiveness'
              header='Effectiveness'
              best="I can get my job done efficiently, without excess bureaucracyt"
            />
            <survey-question labels
               :model.sync='survey.rewards'
              header='Rewards'
              best="I am valued and rewarded fairly"
            />
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
  </span>
</template>

<script>
import ButtonSummary from 'components/ButtonSummary'
import HealthStatus from 'components/HealthStatus'
import SurveyQuestion from 'components/SurveyQuestion'
import Info from 'components/Info'

export default {
  props: ['member'],
  components: {
    Info,
    ButtonSummary,
    HealthStatus,
    SurveyQuestion
  },
  data () {
    return {
      survey: {
        status: 0,
        mission: 0,
        leadership: 0,
        team: 0,
        autonomy: 0,
        learning: 0,
        impact: 0,
        safety: 0,
        tools: 0,
        effectiveness: 0,
        rewards: 0
      },
      level: 1,
      opened: false,
      value: ''
    }
  },
  created () {
    if (this.member.survey) {
      this.survey = this.member.survey
    }
  },
  computed: {
    status () {
      return Math.floor(10 * (
        this.survey.mission +
        this.survey.leadership +
        this.survey.team +
        this.survey.autonomy +
        this.survey.learning +
        this.survey.impact +
        this.survey.safety +
        this.survey.tools +
        this.survey.effectiveness +
        this.survey.rewards
      ) / 10)
    }
  },
  methods: {
    save () {
      this.survey.status = this.status
      this.member.survey = this.survey
      console.log(this.member)
      this.$store.dispatch('updateMember', {
        teamId: this.$store.state.team.id,
        member: this.member
      })
    },
    closeModal () {
      this.save()
      this.opened = false
    }
  }
}
</script>
<style scoped>
.section {
  padding-bottom:3em;
}
</style>
