<template>
    <span>
      <q-item>
          <q-item-side>
            <img v-if='member.picture' :src="member.picture" />
            <avatar v-else :fullname="fullName" :size="size" />
          </q-item-side>
          <q-item-main>
            <q-item-tile label> <q-btn no-caps color='primary' flat style='padding-left:0;g' @click='$refs.modal.show()'>{{fullName}} </q-btn> </q-item-tile>
            <q-item-tile sublabel>{{member.role}} </q-item-tile>
            <q-item-tile sublabel>
              <q-icon v-if='member.notes' name="notes">
                <q-tooltip style="max-width:600px" anchor="center middle" self="bottom right">
                  {{ member.notes}}
                </q-tooltip>
              </q-icon>
            </q-item-tile>
          </q-item-main>
        </q-item>
       <q-modal ref="modal" class="maximized modal">
        <q-toolbar >
          <q-btn icon='keyboard_arrow_left' flat @click="$refs.modal.hide()" />
          <q-toolbar-title>Member Details</q-toolbar-title>
        </q-toolbar>
          <member-details
            viewAction='EDIT'
            showToolbar
            @action='hideMemberForm'
            @cancel="hideMemberForm"
            :member='member'
          />
      </q-modal>
    </span>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'
import Avatar from 'vue-avatar-component'
import MemberDetails from 'components/member/MemberForm'

export default {
  data () {
    return {
      model: this.member,
      size: 50
    }
  },
  props: ['member', 'viewAction'],
  components: {
    MemberDetails,
    Avatar
  },
  computed: {
    ...mapGetters([
      'percComplete',
      'getGoals'
    ]),
    fullName () {
      return this.member.first_name + ' ' + (this.member.last_name || '')
    },
    memberAttitude () {
      return this.member.attitude ? this.member.attitude.level : 0
    },
    goalPercComplete () {
      var goals = this.getGoals() || []
      var total = 0
      goals.forEach(function (goal) {
        var i = goal.is_inspiring ? 1 : 0
        var e = goal.is_essential ? 1 : 0
        var s = goal.is_specific ? 1 : 0
        var r = goal.requires_new_skills ? 1 : 0
        var q = goal.questions_abilities ? 1 : 0
        var l = goal.limited_resources ? 1 : 0
        total = total + i + e + s + r + q + l
      })
      return goals.length ? Math.floor(total * 100 / (6 * goals.length)) : 0
    },
    strengthPercComplete () {
      return this.percComplete(this.model.id, 'STRENGTH')
    },
    motivatorsPercComplete () {
      return this.percComplete(this.model.id, 'MOTIVATOR')
    },
    demotivatorsPercComplete () {
      return this.percComplete(this.model.id, 'DEMOTIVATOR')
    }
  },
  methods: {
    ...mapActions([
      'editMember'
    ]),
    edit () {
      this.$router.push({ name: 'Details' })
    },
    showMemberForm () {
      this.$refs.modal.show()
    },
    hideMemberForm () {
      this.$refs.modal.hide()
    }
  }
}
</script>
