<template>
  <q-list>
    <q-collapsible icon="explore" label="Objectives">
    <q-list>
      <!-- <q-collapsible icon="chevron_right" label="Focus on Abilties">
      <q-card>
        <q-card-title>
          Focus on Cogntive Abilities
        </q-card-title>
        <q-card-main>
          <p> In fact of all the variables discussed in this <a href='https://www.amazon.com/Organizational-Behavior-Improving-Performance-Commitment/dp/1259545091'>book </a>on the organizational behavior, none has a stronger correlation with task performance than general cognitive ability.</p>

          <p> Thousands of organizations, many of which are quite well known, assess cognitive ability in efforts to select the best candidates available for specific jobs. </p>

          <p>The use of cognitive ability tests for this purpose appears to be quite reasonable, given that scores on such tests have a strong positive correlation with measures of performance across different types of jobs. </p>

        </q-card-main>
      </q-card>
      </q-collapsible> -->
      <q-collapsible icon="chevron_right" label="Focus on personality, attitude and motivation.">
        <q-card>
          <q-card-main>
            <p class="caption">
              Remember, no employee, however talented, is perfectly well-rounded, so your time is  much better spent carving out a role that takes advantage of person's natural abilities and makes the person tick in your organizational and team culture.</p>

            <p class="caption">There are a few key things you must identify about the person to manage the person well: strengths, triggers that activate or deactivate those strengths (motivators and demotivators). Understanding the the person's personality type will help you in uncovering these faster by focusing on likely factors. </p>
            <q-btn flat icon='info' color='primary' @click='modalMorePutPeopleIntoRolesOpen = true'>More Info</q-btn>
            <q-modal maximized class='modal' v-model="modalMorePutPeopleIntoRolesOpen">
              <q-modal-layout>
                <q-toolbar slot="header">
                  <q-btn flat @click="modalMorePutPeopleIntoRolesOpen = false">
                    <q-icon name="keyboard_arrow_left" />
                  </q-btn>
                  <div class="q-toolbar-title">
                    Allowing People to Shine
                  </div>
                </q-toolbar>
                <div class='modalContent'>
                  <p class="caption">
                    Gallup finds that people and organizations perform best when individuals focus on developing their strengths versus focusing on their weaknesses. </p>

                  <p class="caption">
                    Further, the analysis reveals that people who use their strengths every day are <em>three times</em> more likely to report having an excellent quality of life,  <em>six times</em> more likely to be engaged at work, <em>8% more productive</em> and <em>15% less likely</em> to quit their jobs. </p>

                  <h6>References</h6>
                  <ol>
                  <li><a class="caption" href='http://news.gallup.com/businessjournal/186044/employees-strengths-outperform-don.aspx' target='_blank'>Gallup on employee strengths</a></li>
                  <li><a class="caption" href='https://hbr.org/2005/03/what-great-managers-do' target='_blank'>What Great Managers Do (HBR Article)</a></li>
                  </ol>
                </div>
              </q-modal-layout>
            </q-modal>
          </q-card-main>
        </q-card>
      </q-collapsible>
      <q-collapsible icon="chevron_right" label="Create all around accountability with constructive feedback">
      <q-card>
        <q-card-main>
          <p  class="caption">
            Mistakes left unattended, are likely to be repeated leading to frustrations and performance limitations.
          </p>
          <p  class="caption">
            But until you can pull your people up to a place where accountability is possible, you’re talking to deaf ears.
          </p>
          <p  class="caption">
            Corrective feedback isn’t about being nice, and it isn’t about being nasty; it’s about getting folks to willingly listen and assimilate and to act accordingly.
          </p>
          <q-btn flat icon='info' color='primary' @click='$refs.modalCorrectiveFeedback.show()'>More Info</q-btn>
          <q-btn flat  icon='info' color='primary' @click='$refs.modalCorrectiveFeedbackExample.show()'>How?</q-btn>
            <q-modal class="maximized modal" ref="modalCorrectiveFeedback">
              <q-modal-layout>
                <q-toolbar slot="header">
                  <q-btn flat @click="$refs.modalCorrectiveFeedback.hide()">
                    <q-icon name="keyboard_arrow_left" />
                  </q-btn>
                  <div class="q-toolbar-title">
                    More on corrective feedback
                  </div>
                </q-toolbar>
                <div class="modalContent">
                  <p  class="caption">
                    There’s a fine balance between making corrections that do nothing, corrections that push good employees to Hundred Percenter performance, and corrections that either push good employees to stop trying or send them barreling out the door.
                  </p>
                  <p  class="caption">
                    The thing to remember is that chances are really good that your best people, when they mess up, have already spent some time sweating out their feelings of lousy self-worth and the repercussions they may face for having made their mistakes. So they don’t need you to make them feel bad; they are already doing a really good job of that on their own.
                  </p>
                  <p class="caption">
                    What they do need from you is some guidance on why the errors happened, how to correct them, and how to keep them from happening again. And through it all, they want to be treated with respect. After all, these folks have a history of good or promising performance. And mistake or no mistake, that does count for something.
                  </p>
                  <p class="caption">
                    The good Leader shuts down the Denial, Blame, Excuses, and Anxiety with a conversation that we call the IDEALS script—a two-way dialogue focused only on the critical feedback. The IDEALS script works no matter where in the Stages of Accountability employees may be.
                  </p>
                  <h6>Stages of accountability </h6>

                  <p>Denial:</p>
                  <ul class="caption">
                    <li>
                      Not accepting, recognizing a problem exists with them. "My performance was just fine". "That rule doesn't apply to me".
                    </li>
                  </ul>
                  <p>Blame:</p>
                  <ul class="caption">
                    <li>
                      Unspoken acknowledgement that constructive feedback is warranted, coupled with unwillingness to admit any personal fault.
                    </li>
                    <li>
                      Anytime when you hear admission of subpar results followed by somebody else's name
                  "Yes, but the accounting department didn't produce the right data" (Accepting a fault, but blaming another actor / person)"
                    </li>
                  </ul>
                  <p>Excuse:</p>
                  <ul class="caption">
                    <li>
                      Admission of subpar results plus an admission of fault but with a host of "valid" reasons. Unlike blame it is not another person / department that get thrown under the bus, it is procedures, things. "Yes, but the computer crashed". "We ran out of supplies" (Accepting a fault, blaming not another person, but a "thing"
                      </li>
                  </ul>
                  <p>Anxiety:</p>
                  <ul class="caption">
                    <li>
                      The subpar performance  and culpability were fully acknowledged, but the person lacks readiness to move forward and improve performance. "We've tried this before and it didn't work". "That's never been done before. I don't think it is feasible"
                    </li>
                  </ul>
                    <p style="font-style:italic;text-decoration:underline;font-size:11px;margin-left:3em">
                    (Source: Murphy, Mark. Hundred Percenters:  Challenge Your Employees to Give It Their All, and They'll Give You Even More)
                  </p>
                </div>
              </q-modal-layout>
            </q-modal>
            <q-modal class="maximized modal" ref="modalCorrectiveFeedbackExample">
              <q-modal-layout>
                <q-toolbar slot="header">
                  <q-btn flat @click="$refs.modalCorrectiveFeedbackExample.hide()">
                    <q-icon name="keyboard_arrow_left" />
                  </q-btn>
                  <div class="q-toolbar-title">
                    Corrective Feedback Instructions
                  </div>
                </q-toolbar>
                <div>
                  <q-list highlight class='caption cursor-pointer'>
                    <q-list-header>Use the IDEALS script:</q-list-header>
                    <q-item @click.native='$refs.modalInvite.show()'>
                      <q-item-main>
                        <b>Invite the person to partner:</b> "Would you be willing to have a conversation with me about XYZ? Does right now work, or you would rather wait until lunch?"
                        <q-modal class="maximized modal" ref="modalInvite">
                          <q-modal-layout>
                            <q-toolbar slot="header">
                              <q-btn flat @click="$refs.modalInvite.hide()">
                                <q-icon name="keyboard_arrow_left" />
                              </q-btn>
                              <div class="q-toolbar-title">
                                Inviting them to partner
                              </div>
                            </q-toolbar>
                            <div class="modalContent" >
                            <p class="caption">
                                Whatever method you choose to extend the invite, the main thing is to erase all signs of intimidation or fear from your words. You want to send a clear message that this is just two people sitting down to exchange information in order to come to a resolution.
                            </p>
                            <p class="caption">
                              Most people naturally feel safer and perform better when they are given choices, and so you can provide some options about when the talk will take place. This can easily be done by following up your invite with a statement such as, “Do you want to talk now, or would you prefer to wait until after lunch?” While, in theory, you’re offering the employee a choice, the catch is that you wrote all the options based upon what you need and want.
                            </p>
                            <p class="caption">
                              Note:  If the invite doesn't work: “No, I’m not willing to have a conversation with you.” In this case, you want to turn your invite into a statement such as, “We need to have a conversation about
                            </p>
                            </div>
                          </q-modal-layout>
                        </q-modal>
                      </q-item-main>
                    </q-item>
                    <q-item @click.native='$refs.modalDisarm.show()'>
                      <q-item-main>
                        <b>Disarm yourself:</b> "I'd like to review the situation to make sure I am on the same page as you"
                        <q-modal class="maximized modal" ref="modalDisarm">
                          <q-modal-layout>
                            <q-toolbar slot="header">
                              <q-btn flat @click="$refs.modalDisarm.hide()">
                                <q-icon name="keyboard_arrow_left" />
                              </q-btn>
                              <div class="q-toolbar-title">
                                Disarming yourself
                              </div>
                            </q-toolbar>
                            <div class="modalContent" >
                            <p class="caption">
                                If employees suspect that hurtful criticism is going to be part of the experience, they’re likely to enter a constructive feedback conversation with some trepidation. This can stop the important message from being heard even before it’s delivered. The way 100% Leaders prevent this situation is by making a gesture that says, “No weapons of communication will be used against you in this conversation.” This act of openly disarming themselves keeps talented employees feeling safe and open to the critical feedback being delivered.
                            </p>
                            <p class="caption">
                              Judgement is another verbal weapon that can shut down two-way communication and stand in the way of an effective employee critique. When a disconnect does occur, do not use phrases like "you're not making any sense". "you're not listening to me" or "listen to me". They point the "you" finger of blame. It implies the other person lacks knowledge and understanding, and it sends a strong messages that says that they are incapable of presenting a clear argument. Instead use "I don't think I am doing a good job of explaining myself"
                            </p>
                            <p class="caption">
                              These simple rewrites erase the judgement and accusations and keep the conversation open and fluid. The goal is to have employee to hear what needs to be said, rather than who is to blame and why.
                              <table style="border:1px;">
                                <tr>
                                  <th>FROM</th><th>TO</th>
                                </tr>
                                <tr>
                                  <td>You're not listening to me</td><td>I don't think I am doing a good job of explaining myself</td>
                                </tr>
                                <tr>
                                  <td>You're not making any sense</td><td>Could you help me understand this issue?</td>
                                </tr>
                              </table>
                            </p>
                            </div>
                          </q-modal-layout>
                        </q-modal>
                      </q-item-main>
                    </q-item>
                    <q-item @click.native='$refs.modalEliminate.show()'>
                      <q-item-main >
                        <b>Eliminate blame:</b> "And if we have different perspectives, we can discuss those and develop a plan for moving forward"
                        <q-modal class="maximized modal" ref="modalEliminate">
                          <q-modal-layout>
                            <q-toolbar slot="header">
                              <q-btn flat @click="$refs.modalEliminate.hide()">
                                <q-icon name="keyboard_arrow_left" />
                              </q-btn>
                              <div class="q-toolbar-title">
                                Eliminating Blame
                              </div>
                            </q-toolbar>
                            <div class="modalContent">
                              <p class="caption">
                                The goal is delivering the constructive feedback is to focus on a solution and not to make employees feel bad for whatever they may have done or thought (most likely they already do).
                              </p>
                              <p class="caption">
                                Even if perspective are different you can still work together to come up with a plan in a positive direction. For example, "I see we have different opinions on this. That's fine, but let's work together to find a resolution.
                              </p>
                            </div>
                          </q-modal-layout>
                        </q-modal>
                      </q-item-main>
                    </q-item>
                    <q-item  @click.native='$refs.modalAffirm.show()'>
                      <q-item-main>
                        <b>Affirm their control:</b> "Does that sound OK to you"?
                        <q-modal class="maximized modal" ref="modalAffirm">
                          <q-modal-layout>
                            <q-toolbar slot="header">
                              <q-btn flat @click="$refs.modalAffirm.hide()">
                                <q-icon name="keyboard_arrow_left" />
                              </q-btn>
                              <div class="q-toolbar-title">
                                Affirming their control
                              </div>
                            </q-toolbar>
                            <div class="modalContent" >
                            <p class="caption">
                              To keep people fully engaged in a conversation that involves constructive feedback, reaffirm that they have some control over the situation by asking them "Does that sound OK?"
                            </p>
                            <p class="caption">
                              This also reminds employees that you care about how they are doing (sincere about invite to be a partner in a dialog) and what they are thinking.
                            </p>
                            <p class="caption">
                              In addition, it is a quick check to find out that the conversation is off-track "No, that doesn't sound OK to me". You need to backtrack and fix this situation before you move on.
                            </p>
                            </div>
                          </q-modal-layout>
                        </q-modal>
                      </q-item-main>
                    </q-item>
                    <q-item @click.native='$refs.modalListCorrectFeedback.show()'>
                      <q-item-main>
                        <b>List corrective feedback:</b> "The behavior I am seeing is X, Y, Z and what I need to see is A, B, C"
                        <q-modal class="maximized modal" ref="modalListCorrectFeedback">
                          <q-modal-layout>
                            <q-toolbar slot="header">
                              <q-btn flat @click="$refs.modalListCorrectFeedback.hide()">
                                <q-icon name="keyboard_arrow_left" />
                              </q-btn>
                              <div class="q-toolbar-title">
                                Listing correct feedback
                              </div>
                            </q-toolbar>
                            <div class="modalContent">
                            <p class="caption">
                              Ensure the feedback:
                              <ol>
                                <li>Makes perfect sense</li>
                                <li>Holds up to logical scrutiny</li>
                                <li>Is understandable</li>
                                <li>Teaches sufficiently</li>
                              </ol>
                            </p>
                            <p class="caption">
                              Never assume there is a thorough understanding of anything for which employees can be punished or fired.
                            </p>
                            <p class="caption">
                              If something is not optional and if you will hold the employees accountable if they don't do it, you must give clear and logical feedback.
                            </p>
                            <p class="caption">
                              You will kill employee morale if you withheld critical information (failed to provide clear directions) and then kept employee accountable for failing to meet expectations.
                            </p>
                            <p class="caption">
                              Explain why (when possible, as this is more important that what) and put this in writing. It’s always a good idea to follow up constructive feedback in writing, including the why to guarantee that none of important details get lost. It also ensures that there is no disputing what was said.
                            </p>
                            </div>
                          </q-modal-layout>
                        </q-modal>
                      </q-item-main>
                    </q-item>
                    <q-item @click.native='$refs.modalListSync.show()'>
                      <q-item-main>
                        <b>Synchronize your understanding:</b> "Tell me how you think we can work together to build on this and make things even more effective next time"
                        <q-modal class="maximized modal" ref="modalListSync">
                          <q-modal-layout>
                            <q-toolbar slot="header">
                              <q-btn flat @click="$refs.modalListSync.hide()">
                                <q-icon name="keyboard_arrow_left" />
                              </q-btn>
                              <div class="q-toolbar-title">
                                Synchronizing your understanding
                              </div>
                            </q-toolbar>
                            <div class="modalContent" >
                              <p class="caption">
                                This is where dialog aspect of the feedback kicks in. Ask "Tell me how you think we can work together to build on this and make things even more effective next time". There is no overbearing rant being pulled. There is not "shut up and follow orders".  It's just an invite to work together and to make things better. The open ended question encourages discussion.
                              </p>
                              <p class="caption">
                                Compare to "Do you understand my feedback" - which is sounding condescending, is close ended (so besides "yes/no" you wont hear anything that may tell you if the employee understood the feedback), so doesn't lead to a dialog and is guaranteed to raise defensiveness and shut down effectiveness
                              </p>
                            </div>
                          </q-modal-layout>
                        </q-modal>
                        <p class='caption' style="font-style:italic;text-decoration:underline;font-size:11px;margin-left:3em">
                        (Source: Murphy, Mark. Hundred Percenters:  Challenge Your Employees to Give It Their All, and They'll Give You Even More)
                      </p>
                      </q-item-main>
                    </q-item>
                  </q-list>
                </div>
              </q-modal-layout>
            </q-modal>
        </q-card-main>
      </q-card>
      </q-collapsible>
      <q-collapsible icon="chevron_right" label="Provide Positive Reinforcement">
      <q-card>
        <q-card-main>
          <p class="caption">
            Positive reinforcement is NOT praise, and it's not warm and fuzzy. It's a teaching tool that addresses a well-documented psychological principle that says that desirable behavior - when reinforced - gets repeated.
          </p>
          <p class="caption">
            Most leaders wait until something goes wrong before  they even  think about giving employee feedback. And then it's  only negative. Negative reinforcement can work  to cease unwanted behavior, but it does nothing to optimize performance, nor is it as powerful a teaching tool as positive reinforcement.
          </p>

            <q-btn flat icon='info' color='primary' @click='$refs.modalMoreInfoPositiveReinforcement.show()'>More Info</q-btn>
            <q-modal class="maximized modal" ref="modalMoreInfoPositiveReinforcement">
              <q-modal-layout>
                <q-toolbar slot="header">
                  <q-btn flat @click="$refs.modalMoreInfoPositiveReinforcement.hide()">
                    <q-icon name="keyboard_arrow_left" />
                  </q-btn>
                  <div class="q-toolbar-title">
                    More on positive reinformcement
                  </div>
                </q-toolbar>
                <div class="modalContent" >

                  <p class="caption">
                    According to the study cited in the Hundred Percenters book, "61% of employees say their boss does a lousy job of recognizing and acknowledging their accomplishments", so to provide effective positive reinforcement, ensure it is:
                  </p>

                  <p>Meaningful</p>
                  <ul class="caption">
                    <li>
                      Don't complement on work that was not either challenging nor even done by a person. It is not going to be genuine or worthy, and people will feel it too.
                    </li>
                    <li>
                      Ensures that 100% effort people do not get the same feedback as those only invest 50-75% effort. When this happens it demotivates the former and shows the latter that there is no reason to make a harder effort.
                    </li>
                  </ul>
                  <p>Specific:</p>
                  <ul class="caption">
                    <li>
                      Generic prases like "Great Job!" will not going to make it. They are too generic. In order for positive reinforcement to kick in, the person needs to know exactly what action /activities caused the praise.
                    </li>
                  </ul>
                  <p>Timely:</p>
                  <ul class="caption">
                    <li>
                      Positive reinforcement depends on a brain connection that associates reward with a desired behavior. If you wait for too long, you will loose the chance to make that connection.
                    </li>
                  </ul>
                  <p>Free of criticism:</p>
                  <ul class="caption">
                    <li>
                      Positive reinforcement is about being in a moment and having something done right: don't waste the opportunity by trying to turn it into a buffer for bad news. Plus, all these 'sandwitch techniques' don't work as they produced "mixed" messages. The person should clearly get positively reinforced for things done right, and in other circumstances clearly accepts accountabily and is open for a constractive feedback.
                    </li>
                  </ul>
                    <p style="font-style:italic;text-decoration:underline;font-size:11px;margin-left:3em">
                    (Source: Murphy, Mark. Hundred Percenters:  Challenge Your Employees to Give It Their All, and They'll Give You Even More)
                  </p>
                </div>
              </q-modal-layout>
            </q-modal>
        </q-card-main>
      </q-card>
      </q-collapsible>
      </q-list>
    </q-collapsible>
  </q-list>
</template>
<script>
export default {
  data () {
    return {
      modalMorePutPeopleIntoRolesOpen: false
    }
  }
}
</script>
