<template>
  <div class="q-pa-md">
    <q-field>
      <q-input v-model="model.first_name" float-label="First Name" />
    </q-field>

    <q-field>
      <q-input v-if='short!==""' v-model="model.last_name" float-label="Last Name" />
    </q-field>

    <q-field v-if='short!==""'>
      <q-input v-model="model.role" float-label="Role" />
    </q-field>

    <q-field v-if='short!==""'>
      <q-input v-model="model.email" float-label="Email" />
      <template v-if="viewAction === 'EDIT' && !isMyProfile">
        <p v-if="isMemberInvited" class="q-mt-sm">
          <span v-if="memberExists" class="text-green">(Invitation accepted)</span>
          <span v-else class="text-orange">(Invitation pending)</span>
        </p>
        <div v-else class="q-mt-sm">
          <q-btn
            v-if="!memberExists"
            color="secondary"
            size="sm"
            @click="inviteMember(model.email)"
          >
            Invite
          </q-btn>
          <span v-else class="text-blue">(Existing user)</span>
        </div>
      </template>
    </q-field>
    <q-field v-if='short!==""'>
      <q-input v-model="model.manager" float-label="Reporting Manager" type="text"/>
    </q-field>
    <q-field v-if='short!==""'>
      <q-input v-model="model.notes" float-label="Notes" type="textarea" rows='5' />
    </q-field>
    <q-field v-if='short!==""'>
      <q-toggle v-model="model.advanced_mode" label="Show experimental features" />
    </q-field>
    <q-field v-if='short!==""'>
      <q-toggle v-if='isMyProfile' v-model="model.is_manager" label="I am a manager and lead other people" />
    </q-field>
    <q-field class='q-pa-md'>
      <q-btn v-if="viewAction === 'EDIT'" @click='updateMember' color='primary'>
        update
      </q-btn>
      <q-btn v-else @click='addMember' color='primary'>Add new member</q-btn>
    </q-field>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      model: {...this.$store.state.models.member},
      memberExists: false
    }
  },
  props: ['member', 'viewAction', 'showToolbar', 'short'],
  computed: {
    ...mapGetters(['']),
    isMemberInvited: {
      get () {
        return this.model.is_invited
      },
      set (value) {
        this.model.is_invited = value
      }
    },
    isMyProfile () {
      try {
        return this.id === this.$store.state.user.uid
      } catch (ex) {
        return false
      }
    }
  },
  methods: {
    addMember () {
      this.$store.dispatch('addMember', {
        teamId: this.$store.state.team.id,
        member: this.model
      })
      this.resetForm()
      this.$emit('action', 'ADD')
    },
    updateMember (options = { keepOpen: false }) {
      this.$store.dispatch('updateMember', {
        teamId: this.$store.state.team.id,
        member: this.model
      })
      if (!options.keepOpen) {
        this.$emit('action', 'UPDATE')
      }
    },
    inviteMember () {
      const email = this.model.email
      if (email) {
        console.log(`[MemberForm] sending invitation to ${email}`)
        this.isMemberInvited = true
        this.updateMember({ keepOpen: true })
        this.sendInvitationEmail(email)
      } else {
        console.error('[MemberForm] Error sending invitation. Email field is wrong!')
      }
    },
    sendInvitationEmail (email) {
      const sendEmail = this.$functions.httpsCallable('sendInvitationEmail')
      sendEmail({ email })
        .then((feedback) => {
          console.log(feedback)
        })
        .catch(err => {
          console.error(err)
        })
    },
    injectMember () {
      this.model = this.member
    },
    resetForm () {
      this.model = {...this.$store.state.models.member}
    },
    checkMemberExistence () {
      return this
        .$db
        .collection('users')
        .where('email', '==', this.member.email || '')
        .get()
        .then((querySnapshot) => {
          this.memberExists = querySnapshot.size > 0
        })
    }
  },
  created () {
    if (this.viewAction === 'EDIT') {
      this.injectMember()
      if (!this.isMyProfile) {
        this.checkMemberExistence()
      }
    }
  }
}
</script>
