<template>
  <q-item>
    <q-item-side avatar>
      <img v-if='model.picture' :src="model.picture" width='35px' />
      <vue-avatar v-else :fullname="this.name" :size="size" />
    </q-item-side>

    <q-item-main>
      <a @click='selected' class="cursor-pointer">
        <q-item-tile label>{{name}}</q-item-tile>
        <q-item-tile sublabel>
          {{model.role ? model.role: 'No Role'}}
        </q-item-tile>
      </a>
    </q-item-main>

    <q-item-side v-if="viewAction !== 'EDIT'"  >
      <q-item-tile>
        <q-icon v-if="memberNeedsAttn(model.id, 'ALL')" name="error" color="red"/>
        <q-icon v-else icon="check_circle" color="green"/>
        <q-btn  v-if="$store.state.editMode" flat @click='deleteMember(model)' icon='delete' color="red" />
      </q-item-tile>
    </q-item-side>

    <q-item-side v-if="showTeam">
      <q-item-tile>
        {{showTeam ? `@${model.teamName}` : ''}}
      </q-item-tile>
    </q-item-side>

  </q-item>
</template>

<script>

import { mapGetters } from 'vuex'
import VueAvatar from 'vue-avatar-component'

export default {
  props: ['model', 'viewAction', 'showTeam'],
  components: {
    VueAvatar
  },
  data () {
    return {
      size: 35
    }
  },
  computed: {
    ...mapGetters([
      'memberNeedsAttn'
    ]),
    name () {
      return this.model.first_name + ' ' + (this.model.last_name || '')
    }
  },
  methods: {
    deleteMember (member) {
      this.$q.dialog({
        title: 'OK to delete?',
        message: 'All information will be deleted',
        ok: true,
        cancel: true
      }).then(() => {
        this.$store.dispatch('deleteMember', {
          teamId: this.$store.state.team.id,
          member
        })
      }).catch(() => {
      })
    },
    selected () {
      this.$emit('selected', this.model)
    }
  }
}
</script>
