<template>
  <div>
  <q-carousel arrows dots class="full-height" >
    <q-carousel-slide v-for="(pType, i) in personalityTypes" :key='i' class="centered">
      <h3>{{pType.name}} <span>
      <q-btn flat color='primary' @click="onSelected(pType.code)">select</q-btn>
      </span></h3>
      <div class='scroll'>
        <p class='caption'>{{pType.description | replaceAll("_NAME_", model.first_name)}}</p>
        <img style="display:block; margin:1em auto" height="150px" :src='"statics/assets/img/worker/"+ String(pType.code).toLowerCase() + ".jpg"'/>
        <p class='caption'>{{pType.analysis | replaceAll("_NAME_", model.first_name)}}</p>
      </div>
    </q-carousel-slide>
  </q-carousel>
  </div>
</template>

<script>
import personalityTypes from 'src/constants/PersonalityTypes.json'

export default {
  props: ['member'],
  data () {
    return {
      model: null,
      personalityTypes
    }
  },
  methods: {
    onSelected (code) {
      this.model.personality_type = code
      this.$store.dispatch('updateMember', {
        teamId: this.$store.state.team.id,
        member: this.model
      })
      this.$emit('action', 'SELECTED')
    }
  },
  created () {
    this.model = this.member
  }
}
</script>
