<template>
    <div>
      <intro :whyImportant='whyImportant' :keyPoints='keyPoints'></intro>

        <q-tabs inverted>
          <q-tab slot="title" name="today" label='Today'  />
          <q-tab slot="title" name="tomorrow" label='Tomorrow'  />
          <q-tab slot="title" name="week" label='This Week'  />
          <q-tab slot="title" name="nextWeek" label='Next Week'  />
          <q-tab slot="title" name="month" label='This Month'  />

          <q-tab-pane name="today">
            <quote :quotes='keyPoints'></quote>
          </q-tab-pane>
          <q-tab-pane name="week">
            <quote :quotes='keyPoints'></quote>
          </q-tab-pane>
          <q-tab-pane name="nextWeek">
            <quote :quotes='keyPoints'></quote>
          </q-tab-pane>
          <q-tab-pane name="month">
            <quote :quotes='keyPoints'></quote>
          </q-tab-pane>
          <q-tab-pane name="nextMonth">
            <quote :quotes='keyPoints'></quote>
          </q-tab-pane>
      </q-tabs>

    </div>
</template>

<script>
import Intro from 'components/Intro.vue'
import Quote from 'components/Quote.vue'

export default {
  components: {
    Intro,
    Quote
  },
  data () {
    return {
      whyImportant: [
        {
          'title': 'Do not climb the wrong ladder',
          'body': 'It’s incredibly easy to get caught up in an activity trap, in the busyness of life, to work harder and harder at climbing the ladder of success only to discover it’s leaning against the wrong wall. It is possible to be busy—very busy—without being very effective.',
          'author': 'Stephen R. Covey',
          'ref': '7 Habits of Highly Effective People, locations 1389',
          'source': 'https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/0743269519',
          'type': 'book'
        },
        {
          'title': 'Management vs Leadership',
          'body': 'Management is efficiency in climbing the ladder of success; leadership determines whether the ladder is leaning against the right wall...',
          'author': 'Stephen R. Covey',
          'ref': '7 Habits of Highly Effective People, location 1445',
          'source': 'https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/0743269519',
          'type': 'book'
        }
      ],
      keyPoints: [
        {
          'title': 'Principle - All things are created twice',
          'body': 'There is a mental (or first) creation and a physical (or second) creation. The second creation follows from the first, just as a building follows from a blueprint. It’s the same in your personal life. If you don’t make a conscious effort to visualize who you are and what you want in life, then you empower other people and circumstances to shape you and your life by default.',
          'author': 'Stephen R. Covey',
          'ref': '7 Habits of Highly Effective People Personal Workbook, locations 38',
          'source': 'https://www.amazon.com/Habits-Highly-Effective-Personal-Workbook-ebook/dp/B000QW7R94/',
          'type': 'book'
        },
        {
          'title': 'Begin with the end in mind to find the ladder',
          'body': 'If the ladder is not leaning against the right wall, every step we take just gets us to the wrong place faster. We may be very busy, we may be very efficient, but we will also be truly effective only when we begin with the end in mind.',
          'author': 'Stephen R. Covey',
          'ref': '7 Habits of Highly Effective People, locations 1396',
          'source': 'https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/0743269519',
          'type': 'book'
        },
        {
          'title': 'To find definition of success, imagine your own funeral...',
          'body': 'There are to be four speakers. The first is from your family, second is one of your friends, third is your collegue, and the fourth is from your church or community. If you carefully consider what you wanted to be said of you in the funeral experience, you will find your definition of success.',
          'author': 'Stephen R. Covey',
          'ref': 'Adopted from 7 Habits of Highly Effective People, locations 1362, 1398',
          'source': 'https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/0743269519',
          'type': 'book'
        },
        {
          'title': 'Purpuse and Direction vs Control and Efficiency',
          'body': '...Parents are also trapped in the management paradigm, thinking of control, efficiency, and rules instead of direction, purpose, and family feeling. And leadership is even more lacking in our personal lives. We’re into managing with efficiency, setting and achieving goals before we have even clarified our values.',
          'author': 'Stephen R. Covey',
          'ref': 'Adopted from 7 Habits of Highly Effective People, locations 1362, 1398',
          'source': 'https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/0743269519',
          'type': 'book'
        }
      ]
    }
  }
}
</script>
