<template>
  <div id="q-app">
    <router-view :key="$route.path"/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
<!-- Global site tag (gtag.js) - Google Ads: 857991491 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-857991491"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-857991491');
</script>

<!-- Event snippet for Logins conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-857991491/yqZvCKD5jJYBEMPSj5kD',
      'event_callback': callback
  });
  return false;
}
</script>
<!-- Start of Survicate (www.survicate.com) code -->
<script type="text/javascript">
  (function (w) {
    var s = document.createElement('script');
    s.src = '//survey.survicate.com/workspaces/b00c80d0463532dd48e201b6dd597829/web_surveys.js';
    s.async = true;
    var e = document.getElementsByTagName('script')[0];
    e.parentNode.insertBefore(s, e);
  })(window);
</script>
<!-- End of Survicate code -->

<style>
</style>
