<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar v-if="$store.state.layoutToolbarVisible">

        <!-- Left Side navigation -->
        <app-side-navigation :leftDrawerOpen.sync='leftDrawerOpen' :backButtonVisible='backButtonVisible' />
        <!-- TitleBar -->
        <app-toolbar-title :title='title' :getInfo='getInfo' />

        <!-- right sidebar menu -->
        <app-user-menu />

      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <app-menu />
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import AppMenu from 'components/AppMenu'
import AppSideNavigation from 'components/AppSideNavigation'
import AppUserMenu from 'components/AppUserMenu'
import AppToolbarTitle from 'components/AppToolbarTitle'
import VueAvatar from 'vue-avatar-component'
import Info from 'components/Info'
import CommonLayoutFunction from '../mixins/commonLayoutFunction.vue'

export default {
  mixins: [CommonLayoutFunction],
  name: 'MyLayout',
  components: {
    AppMenu,
    VueAvatar,
    Info,
    AppUserMenu,
    AppToolbarTitle,
    AppSideNavigation
  },
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
.app-slider {
  float:left;
  width:85%;
  padding-top:1em
}
.citation {
  margin-top: 2em;
  font-size: small;
  font-style: italic;
  margin-left: 3em;
}
.modalContent {
  margin-top:2em;
  margin-left:2em;
  margin-right:2em;
}
  .app-layout {
    max-width:600px;
    margin:auto;
  }
  .modal {
    max-width:600px;
    margin:auto;
  }
</style>
