<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar v-if="$store.state.layoutToolbarVisible">

        <!-- Left Side navigation -->
        <app-side-navigation :leftDrawerOpen.sync='leftDrawerOpen' :backButtonVisible='backButtonVisible' />
        <!-- TitleBar -->
        <!-- Theme Selection Area  -->
        <q-btn v-if='user()' round color="primary"  class="q-mr-sm">
          <q-icon name="color_lens" />
          <q-popover>
            <q-list link separator class="scroll" style="min-width: 100px">
              <q-item link tag="label" v-close-overlay v-for="(item,i) in options" :key="i">
                <q-item-side>
                  <q-radio dark v-model="theme" @input='saveTheme' :val="item.value" />
                </q-item-side>
                <q-item-main :label="item.label" />
              </q-item>
            </q-list>
          </q-popover>
        </q-btn>
        <app-toolbar-title :title='title' :getInfo='getInfo' />
        <!-- Previous format just kept for your decision -->
        <!-- <q-field>
          <q-btn-toggle
            v-model="theme"
            @input='saveTheme'
            no-caps
            toggle-color="light-blue"
            :options="options"
          />
        </q-field> -->

        <!-- right sidebar menu -->
        <app-user-menu />

      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <app-menu />
    </q-layout-drawer>

    <q-page-container>
      <router-view :theme.sync='theme' />
    </q-page-container>

  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import AppMenu from 'components/AppMenu'
import AppSideNavigation from 'components/AppSideNavigation'
import AppUserMenu from 'components/AppUserMenu'
import AppToolbarTitle from 'components/AppToolbarTitle'
import VueAvatar from 'vue-avatar-component'

import CommonLayoutFunction from '../mixins/commonLayoutFunction.vue'
import { mapGetters } from 'vuex'

export default {
  mixins: [CommonLayoutFunction],
  name: 'PlaybookLayout',
  components: {
    AppMenu,
    VueAvatar,
    AppUserMenu,
    AppToolbarTitle,
    AppSideNavigation
  },
  computed: {
    ...mapGetters(['user'])
  },
  data () {
    return {
      theme: '',
      options: [
        {label: 'Corporate', value: 'corp'},
        {label: 'Startup', value: 'soft'},
        {label: 'Playfull', value: 'playfull'},
        {label: 'Serious', value: 'serious'}
      ],
      leftDrawerOpen: false
    }
  },
  methods: {
    openURL,
    setTheme (theme) {
      this.theme = theme
    },
    saveTheme () {
      try {
        // save will fire only for logged in user
        if (this.$store.state.user.uid) {
          this.$store.dispatch('updatePlaybook', { theme: this.theme })
        }
      } catch (ex) {
        // console.log('ex ', ex)
      }
    }
  }
}
</script>

<style>
.citation {
  margin-top: 2em;
  font-size: small;
  font-style: italic;
  margin-left: 3em;
}
.modalContent {
  margin-top:2em;
  margin-left:2em;
  margin-right:2em;
}
  .app-layout {
    max-width:600px;
    margin:auto;
  }
  .modal {
    max-width:600px;
    margin:auto;
  }
</style>
