@import url("https://fonts.googleapis.com/css?family=Cairo");
body {
  background-color: #8a98b3;
  width: 100%;
  margin: 0;
}

body p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

hr {
  margin: 1em auto;
  opacity: 0.2;
  width: 80%;
}

.container {
  background-color: #f0eeee;
  width: 85vw;
  margin: 1em auto;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.title-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  -webkit-box-shadow: 0 8px 15px -5px rgba(50, 50, 93, 0.4), 0 8px 16px -8px rgba(0, 0, 0, 0.4), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
          box-shadow: 0 8px 15px -5px rgba(50, 50, 93, 0.4), 0 8px 16px -8px rgba(0, 0, 0, 0.4), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title-container:hover {
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
          box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.title {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.1em;
  padding: 1em 0;
  text-align: center;
  height: 50%;
  border-top: 8px solid #495770;
  color: #495770;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.title h2 {
  font-size: 2em;
}

.title a {
  margin-left: 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #495770;
  position: relative;
}

.title a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #495770;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.title img {
  height: 1em;
}

.title h2 {
  font-weight: 700;
  padding: 0 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.authors {
  padding: 0 1em;
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.authors p {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.purpose {
  padding-top: 0.3em;
  margin: 1.5em;
}

.purpose h3 {
  font-family: "Fira Sans", sans-serif;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  color: #495770;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.purpose h3 button {
  background-color: transparent;
  border: none;
}

.purpose h3 button img {
  height: 1.1em;
}

.purpose h3 button:hover {
  cursor: pointer;
}

.purpose h5 {
  font-family: "Fira Sans";
  letter-spacing: 0.2em;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #6d7d8a;
}

.purpose img {
  height: 10em;
}

.purpose:hover h3 {
  font-size: 1.5em;
}

.services {
  margin: 1.5em;
}

.services h3 {
  font-family: "Fira Sans", sans-serif;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  color: #495770;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services h3 button {
  background-color: transparent;
  border: none;
}

.services h3 button img {
  height: 1.1em;
}

.services h3 button:hover {
  cursor: pointer;
}

.services h5 {
  font-family: "Fira Sans";
  letter-spacing: 0.2em;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #6d7d8a;
}

.services img {
  height: 10em;
}

.services:hover h3 {
  font-size: 1.5em;
}

.services h3 button {
  top: 0;
  right: 0;
  left: 0.2em;
}

.values {
  margin: 1.5em;
}

.values h3 {
  font-family: "Fira Sans", sans-serif;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  color: #495770;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.values h3 button {
  background-color: transparent;
  border: none;
}

.values h3 button img {
  height: 1.1em;
}

.values h3 button:hover {
  cursor: pointer;
}

.values h5 {
  font-family: "Fira Sans";
  letter-spacing: 0.2em;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #6d7d8a;
}

.values img {
  height: 10em;
}

.values:hover h3 {
  font-size: 1.5em;
}

.values .topic-title {
  color: #6d7d8a;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-bottom: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.values .topics div:hover h4 {
  font-size: 1.2em;
}

.values .topics img {
  margin-right: 0.4em;
  height: 0.7em;
}

.values p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-align: left;
  padding-left: 1em;
  line-height: 120%;
}

.focus {
  margin: 1.5em;
  position: relative;
}

.focus h3 {
  font-family: "Fira Sans", sans-serif;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  color: #495770;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.focus h3 button {
  background-color: transparent;
  border: none;
}

.focus h3 button img {
  height: 1.1em;
}

.focus h3 button:hover {
  cursor: pointer;
}

.focus h5 {
  font-family: "Fira Sans";
  letter-spacing: 0.2em;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #6d7d8a;
}

.focus img {
  height: 10em;
}

.focus:hover h3 {
  font-size: 1.5em;
}

.focus .topics div:hover h4 {
  font-size: 1.2em;
}

.focus .topics img {
  margin-right: 0.4em;
  height: 0.7em;
}

.focus .topic-title {
  color: #6d7d8a;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-bottom: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.focus p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-align: left;
  padding-left: 1em;
  line-height: 120%;
}

.strategy {
  margin: 1.5em;
  position: relative;
}

.strategy h3 {
  font-family: "Fira Sans", sans-serif;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  color: #495770;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.strategy h3 button {
  background-color: transparent;
  border: none;
}

.strategy h3 button img {
  height: 1.1em;
}

.strategy h3 button:hover {
  cursor: pointer;
}

.strategy h5 {
  font-family: "Fira Sans";
  letter-spacing: 0.2em;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #6d7d8a;
}

.strategy img {
  height: 10em;
}

.strategy:hover h3 {
  font-size: 1.5em;
}

.strategy .topic-title {
  color: #6d7d8a;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-bottom: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.strategy .topics div:hover h4 {
  font-size: 1.2em;
}

.strategy .topics img {
  margin-right: 0.4em;
  height: 0.7em;
}

.strategy p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-align: left;
  padding-left: 1em;
  line-height: 120%;
}

.decisions {
  margin: 1.5em;
  position: relative;
}

.decisions h3 {
  font-family: "Fira Sans", sans-serif;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
  color: #495770;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.decisions h3 button {
  background-color: transparent;
  border: none;
}

.decisions h3 button img {
  height: 1.1em;
}

.decisions h3 button:hover {
  cursor: pointer;
}

.decisions h5 {
  font-family: "Fira Sans";
  letter-spacing: 0.2em;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #6d7d8a;
}

.decisions img {
  height: 10em;
}

.decisions:hover h3 {
  font-size: 1.5em;
}

.decisions .topic-title {
  color: #6d7d8a;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-bottom: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.decisions .topics div:hover h4 {
  font-size: 1.2em;
}

.decisions .topics img {
  margin-right: 0.4em;
  height: 0.7em;
}

.decisions p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-align: left;
  padding-left: 1em;
  line-height: 120%;
}

@media (min-width: 840px) {
  .container {
    width: 50vw;
  }
  #divider {
    width: 50%;
    max-height: 2em;
  }
  .purpose {
    margin-top: 2em;
    padding-top: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .purpose img {
    height: 12em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .purpose section {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .services section {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .services img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: 12em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .services h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .values {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .values section {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .values img {
    height: 12em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .values .topics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .focus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .focus section {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .focus img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: 12em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .focus h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .focus .topics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .strategy {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .strategy section {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .strategy img {
    height: 12em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .strategy h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .strategy .topics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .decisions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .decisions div:hover h4 {
    font-size: 1em;
  }
  .decisions div:hover p {
    font-size: 1.1em;
  }
  .decisions section {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .decisions img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: 12em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .decisions .topics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 40vw;
  }
}
/*# sourceMappingURL=style-serious.css.map */