@import url("https://fonts.googleapis.com/css?family=Cairo");

$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin section-title {
  margin: 1.5em;
  h3 {
    font-family: "Fira Sans", sans-serif;
    margin-block-end: 0.4em;
    color: #495770;
    font-weight: 700;
    transition: 0.3s;
    button {
      background-color: transparent;
      border: none;
      img {
        height: 1.1em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  h5 {
    font-family: "Fira Sans";
    letter-spacing: 0.2em;
    font-weight: 500;
    margin-block-start: 0;
    color: #6d7d8a;
    // color: rgb(140, 140, 140);
  }
  img {
    height: 10em;
  }
  &:hover {
    h3 {
      font-size: 1.5em;
    }
  }
}

@mixin topic-title {
  color: #6d7d8a;
  // color: #8396a7;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  margin-block-end: 0;
  margin-bottom: 1em;
  transition: 0.3s;
}

@mixin topic-bullet {
  div {
    &:hover {
      h4 {
        font-size: 1.2em;
      }
    }
  }
  img {
    margin-right: 0.4em;
    height: 0.7em;
  }
}

body {
  background-color: #8a98b3;
  width: 100%;
  margin: 0;
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
  }
}

hr {
  margin: 1em auto;
  opacity: 0.2;
  width: 80%;
}

.container {
  background-color: #f0eeee;
  width: 85vw;
  margin: 1em auto;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.title-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  box-shadow: 0 8px 15px -5px rgba(50, 50, 93, 0.4),
    0 8px 16px -8px rgba(0, 0, 0, 0.4), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.title {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.1em;
  padding: 1em 0;
  text-align: center;
  height: 50%;
  border-top: 8px solid #495770;
  color: #495770;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  h2 {
    font-size: 2em;
  }
  a {
    margin-left: 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #495770;
    position: relative;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #495770;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  img {
    height: 1em;
  }
  h2 {
    font-weight: 700;
    padding: 0 1em;
    transition: 0.3s;
  }
}
.authors {
  padding: 0 1em;
  background-color: rgb(245, 245, 245);
  display: grid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  p {
    justify-self: center;
    align-self: center;
    margin-block-start: 0em;
    margin-block-end: 0;
  }
}

.purpose {
  padding-top: 0.3em;
  @include section-title();
}

.services {
  @include section-title();
  h3 {
    button {
      top: 0;
      right: 0;
      left: 0.2em;
    }
  }
}

.values {
  @include section-title();

  .topic-title {
    @include topic-title();
  }

  .topics {
    @include topic-bullet();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

.focus {
  @include section-title();
  position: relative;

  .topics {
    @include topic-bullet();
  }
  .topic-title {
    @include topic-title();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

.strategy {
  @include section-title();
  position: relative;

  .topic-title {
    @include topic-title();
  }
  .topics {
    @include topic-bullet();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

.decisions {
  @include section-title();
  position: relative;

  .topic-title {
    @include topic-title();
  }
  .topics {
    @include topic-bullet();
  }

  p {
    margin-block-start: 0;
    text-align: left;
    padding-left: 1em;
    line-height: 120%;
  }
}

// Desktop Media

@include desktop {
  .container {
    width: 50vw;
  }

  #divider {
    width: 50%;
    max-height: 2em;
  }

  .purpose {
    margin-top: 2em;
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    img {
      height: 12em;
      grid-column: 1/2;
      grid-row: 1/3;
      align-self: center;
      justify-self: center;
    }

    section {
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }
  }

  .services {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }
    img {
      grid-row: 1/3;
      grid-column: 2/3;
      height: 12em;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
    }
  }

  .values {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }
    img {
      height: 12em;
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .focus {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }

    img {
      grid-row: 1/2;
      grid-column: 2/3;
      height: 12em;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
    }
  }

  .strategy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    section {
      display: grid;
      align-content: center;
    }
    img {
      height: 12em;
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
    }

    h3 {
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
    }
  }

  .decisions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    div {
      &:hover {
        h4 {
          font-size: 1em;
        }
        p {
          font-size: 1.1em;
        }
      }
    }

    section {
      display: grid;
      align-content: center;
    }

    img {
      grid-row: 1/2;
      grid-column: 2/3;
      height: 12em;
      align-self: center;
      justify-self: center;
    }

    .topics {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

$desktop-big: 1800px;
@mixin desktop-big {
  @media (min-width: #{$desktop-big}) {
    @content;
  }
}
@include desktop-big {
  .container {
    width: 40vw;
  }
}
